{% extends "site_base.html" %}

{% block content %}

<h1>Profile: {{ profile.user }}</h1>

<p>{{ profile.real_name }}</p>
<p>Points: {{ profile.points }}</p>

{% for a in profile.artifacts.all %}
    <img src="{{ a.image.url }}" />
{% endfor %}
<br/>

{% if can_challenge %}
<a href="{% url games.challenge.views.launch profile.user_id %}">Challenge</a> <br/>
{% endif %}
{% ifnotequal profile userprofile %}
<a href="{% url wouso.core.profile.views.message_compose profile.user_id %}">Message</a><br/>
{% endifnotequal %}

{% ifequal profile userprofile %}
<a href="{% url core.profile.views.messages %}">Messaging</a>
{% endifequal %}

{% endblock %}
