{% extends 'interface/section_base.html' %}
{% load i18n %}

{% block title %}{% trans 'Question of the Day' %}{% endblock %}
{% block sectiontitle %}{% trans 'Question of the Day' %}{% endblock %}

{% block sectioncontent %}

{% if question %}
{% autoescape off %}
<p>{{ question|safe }}</p>
<div class="answers">
<ul>
{% for a in question.answers %}
    <li {% ifequal a choice %}class={% if a.correct %}"ok"{% else %}"wrong"{% endif %}{% endifequal %}>
        <input type=radio disabled {% ifequal a choice %}checked{% endifequal %} id="qotd_a_{{a.id}}" />
        <label for="qotd_a_{{a.id}}" class="{% ifequal a choice %}bold{% endifequal %}">{% if a.correct %}[{% trans 'correct' %}] {% endif %}{{ a|safe }}</label>
    </li>
{% endfor %}
</ul>
</div>

<!--
Your choice: {{ choice }}
{% if valid %} (correct){% else %} (wrong){% endif %}
-->
{% endautoescape %}
{% else %}
    {% trans 'No question for today.' %}
{% endif %}

{% endblock %}
