{% extends 'interface/section_base.html' %}
{% load i18n %}

{% block title %}{% trans 'Question of the Day' %}{% endblock %}
{% block sectiontitle %}{% trans 'Question of the Day' %}{% endblock %}

{% block sectioncontent %}

{% if form.errors %}
<p class="wrong">{% trans 'You must provide an answer' %}</p>
{% endif %}

{% if question %}
<p>{% autoescape off %}{{ question|safe }}{% endautoescape %}</p>
<form method="post" action="{% url qotd_index_view %}">
<div class="answers">
<ul>
    {% for a in question.shuffled_answers %}
        <li><input type=radio name="answers" value="{{ a.id }}" id="qotd_a_{{a.id}}"/>
            <label for="qotd_a_{{a.id}}">{% autoescape off %}{{ a|safe }}{% endautoescape %}</label>
        </li>
    {% endfor %}
</ul>
</div>
<div class="actions">
<button class="default" type="submit">Answer</button>
</div>
{% csrf_token %}
</form>
{% else %}
    {% trans 'No question for today.' %}
{% endif %}

<p><a href="{% url qotd_history_view %}">{% trans 'History' %}</a></p>

{% endblock %}
