{% extends 'interface/sidebar_widget.html' %}
{% load i18n %}

{% block title %}{%  trans 'Question of the Day' %}{% endblock %}

{% block content %}

{% if qotd.disabled %}
    {% trans 'QotD has been disabled' %}
{% else %}
    {% if question %}
        {% if quser.has_answered %}
            {% if quser.last_answer_correct %}
            {% trans 'You have answered correctly for today'%}
            {% else %}
            {% trans 'You have answered wrong for today'%}
            {% endif %}
        {% else %}
        <a href="{% url qotd_index_view %}" class="">{% trans 'Answer now' %}</a>!
        {% endif %}
    {% else %}
        {% trans 'No question for today' %}.
    {% endif %}
{% endif %}
{% endblock %}
