{% extends 'specialchallenge/cpanel/home.html' %}

{% load i18n %}
{% load bootstrap %}

{% block sectioncontent %}

    <h2>Specialchallenge #{{ object.id }}</h2>
    <ol>
        {% for question in object.questions.all %}
        <li>{{ question|safe }}</li>
        {% endfor %}
    </ol>

    <h3>Update</h3>

    <div class="col-md-8">
        <form class="form-horizontal" role="form" action="" method="post">
            {{ form|bootstrap_horizontal }}
            <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
            {% csrf_token %}
        </form>
    </div>

{% endblock %}
