{% extends "site_base.html" %}

{% load i18n %}

{% block title %}
{% trans "Forums" %} - {{block.super}}
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li class="active">{% trans "Forums" %}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{% trans "Forums" %}</h1>
</div>
<table class="table">
    here
    {% for category in category_list %}
    not here
        <thead>
            <tr>
            <th colspan="2"><a name="{{category.id}}">{{category.name}}</a></th>
            <td>{% trans "Last Poster" %}</td>
            <td>{% trans "Topics" %}</td>
            <td>{% trans "Posts" %}</td>
        </tr>
    </thead>
    <tbody>
        {% for forum in category.forums.all %}
        <tr>
            <td style="width: 14px;"><i class="icon-circle-arrow-right" style="margin-top: 1px;"></i></td>
            <td style="width: 70%;">
            <a href="{% url 'forum' forum.id %}">{{forum.name}}</a>
        </td>
        <td>{{forum.get_latest_poster}}</td>
        <td>{{forum.count_topics}}</td>
        <td>{{forum.count_posts}}</td>
        </tr>
        {% endfor %}
    </tbody>
    {% endfor %}
</table>
{% endblock %}
