{% extends 'cpanel/index.html' %}

{% load bootstrap %}
{% load user %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block sectiontitle %}Activity Monitor{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Activity Monitor" "activity monitor" %}
{% endblock %}

{% block scripts %}
    <link href="{{ basepath }} /static/css/tablesorter.css" rel="stylesheet">
{% endblock %}


{% block bottomscripts %}
    <script type="text/javascript" src="{{ basepath }}/static/js/jquery.tablesorter.min.js"></script>
    <script>
        $("#table-list").tablesorter();
        console.log("YO");
    </script>
{% endblock %}

{% block sectioncontent %}

<h3>Filters</h3>
<form class="form-horizontal" action="" method="get" enctype="multipart/form-data">
    <input class="form-control" name="message" placeholder="message query"><br>
    <input class="form-control" name="user_from" placeholder="user_from query"><br>
    <input class="form-control" name="user_to" placeholder="user_to query"><br><br>
    <input type="submit" value="Submit" class="btn btn-primary" />
</form>

<br/>

<table class="table table-bordered table-hover table-condensed tablesorter" id="table-list">
    <thead>
    <tr>
        <th>Timestamp</th>
        <th>User from</th>
        <th>User to</th>
        <th>Game</th>
        <th>Message</th>
    </tr>
    </thead>
    <tbody>
    {% for activity in object_list %}
    <tr>
        <td>{{ activity.timestamp }}</td>
        <td>{{ activity.user_from }}</td>
        <td>{{ activity.user_to }}</td>
        <td>{{ activity.game }}</td>
        {% autoescape off %}
            <td>{{ activity.message }}</td>
        {% endautoescape %}
    </tr>
    {% empty %}
        <tr><td colspan="0">No activity objects found.</td></tr>
    {% endfor %}
    </tbody>
</table>
{% include 'cpanel/pagination.html' %}
{% endblock %}
