{% extends 'cpanel/index.html' %}

{% load user %}
{% load i18n %}
{% load bootstrap %}
{% load django_bootstrap_breadcrumbs %}

{% block sectiontitle %}Add Spell{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
    {% breadcrumb "Spells" "spells" %}
    {% breadcrumb "Add spell" "add_spell" %}
{% endblock %}

{% block sectioncontent %}

    <div class="col-md-8">
        {% if form.errors %}
            <p style="color: red;">
                Please correct the error{{ form.errors|pluralize }} below.
            </p>
        {% endif %}

        <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
            {{ form|bootstrap_horizontal }}
          <input class="btn btn-primary" type="submit" value="Submit">
          <button type="submit" class="btn btn-primary" onclick="history.back(); return false;">{% trans 'Cancel' %}</button> {% csrf_token %}
        </form>
    </div>

{% endblock %}
