{% extends 'cpanel/index.html' %}

{% load user %}

{% block sectiontitle %}Add Answer{% endblock %}

{% block sectioncontent %}

{% if form.errors %}
    <p style="color: red;">
        Please correct the error{{ form.errors|pluralize }} below.
    </p>
{% endif %}

<form method="post" action="">

    {{ form.errors }}

<table>
    <tr><td><label for="text">Text:</label></td>
        <td><textarea id="text" name="text" rows="10" cols="50" readonly='readonly'>{{ question.text}}</textarea>
    </tr>

    </tr>
    {% for a in question.answers %}
    <tr><td><input disabled='disabled' type="checkbox" name="correct_{{a.id}}" {% if a.correct %}checked{% endif %}/></td>
	<td><textarea name="answer_{{a.id}}" cols="50" readonly='readonly'>{{ a.text }}</textarea></td>
    </tr>
    {% endfor %}

    <tr><td><input type="checkbox" name="new_answer_correct"/></td>
	<td><textarea name="new_answer_text" cols="50"></textarea>
    </tr>
</table>

<div class="actions">
    <button onclick="history.back(); return false;">Cancel</button>
    <button type="submit" class="default">Save</button>
</div>
{% csrf_token %}

{% endblock %}
