{% extends 'cpanel/qpool_home.html' %}

{% load i18n %}
{% load bootstrap %}
{% load django_bootstrap_breadcrumbs %}

{% block sectiontitle %}Add question{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Add question" "add_question" %}
{% endblock %}

{% block bottomscripts %}
    <script type="text/javascript" src="{{ basepath }}/static/js/cpanel/qpool/add_question.js/"></script>
    <script src="{{ basepath }}/static/js/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ basepath }}/static/css/cpanel-qpool.css" />

    <script>
        function show(option) {
            if (option.value == 'normal') {
                $('.normal').each(function() {
                    this.style.display = 'block';
                });
                $('.rich').each(function() {
                    this.style.display = 'none';
                });
            }
            else if (option.value == 'rich') {
                $('.rich').each(function() {
                    this.style.display = 'block';
                });
                $('.normal').each(function() {
                    this.style.display = 'none';
                });
            }
        }

        function switch_schedule(option) {
            if (option.value == 'qotd') {
                $('#schedule')[0].style.display = 'block';
            }
            else {
                $('#schedule')[0].style.display = 'none';
            }
        }
    </script>
{% endblock %}

<!-- Disable search bar. -->
{% block searchbar %}
{% endblock %}

{% block subsectioncontent %}
    <div class="col-md-12">

        <form class="form-horizontal" method="post">
            <p class="formfield">
                <label>Select question text type</label>
                <select name="text_type" onclick="show(this)">
                    <option selected value="normal">Normal</option>
                    <option value="rich">Rich</option>
                </select>
            </p>

            <div class="formfield normal">
                <label>Insert question text</label>
                {{ form.text }}
                <hr />
            </div>

            <div class="formfield rich" style="display: none">
                <label>Insert question rich text</label>
                <textarea name="rich_text"></textarea>
                <script> CKEDITOR.replace('rich_text'); </script>
                <hr />
            </div>

            <p class="formfield">
                <label for="select-category">Select category</label>
                <select name="category" id="select-category" onclick="switch_schedule(this)">
                    {% for c in categories %}
                    <option value="{{ c.1 }}">{{ c.0 }}</option>
                    {% endfor %}
                </select>
            </p>

            <div class="formfield" id="schedule">
                <label>Day scheduled (dd.mm.yyyy)</label>
                {{ form.schedule }}
                <br />
            </div>

            <p class="formfield">
                <label for="select-tags">Choose tags</label>
                <select multiple name="tags" id="select-tags">
                </select>
            </p>

            <p class="formfield">
                <label>Question type</label>
                {{ form.answer_type }}
            </p>
            <hr />

            {% for i in 12345678|make_list %}
                <!--Normal answers-->
                <div class="formfield normal">

                    <label class="mark">Answer #{{i}}</label>
                    <label for="checkbox_{{i}}" class="mark">Mark correct</label>
                    <input id="checkbox_{{i}}" type="checkbox" name="correct_{{i}}"/>
                    <label class="mark">Mark active</label>
                    <input type="checkbox" name="active_{{i}}"/>
                    <br/>
                    <textarea name="answer_{{i}}"></textarea>
                </div>

                <!--Rich answers-->
                <div class="formfield rich" style="display: none">
                    <label class="mark">Answer #{{i}}</label>
                    <label for="rich_checkbox_{{i}}" class="mark">Mark correct</label>
                    <input id="rich_checkbox_{{i}}" type="checkbox" name="rich_correct_{{i}}"/>
                    <label class="mark">Mark active</label>
                    <input type="checkbox" name="rich_active_{{i}}"/>
                    <textarea name="rich_answer_{{i}}"></textarea>
                    <script> CKEDITOR.replace('rich_answer_{{i}}'); </script>
                </div>
                <br/>
            {% endfor %}

            <br/>

            <p class="formfield">
                <label>Mark question as active</label>
                {{ form.active }}
            </p>
            <br />

            <button onclick="history.back(); return false;" class="btn btn-warning">{% trans 'Cancel' %}</button>
            <button type="reset" class="btn btn-danger">{% trans 'Reset' %}</button>
            <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>

            {% csrf_token %}
        </form>
    </div>
{% endblock %}
