{% extends 'cpanel/index.html' %}

{% load user %}
{% load bootstrap %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block sectiontitle %}Add Formula{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Formulas" "formulas" %}
    {% breadcrumb "Add formula" "add_formula" %}
{% endblock %}

{% block sectioncontent %}

    <div class="col-md-8">
        {% if form.errors %}
            <p style="color: red;">
                Please correct the error{{ form.errors|pluralize }} below.
            </p>
        {% endif %}

        <form class="form-horizontal" role="form" action="" method="post">
            {{ form|bootstrap_horizontal }}
            <button onclick="history.back(); return false;" class="btn btn-warning">{% trans 'Cancel' %}</button>
            <button type="reset" class="btn btn-danger">{% trans 'Reset' %}</button>
            <input class="btn btn-primary" type="submit" value="Submit">
            {% csrf_token %}
        </form>
    </div>

{% endblock %}
