{% extends 'cpanel/index.html' %}

{% load user %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block sectiontitle %}Add Answer{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Questions" "qpool_home" %}
    {% breadcrumb "Add answer" "add_answer" %}
{% endblock %}

{% block sectioncontent %}

{% if form.errors %}
    <p style="color: red;">
        Please correct the error{{ form.errors|pluralize }} below.
    </p>
{% endif %}

<div class="col-md-8">
    <form class="horizontal-form" method="post" action="">
        {{ form.errors }}
        <table class="table table-bordered table-hover">
            <tr>
                <td style="vertical-align: middle"><label for="text">Text:</label></td>
                <td>
                    <textarea id="text" name="text" rows="5" cols="50" readonly='readonly'>{{ question.text }}</textarea>
                </td>
            </tr>

            {% for a in question.answers %}
            <tr>
                <td style="vertical-align: middle">
                    <input disabled='disabled' type="checkbox" name="correct_{{a.id}}" {% if a.correct %}checked{% endif %}/>
                </td>
                <td>
                    <textarea name="answer_{{a.id}}" cols="50" readonly='readonly'>{{ a.text }}</textarea>
                </td>
            </tr>
            {% endfor %}

            <tr>
                <td style="vertical-align: middle"><input type="checkbox" name="new_answer_correct"/></td>
                <td><textarea name="new_answer_text" cols="50"></textarea></td>
            </tr>
        </table>

        <div class="actions">
            <button class="btn btn-warning" onclick="history.back(); return false;">{% trans 'Cancel' %}</button>
            <button class="btn btn-danger" type="reset">{% trans 'Reset' %}</button>
            <button class="btn btn-primary" type="submit" class="default">{% trans 'Save' %}</button>
        </div>
        {% csrf_token %}
    </form>
</div>

{% endblock %}
