{% extends 'cpanel/index.html' %}

{% load artifacts %}
{% load bootstrap %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block sectiontitle %}
    {% if request.path == "/cpanel/artifact/new/" %}
        Add artifact
    {% else %}
        Edit artifact {% artifact instance %}
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Artifacts" "artifact_home" %}
    {% if request.path == "/cpanel/artifact/new/" %}
        {% breadcrumb "Add artifact" "artifact_edit" %}
    {% else %}
        {% breadcrumb "Edit artifact" artifact instance "artifact_edit" %}
    {% endif %}
{% endblock %}

{% block sectioncontent %}

<div class="col-md-8">
    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}
    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
        {{ form|bootstrap_horizontal }}
        <button class="btn btn-warning" onclick="history.back(); return false;">Cancel</button>
        <input class="btn btn-danger" type="reset" value="Reset">
        <input class="btn btn-primary" type="submit" value="Save">
        {% csrf_token %}
    </form>
</div>
{% endblock %}
