{% extends 'cpanel/index.html' %}

{% load user %}
{% load artifacts %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block sectiontitle %}Set artifact{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Players" "all_players" %}
    {% breadcrumb "Manage player" "manage_player" to.id  %}
    {% breadcrumb "Set artifact" "artifact_set" %}
{% endblock %}

{% block sectioncontent %}


<form class="form-horizontal" method="post">
    <input type="hidden" name="to" value="{{to.id}}"/><strong>User:</strong> {% player to %}
    <!-- TODO: didn't know how to cancel auto new line before {% player to %} -->
    <br/>
    <strong>Artifact:</strong>
    <select name="artifact">{% for a in artifacts %}<option value="{{a.id}}">{{a.title}}</option>{% endfor %}</select>
    <br/>
    <strong>Amount:</strong>
    <input size="3" type="text" name="amount" value="1" />
    <br/>
    <button class="btn btn-primary" type="submit">{% trans 'Save ' %}</button>
    {% csrf_token %}
</form>

{% if user.is_staff %}
<!-- kind of an edit, TODO: write interface code -->


<h4><strong>Artifacts existing:</strong></h4>

<div class="col-md-8">
    <table class="table table-bordered table table-hover">
        <tr>
            <th>Title</th>
            <th>Amount</th>
            <th>Admin Edit</th>
        </tr>
        {% for a in to.magic.artifact_amounts.all %}
        <tr>
            <td>{{ a.artifact.title }}</td>
            <td>{{ a.amount }}</td>
            <td>
                <a class="btn btn-success" href="{% url admin:magic_playerartifactamount_change a.id %}">
                    <span class="glyphicon glyphicon-edit"></span>{% trans 'Edit' %}
                </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="100%" class="text-center">No artifacts yet.</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endif %}
{% endblock %}
