{% extends 'cpanel/index.html' %}
{% load user %}
{% load artifacts %}

{% block sectiontitle %}Set artifact{% endblock %}

{% block sectioncontent %}

<form method="post" action="">
<input type="hidden" name="to" value="{{to.id}}" />User: {% player to %}
artifact:
    <select name="artifact">{% for a in artifacts %}<option value="{{a.id}}">{{a.title}}</option>{% endfor %}</select>
amount:
    <input size="3" type="text" name="amount" value="1" />
<div class="actions">
    <button type="submit" class="default">Save</button>
</div>
{% csrf_token %}
</form>

{% if user.is_staff %}
<!-- kind of an edit, TODO: write interface code -->

<div class="spacer"></div>
<h4>Existing</h4>
<ul class="simple">
{% for a in to.magic.artifact_amounts.all %}
    <li>{% artifact a %} {{ a.artifact.title }} {{ a.amount }} <a href="{% url admin:magic_playerartifactamount_change a.id %}">✍</a></li>
{% empty %}
    <li class="empty">None</li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
