{% extends 'cpanel/index.html' %}

{% load i18n %}
{% load user %}
{% load bootstrap %}
{% load django_bootstrap_breadcrumbs %}

{% block sectiontitle %}{% block title %}{% trans 'Bonus player' %}{% endblock %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Players" "all_players" %}
    {% breadcrumb "Manage player" "manage_player" target_player.pk %}
    {% breadcrumb "Bonus player" "bonus" %}
{% endblock %}

{% block sectioncontent %}
    <div class="col-md-8">
        <h4>Give bonus to player <strong> {{ target_player }}</strong>:</h4>
        <form class="form-horizontal" role="form" method="post" action="">
            {{ form|bootstrap_horizontal }}
            <button class="btn btn-primary" type="submit">{% trans 'Bonus this player!' %}</button>
            {% csrf_token %}
        </form>

        <hr/>

        <h3><strong>History:</strong></h3>

        <h4>--- Bonuses ---</h4>
        <table class="table table-bordered table table-hover">
            <tr>
                <th>Timestamp</th>
                <th>Amount</th>
                <th>Coin</th>
                <th>From</th>
                <!--<th>Reason</th>-->
            </tr>
            {% for bonus in bonuses %}
            <tr>
                <td>{{ bonus.timestamp }}</td>
                <td>{{ bonus.amount }}</td>
                <td>{{ bonus.coin }}</td>
                <td>{% player bonus.external_id %}</td>
                <!--<td></td>  TODO: add bonus reason column -->
            </tr>
            {% empty %}
            <tr>
                <td colspan="100%" class="text-center">No bonuses yet.</td>
            </tr>
            {% endfor %}
        </table>

        <h4>--- Penalties ---</h4>
        <table class="table table-bordered table table-hover">
            <tr>
                <th>Timestamp</th>
                <th>Amount</th>
                <th>Coin</th>
                <th>From</th>
                <!--<th>Reason</th>-->
            </tr>
            {% for penalty in penalties %}
            <tr>
                <td>{{ penalty.timestamp }}</td>
                <td>{{ penalty.amount }}</td>
                <td>{{ penalty.coin }}</td>
                <td>{% player bonus.external_id %}</td>
                <!--<td></td>  TODO: add penalty reason column -->
            </tr>
            {% empty %}
            <tr>
                <td colspan="100%" class="text-center">No penalties yet.</td>
            </tr>
            {% endfor %}
        </table>

        <a class="btn btn-primary" href="{% url manage_player target_player.pk %}">{% trans 'Back to user' %}</a>
    </div>

{% endblock %}
