{% extends 'cpanel/index.html' %}

{% load user %}
{% load i18n %}
{% load bootstrap %}
{% load django_bootstrap_breadcrumbs %}

{% block sectiontitle %}Manage player{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Players" "all_players" %}
    {% breadcrumb "Change password" "change_password" %}
{% endblock %}

{% block sectioncontent %}

{% block buttons %}
{% endblock %}

<div class="col-md-8">
    <h4>Change password:</h4>

    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form class="form-horizontal" role="form" action="" method="post">
        {{ form|bootstrap_horizontal }}
        <button onclick="history.back(); return false;" class="btn btn-warning">{% trans 'Cancel' %}</button>
        <button type="reset" class="btn btn-danger">{% trans 'Reset' %}</button>
        <input class="btn btn-primary" type="submit" value="Submit">
        {% csrf_token %}
    </form>

    <br>
</div>

{% endblock %}
