{% extends 'cpanel/index.html' %}

{% load user %}
{% load bootstrap %}
{% load django_bootstrap_breadcrumbs %}

{% block sectiontitle %}Edit Report{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Reports" "reports" %}
    {% breadcrumb "Edit report" "edit_report" %}
{% endblock %}

{% block sectioncontent %}

    <div class="col-md-8">
        <b>User who reported: </b>{{ report.user_from }}<br/><br/>
        <b>User who was reported: </b>{{ report.user_to }}<br/><br/>
        <b>Text of the report: </b>{{ report.text }}<br/><br/>
        <b>Timestamp: </b>{{ report.timestamp }}<br/><br/>

        <form class="form-horizontal" role="form" action="" name="edit_report" method="POST">
            {{ form|bootstrap_horizontal }}
            <input type="submit" class="btn btn-primary" value="Submit" />
            <a href="{% url wouso.interface.cpanel.views.reports %}">
                <input type="button" class="btn btn-warning" value ="Cancel"/>
            </a>
            {% csrf_token %}
        </form>
    </div>

{% endblock %}
