{% extends 'cpanel/qpool_home.html' %}

{% load i18n %}
{% load django_bootstrap_breadcrumbs %}
{% load bootstrap %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Edit question" "edit_question" question.id %}
{% endblock %}

{% block bottomscripts %}
    <script type="text/javascript" src="{{ basepath }}/static/js/cpanel/qpool/add_question.js/"></script>
    <script src="{{ basepath }}/static/js/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ basepath }}/static/css/cpanel-qpool.css" />
    <script>
        function switch_schedule(option) {
            if (option.value == 'qotd') {
                $('#schedule')[0].style.display = 'block';
            }
            else {
                $('#schedule')[0].style.display = 'none';
            }
        }
    </script>
{% endblock %}

<!-- Disable search bar. -->
{% block searchbar %}
{% endblock %}


{% block sectioncontent %}
    <div class="col col-md-12">

        <form class="form-horizontal" method="post">
            {{ form.errors }}
            <p class="formfield">
                <label>Proposed by</label>
                {{ question.proposed_by }}
            </p>
            <p class="formfield">
                <label>Added on</label>
                {{ question.date_added }}
            </p>
            <p class="formfield">
                <label>Last modified on</label>
                {{ question.date_changed }}
            </p>
            <hr/>

            <div class="formfield">
                {% if question.text %}
                    <label for="text">Edit question text</label>
                    <textarea id="text" name="text">{{ question.text }}</textarea>
                {% elif question.rich_text %}
                    <label>Edit question rich text</label>
                    <textarea name="rich_text" id="rich_text">
                        {{ question }}
                    </textarea>
                    <script> CKEDITOR.replace('rich_text'); </script>
                {% endif %}
                <hr/>
            </div>

            <p class="formfield">
                <label for="select-category">Select category</label>
                <select name="category" id="select-category" onclick="switch_schedule(this)">
                    {% for c in categories %}
                    <option value="{{ c.1 }}" {% if c.1 == question.category.name %} selected="selected" {% endif %}>{{ c.0 }}</option>
                    {% endfor %}
                </select>
            </p>

            <div class="formfield" id="schedule" {% if question.category.name != 'qotd' %} style="display: none;" {% endif %}>
                <label>Day scheduled (dd.mm.yyyy)</label>
                {{ form.schedule }}
                <br />
            </div>

            <p class="formfield">
                <label for="select-tags">Choose tags</label>
                <select multiple name="tags" id="select-tags">
                </select>
            </p>

            <p class="formfield">
                <label>Question type</label>
                {{ form.answer_type }}
            </p>
            <hr />

            {% if question.text %}
                <!--Normal Answers-->
                {% for a in question.answers_all %}
                <div class="formfield">
                    <label class="mark">Answer #{{ forloop.counter }}:</label>
                    <label class="mark">Mark correct</label>
                    <input type="checkbox" name="correct_{{ forloop.counter }}" {% if a.correct %} checked {% endif %}/>
                    <label class="mark">Mark active</label>
                    <input type="checkbox" name="active_{{ forloop.counter }}" {% if a.active %} checked {% endif %}/>
                    <br/>
                    <textarea name="answer_{{ forloop.counter }}">{{ a }}</textarea>
                </div>
                {% endfor %}

            {% elif question.rich_text %}
                <!--Rich Answers-->
                {% for a in question.answers_all %}
                <div class="formfield">
                    <label class="mark">Answer #{{ forloop.counter }}:</label>
                    <label class="mark">Mark correct</label>
                    <input type="checkbox" name="rich_correct_{{ forloop.counter }}" {% if a.correct %} checked {% endif %}/>
                    <label class="mark">Mark active</label>
                    <input type="checkbox" name="rich_active_{{ forloop.counter }}" {% if a.active %} checked {% endif %}/>
                    <textarea name="rich_answer_{{ forloop.counter }}">{{ a }}</textarea>
                    <script> CKEDITOR.replace('rich_answer_{{ forloop.counter }}'); </script>
                </div>
                <br/>
                {% endfor %}
            {% endif %}

            <br/>

            <p class="formfield">
                <label>Mark question as active</label>
                {{ form.active }}
            </p>
            <br />

            <button onclick="history.back(); return false;" class="btn btn-warning">{% trans 'Cancel' %}</button>
            <button type="reset" class="btn btn-danger">{% trans 'Reset' %}</button>
            <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>

            {% csrf_token %}
        </form>
    </div>
{% endblock %}