{% extends 'cpanel/qpool_home.html' %}

{% load i18n %}
{% load django_bootstrap_breadcrumbs %}
{% load bootstrap %}
{% load cpanel %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Edit question" "edit_question" question.id %}
{% endblock %}

{% block bottomscripts %}
    <script type="text/javascript" src="{{ basepath }}/static/js/cpanel/qpool/add_question.js"></script>
    <script src="{{ basepath }}/static/js/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ basepath }}/static/css/cpanel-qpool.css" />
    <script>
        function switch_schedule(option) {
            if (option.value == 'qotd') {
                $('#schedule')[0].style.display = 'block';
            }
            else {
                $('#schedule')[0].style.display = 'none';
            }
        }
    </script>
{% endblock %}

<!-- Disable search bar. -->
{% block searchbar %}
{% endblock %}


{% block sectioncontent %}
    <form class="form-horizontal" method="post">
        {{ form.errors }}
        <p class="formfield">
            <label>Proposed by</label>
            {{ question.proposed_by }}
        </p>
        <p class="formfield">
            <label>Added on</label>
            {{ question.date_added }}
        </p>
        <p class="formfield">
            <label>Last modified on</label>
            {{ question.date_changed }}
        </p>

        <hr/>

        <div class="form-group">
            <label class="control-label col-sm-3">Edit question text</label>
            {% if question.text %}
                {{ form.text }}
            {% elif question.rich_text %}
                <br/> <br/>
                {{ form.rich_text }}
            {% endif %}
        </div>

        <br/>

        <div class="form-group">
            <label for="select-category" class="control-label col-sm-3">Select category</label>
            <select name="category" id="select-category" class="control-label col-sm-3" onclick="switch_schedule(this)">
                {% for c in categories %}
                <option value="{{ c.1 }}" {% if c.1 == question.category.name %} selected="selected" {% endif %}>{{ c.0 }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group" id="schedule" {% if question.category.name != 'qotd' %} style="display: none;" {% endif %}>
            <label class="control-label col-sm-3">Day scheduled (yyyy-mm-dd)</label>
            {{ form.schedule }}
        </div>

        <div class="form-group">
            <label for="select-tags" class="control-label col-sm-3">Choose tags</label>
            <select class="form-control col-sm-3" multiple name="tags" id="select-tags">
            </select>
        </div>

        <div class="form-group">
            <label for="answer_type" class="control-label col-sm-3">Question type</label>
            <div id="answer_type">{{ form.answer_type|add_css:"form-control col-sm-3" }}</div>
        </div>

        <div class="form-group">
            <label for="form-active" class="control-label col-sm-3">Mark question as active</label>
            <div id="form-active">{{ form.active|add_css:"form-control col-sm-3" }}</div>
        </div>

        <hr />

        {% if question.text %}
            <!--Normal Answers-->
            {% for i in answers_range %}
                <div class="formfield">
                    <h4 class="mark">Answer #{{i}}</h4>
                    <label class="mark">Mark correct</label>
                    {% with "correct_"|add:i as correct %}
                        {{ form|get_form_field:correct }}
                    {% endwith %}
                    <label class="mark">Mark active</label>
                    {% with "active_"|add:i as active %}
                        {{ form|get_form_field:active }}
                    {% endwith %}
                    <br/>
                    {% with "answer_"|add:i as answer %}
                        {{ form|get_form_field:answer }}
                    {% endwith %}
                </div>
            {% endfor %}
        {% elif question.rich_text %}
            <!--Rich Answers-->
            {% for i in answers_range %}
                <div class="formfield">
                    <h4 class="mark">Answer #{{i}}</h4>
                    <label class="mark">Mark correct</label>
                    {% with "rich_correct_"|add:i as correct %}
                            {{ form|get_form_field:correct }}
                    {% endwith %}
                    <label class="mark">Mark active</label>
                    {% with "rich_active_"|add:i as active %}
                        {{ form|get_form_field:active }}
                    {% endwith %}
                    <br/>
                    {% with "rich_answer_"|add:i as answer %}
                        {{ form|get_form_field:answer }}
                    {% endwith %}
                </div>
            {% endfor %}
        {% endif %}

        <br/>

        <button onclick="history.back(); return false;" class="btn btn-warning">{% trans 'Cancel' %}</button>
        <button type="reset" class="btn btn-danger">{% trans 'Reset' %}</button>
        <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>

        {% csrf_token %}
    </form>
{% endblock %}
