{% extends 'cpanel/index.html' %}

{% load user %}
{% load bootstrap %}
{% load django_bootstrap_breadcrumbs %}

{% block sectiontitle %}Edit page{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Static pages" "static_pages" %}
    {% breadcrumb "Edit page" "edit_static_page" %}
{% endblock %}

{% block sectioncontent %}

    <div class="col-md-8">
        {% if form.errors %}
            <p style="color: red;">
                Please correct the error{{ form.errors|pluralize }} below.
            </p>
        {% endif %}

        <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
            {{ form|bootstrap_horizontal }}
            <input type="submit" value="Submit" class="btn btn-primary">
            {% csrf_token %}
        </form>
    </div>

{% endblock %}
