{% extends 'cpanel/index.html' %}
{% load i18n %}
{% load user %}
{% load django_bootstrap_breadcrumbs %}

{% block sectiontitle %}
    Formulas
    <a class="btn btn-primary pull-right" href="{% url add_formula %}">
        <span class="glyphicon glyphicon-plus"></span>{% trans 'Add formulas' %}
    </a>
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Formulas" "formulas" %}
{% endblock %}

{% block sectioncontent %}

<table class="table table-bordered table-condensed table-hover">
    <tr>
        <th>Name</th>
        <th>Expression</th>
        <th>Description</th>
        <th>Owner</th>
        <th>Manage</th>
    </tr>
    {% for p in formulas %}
    <tr>
        <td>{{ p.name }}</td>
        <td>{{ p.expression }}</td>
        <td>{{ p.description }}</td>
        <td>{{ p.owner }}</td>
        <td nowrap>
            <a class="btn btn-success" href="{% url edit_formula p.id %}">
                <span class="glyphicon glyphicon-edit"></span>{% trans 'Edit '%}
            </a>
            <a class="btn btn-danger" href="{% url formula_del p.id %}" onClick="return confirm('Realy?');">
                <span class="glyphicon glyphicon-remove"></span>{% trans 'Delete' %}
            </a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
