{% extends 'cpanel/index.html' %}
{% load user %}

{% block sectiontitle %}Formulas{% endblock %}

{% block sectioncontent %}

<a class="button" href="{% url add_formula %}">Add new formula</a>
<br/>
<br/>
<table>
<tr>
  <th>Name</th>
  <th>Formula</th>
  <th>Owner</th>
  <th>Edit</th>
  <th>Delete</th>
</tr>
{% for p in formulas %}
<tr><td> {{ p.name }}</td>
  <td> {{ p.definition }}</td>
  <td> {{ p.owner }}</td>
  <td><a class="button" href="{% url edit_formula p.id %}">Edit</a></td>
  <td><a class="button" href="{% url formula_del p.id %}" onClick="return confirm('Realy?');">Delete</a></td>
</tr>
{% endfor %}
</table>
{% endblock %}
