{% extends 'cpanel/index.html' %}
{% load django_bootstrap_breadcrumbs %}

{% block sectiontitle %}Customization{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Disable games" "games_home" %}
{% endblock %}

{% block sectioncontent %}
<ul class="nav nav-tabs">
    <li>
        <a href="{% url customization %}">
            Customization
        </a>
    </li>
    <li>
        <a href="{% url features %}">
            Disable features
        </a>
    </li>
    <li class="active">
        <a href="{% url games_home %}">
            Disable Games
        </a>
    </li>
    <li>
        <a href="{% url cpanel_display %}">
            Display
        </a>
    </li>
</ul>

<form method="post" action="">
{% for s in settings.props %}
    <fieldset>
        {% autoescape off %}
            {{ s.form }}
        {% endautoescape %}
        <br/>
    </fieldset>
{% endfor %}
<button type="submit" class="btn btn-primary">Save</button>
{% csrf_token %}
</form>
{% endblock %}
