{% extends 'cpanel/index.html' %}

{% block sectiontitle %}Last Challenges{% endblock %}

{% block sectioncontent %}
<p>
{% if nr = -1 %}
    <a class="button" href="{% url grandchalls_start %}">Start</a>
    {# If necessary, add info to explain the tournament here #}
{% else %}
    <a class="button" href="{% url grandchalls_round %}">Next Round</a>
</p>
<p>
<table>
<tr><th>{% if nr == 0 %} Start List {% else %} Round {{ nr|add:"-1" }}{% endif %}</th>
    <th>Round {% if nr == 0 %} {{ nr|add:"1" }} {% else %} {{ nr }} {% endif %}</th>
</tr>
<tr><td valign=top>
    {% if nr == 0 %}
        <table>
            <tr><th>Participant</th>
            </tr>
            {% for user in users %}
            <tr><td><a href="{% url interface.profile.views.user_profile user.id %}">{{user}} </a></td></tr>
            {# For more info, add here #}
            {% endfor %}
        </table>
    {% else %}
        <table>
            <tr><th>Branch</th>
                <th>Challenger</th>
                <th>Challenged</th>
            </tr>
            {% for chall in gchalls %}
            {% if chall.round_number == nr|add:"-1" %}
            <tr><td>{% if chall.branch = 0 %} + {% else %} - {% endif %}</td>
                <td><a href="{% url interface.profile.views.user_profile user.id %}">
                    {% if chall.branch = 0 %}
                        {% if chall.won = chall.user_from %}
                            <span class="ok">
                        {% else %}
                            <span class="warn">
                        {% endif %}
                    {% else %}
                        {% if chall.won = chall.user_from %}
                            <span class="warn">
                        {% else %}
                            <span class="wrong">
                        {% endif %}
                    {% endif %}{{chall.user_from}}</span></a>
                </td>
                <td><a href="{% url interface.profile.views.user_profile user.id %}">
                    {% if chall.branch = 0 %}
                        {% if chall.won = chall.user_to %}
                            <span class="ok">
                        {% else %}
                            <span class="warn">
                        {% endif %}
                    {% else %}
                        {% if chall.won = chall.user_to %}
                            <span class="warn">
                        {% else %}
                        <span class="wrong">
                        {% endif %}
                    {% endif %}{{chall.user_to}}</span></a>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    {% endif %}
{% endfor %}
</table>
{% endblock %}
