{% extends 'cpanel/index.html' %}
{% load user %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block sectiontitle %}Set groups{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Players" "all_players" %}
    {% breadcrumb "Manage player" "manage_player" to.id  %}
    {% breadcrumb "Set groups" "group_set" %}
{% endblock %}

{% block sectioncontent %}


<form class="form-horizontal" method="post">
    <input type="hidden" name="to" value="{{to.id}}"/>
    <strong>User:</strong> {% player to %}
    <!-- TODO: didn't know how to cancel auto new line before {% player to %} -->
    <br/>
    <strong>Group:</strong> {{ to.group }}
    <br/>
    
    <table>
        {{ form }}
    </table>
    <button class="btn btn-primary" type="submit">{% trans 'Save ' %}</button>
    {% csrf_token %}
</form>
<br/>
<a class="btn btn-primary" href="{% url manage_player to.pk %}">{% trans 'Back to user' %}</a>

{% endblock %}
