{% extends 'cpanel/index.html' %}
{% load user %}
{% load i18n %}

{% load bootstrap %}
{% load django_bootstrap_breadcrumbs %}

{% block sectiontitle %}Set groups{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Players" "all_players" %}
    {% breadcrumb "Manage player" "manage_player" to.id  %}
    {% breadcrumb "Set groups" "group_set" %}
{% endblock %}

{% block sectioncontent %}
<div class="col-md-8">  
    <form class="form-horizontal" method="post">
        <div class="form-group">
        <label for="userId" class="col-sm-2 control-label">User</label>
            <div class="col-sm-10">
                {% player to %}
            </div>
        </div>
        <input type="hidden" name="to" value="{{to.id}}"/>

    <form class="form-horizontal" method="post">
        <div class="form-group">
        <label for="groupId" class="col-sm-2 control-label">Group</label>
            <div class="col-sm-6">
                {{ to.group }}
            </div>
        </div>
       
        <table>
            {{ form|bootstrap_horizontal }}
        </table>
        <br>
        <br>
        <button onclick="history.back(); return false;" class="btn btn-warning">{% trans 'Cancel' %}</button>
        <button type="reset" class="btn btn-danger">{% trans 'Reset' %}</button>
    </form>
    <br/>
</div>


{% endblock %}
