{% extends 'cpanel/qpool_home.html' %}
{% load django_bootstrap_breadcrumbs %}

{% block sectiontitle %}Import questions{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Import questions" "importer" %}
{% endblock %}

{% block subsectioncontent %}
    <div class="subgroups">
        <p>You can import text files containing questions, and select the category to put them in.</p>
        <p>File syntax:</p>
        <pre>
? Question text
on many lines
- wrong answer
+ correct answer
+ another correct answer
on two lines

? Another question
...
        </pre>
    </div>

<form id="file_import" action="{% url importer_send %}"  method="POST" enctype="multipart/form-data">
<label for="file">Select input file:</label>
    <input type="file" name="file" id="file" />

    <br/>
<label for="category">Category:</label>
    <select name="category" id="category">
    {% for category in categories %}
        <option value="{{category}}">{{category}}</option>
    {% endfor %}
    </select>

    <br/>
    <!-- TODO: show only tags for selected category
<label for="tags">Tags:</label>
<select name="tags" id="tags" multiple="multiple">
    {% for tag in tags %}
        <option value="{{tag}}">{{tag}}</option>
    {% endfor %}
</select>-->


    <br/>
    <label for="all_active">Set all active</label><input type="checkbox" name="all_active" value="all_active" id="all_active"> <br />
<br/>
    <button type="submit" class="btn btn-primary">Import</button>

{% csrf_token %}
</form>

{% endblock %}
