{% extends 'site_base.html' %}

{% block title %}CPanel{% endblock %}

{% block content %}

<h1>Questions importer</h1>

<form id="file_import" action="{% url importer_send %}"  method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="file"/> <br/>
    <input type="submit" value="Send file"/>
</form>

{% endblock %}

{% block sidebar %}
<h2>Tools</h2>
    <div class="widget-content">
        <ul>
        <li><a href="{% url admin:index %}">Django Admin</a></li>
        <li><a href="{% url importer %}">importer</a></li>
        </ul>
    </div>
{% endblock %}
