{% extends 'cpanel/index.html' %}

{% block sectiontitle %}Questions importer{% endblock %}

{% block sectioncontent %}

<p>File syntax:</p>
<pre>
? Question text
on many lines
- wrong answer
+ correct answer
+ another correct answer
on two lines

? Another question
...</pre>

<form id="file_import" action="{% url importer_send %}"  method="POST" enctype="multipart/form-data">
    {% csrf_token %}

<label for="category">Category:</label>
    <select name="category" id="category">
    {% for category in categories %}
        <option value="{{category}}">{{category}}</option>
    {% endfor %}
    </select>
    <input type="file" name="file"/>
<br/>
<br/>
    <input type="checkbox" name="all_active" value="all_active" id="all_active"><label for="all_active">Set all active</label> <br />
<br/>
    <button type="submit">Send file</button>
</form>

{% endblock %}
