{% extends 'interface/section_base.html' %}
{%  load artifacts %}
{%  load cpanel %}
{%  load user %}

{% block title %}CPanel{% endblock %}

{% block css %}li.{{module}} {font-weight: bold}{% endblock %}

{% block sectiontitle %}Dashboard{% endblock %}

{% block sectioncontent %}

<div class="subgroups">
<h3>Information</h3>
    <p>Django version: {{ django_version }}</p>
    <p>WoUSO version: {{ wouso_version }}</p>
<h4>Staff</h4>
    {% for u in staff.user_set.all %}
    {% player_simple u %}
    {% endfor %}
</div>

<h3>QPool</h3>
<p>Qotd: {{nr_future_questions}} future available questions. </p>
<p> {{nr_questions}} total questions. </p>

<h3>Quest</h3>
<p>{% if  active_quest %}One active quest: {{ active_quest }}{% else %}No quest active{% endif %}. Total: {{ total_quests }}</p>

<div class="spacer"></div>
<h3>Artifacts</h3>
<table>
    <tr>
    {%  for g in artifact_groups %}
    <td valign="top">
        <h4>{{ g }}</h4>
        {% for a in g.artifact_set.all %}
            {% artifact a %} {{ a.name }}<br/>
        {% endfor %}
    </td>
    {%  endfor %}
</table>

{% endblock %}

{% block sidebar %}
<div class="widget-top"></div>
<div class="widget-middle">
<h2>Tools</h2>
    <div class="widget-content">
        <ul class="menu">
        <li class="home"><a href="{% url dashboard %}">Dashboard</a></li>
        <li class="qpool"><a href="{% url qpool_home %}">Question Pool</a>
            <ul class="submenu">
            <li class="qpool_import"></li>
            </ul>
        </li>
        <li class="artifacts"><a href="{% url artifact_home %}">Artifacts</a></li>
        <li class="static"><a href="{% url admin:pages_staticpage_changelist %}" target="blank">Static Pages</a></li>
        <li class="static"><a href="{% url admin:pages_newsitem_changelist %}" target="blank">News</a></li>
        {% if user.is_superuser %}
            <li class="custom"><a href="{% url customization %}">Customization</a></li>
        {% endif %}
        </ul>
    </div>
    <div class="widget-content">
        <ul class="menu">
            <li class="games"><a href="{% url games_home %}">Games</a></li>
            <li class="empty"></li>
            {% cpanel_games %}
        </ul>
    </div>
    <div class="widget-content">
        <ul class="menu">
        {% if user.is_staff or user.is_superuser %}
        <li><a href="{% url admin:index %}">Django Admin</a></li>
        <li><a href="{% url admin:activity_activity_changelist %}">Activity Monitor</a></li>
        <li><a href="{% url all_players %}">Players</a></li>
        <li><a href="{% url add_player %}">Add new player</a></li>
        <li><a href="{% url races_groups %}">Races & groups</a></li>
        {% endif %}
        </ul>
    </div>
    <br/>
    <div class="widget-content">
        {% block extra_sidebar %}
        {% endblock %}
        <div class="clearer spacer"></div>
    </div>
</div>
<div class="widget-bottom"></div>
{% endblock %}
