<!DOCTYPE html>
{%  load artifacts %}
{%  load cpanel %}
{%  load user %}
{%  load i18n %}
<html>
<HEAD>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <TITLE>{% block title %}WoUSO Control Panel{% endblock %}</TITLE>
    <!--<LINK rel="stylesheet" type="text/css" href="{{ basepath }}/static/css/style.css" />!-->
    <!-- Bootstrap CSS !-->
    <link href="{{ basepath }} /static/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ basepath }} /static/css/bs-style.css" rel="stylesheet">
    <link href="{{ basepath }} /static/css/dashboard.css" rel="stylesheet">
    <link href="{{ basepath }} /static/css/sticky-footer.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ basepath }}/static/js/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="{{ basepath }}/static/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ basepath }}/static/js/jquery.autocomplete.js"></script>
    <script type="text/javascript" src="{{ basepath }}/static/js/format.item.js"></script>
    <script type="text/javascript" src="{{ basepath }}/static/js/jquery.timers.js"></script>
    <script type="text/javascript" src="{{ basepath }}/static/js/ajaxify.js"></script>
    <script type="text/javascript">
        var url_base = '{{ basepath }}';
    </script>
    {% if config_theme %}
    <LINK rel="stylesheet" type="text/css" href="{{ basepath }}/static/themes/{{ config_theme }}/styles.css" />
    {% endif %}
    <style type="text/css">
        @import url("{{ basepath }}/static/css/autocomplete.css");
        {% block css %}li.{{module}} {font-weight: bold}
        #container, .first-line, #topbar {
            width: 95%;
        }
        #content-cp {
            width: auto;
            float: none;
            margin-left: 240px;
        }
        .tab_container {
            clear: none !important;
        }
        .subgroups {
            margin-left: 10px;
        }
        div.section-content, div.section {
            width: auto;
        }
        {% endblock %}
    </style>
    {% block scripts %}{% endblock %}
</HEAD>

<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    {% block header %}
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url dashboard %}">Control Panel</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if user.real_user %}
                    Impersonated by {{ user.real_user }} <li><a href="{% url impersonate_clear %}">clear</a></li>
                {% endif %}
                <li><a id="head-home" href="{% url homepage %}">Game</a></li>
                <li><a id="head-logout" href="{% url logout_view %}">{% trans "Logout" %} <span class="glyphicon glyphicon-log-out"></span></a></li>
            </ul>
        </div>
    </div>
    {% endblock %}
</div>

<div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar sidebar">
                <ul class="nav nav-sidebar">
                    <h4 class="text-center">Title</h4>
                    <li class="active home"><a href="{% url dashboard %}">Dashboard</a></li>
                    <li class="qpool"><a href="{% url qpool_home %}">Question Pool</a></li>
                    <li class="spells"><a href="{% url spells %}">Spells</a></li>
                    <li class="artifacts"><a href="{% url artifact_home %}">Artifacts</a></li>
                    <li><a href="{% url all_players %}">Players</a></li>
                    <li><a href="{% url races_groups %}">Races & groups</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <h4 class="text-center">Title</h4>
                    <li class="games"><a href="{% url games_home %}">Games</a></li>
                    <li class="formulas"><a href="{% url formulas %}">Formulas</a></li>
                    <li class="empty"></li>
                    {% cpanel_games %}
                </ul>
                {% if user.is_staff or user.is_superuser %}
                <ul class="nav nav-sidebar">
                    <h4 class="text-center">Title</h4>
                    <li class="roles"><a href="{% url roles %}">Roles</a></li>
                    <li class="custom"><a href="{% url customization %}">Customization</a></li>
                    <li class="display"><a href="{% url cpanel_display %}">Display</a></li>
                    <li class="reports"><a href="{% url reports %}">Reports</a></li>
                </ul>
                {% endif %}
                <ul class="nav nav-sidebar">
                    <h4 class="text-center">Title</h4>
                    <li class="pages"><a href="{% url static_pages %}">Static Pages</a></li>
                    <li class="news"><a href="{% url news %}">News</a></li>
                    {% if user.is_staff or user.is_superuser %}
                    <li><a href="{% url admin:activity_activity_changelist %}">Activity Monitor</a></li>
                    <li><a href="{% url admin:index %}"><em>Django Admin »</em></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
</div>

<div class="panel panel-default col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div id="ajax-message">
        {% if messages %}
            {% for message in messages %}
                <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        {% endif %}
    </div>
    {% block content %}
    <h1 class="page-header">{% block sectiontitle %}Dashboard{% endblock %}</h1>
    {% block sectioncontent %}
    <div class="panel panel-default col-md-6">
        <div class="panel-body">
        <h3>Quick actions</h3>
            <div class="actions actions-left">
                <a class="btn btn-primary" href="{% url add_player %}">Add player</a>
            </div>

            <h3>Number of users who can play</h3>
            <p>{{cp_number}} users can play. </p>

            <h3>QPool</h3>
            <p>Qotd: {{nr_future_questions}} future available questions. </p>
            <p> {{nr_questions}} total questions. </p>

            <h3>Quest</h3>
            <p>{% if  active_quest %}One active quest: {{ active_quest }}{% else %}No quest active{% endif %}. Total: {{ total_quests }}</p>

            <div class="spacer"></div>
            <h3>Artifacts</h3>
            <table>
                <tr>
                    {%  for g in artifact_groups %}
                    <td valign="top">
                        <h4>{{ g }}</h4>
                        {% for a in g.artifact_set.all %}
                        {% artifact a %} {{ a.name }}<br/>
                        {% endfor %}
                    </td>
                    {%  endfor %}
            </table>

            <h3>Misc</h3>
            <a href="{% url clear_cache %}">Clear cache</a>
        </div>
    </div>
    <div class="panel panel-primary col-md-4  col-md-offset-2">
        <div class="panel-heading">Information</div>
        <div class="panel-body">

        <div class="panel panel-info">
            <div class="panel-heading">Django & WoUSO information</div>
            <div class="panel-body">
                <p>Django version: {{ django_version }}</p>
                <p>Database: {{ database_name }} [{{ database_engine }}]</p>
                <p>WoUSO version: {{ wouso_version }}</p>
                <p>WoUSOcron last run: {{ last_run }}</p>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">Staff</div>
            <div class="panel-body">
                {% for u in staff.user_set.all %}
                {% player_simple u.get_profile %}
                {% endfor %}
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">Staff</div>
            <div class="panel-body">
                <h4>Online Users</h4>
                {% for u in online_users %}
                {% player u%}
                {% endfor %}
            </div>
        </div>
        </div>
    </div>
    {% endblock %}
    {% endblock %}


</div>
<div class="footer">
        <div class="container">
            {% block footer %}
            <p class="text-muted pull-right">&copy; 2007 - {% now "Y" %} ROSEdu</p>
            {% endblock %}

            <div id="PrivatebarUsers"></div>

            {% autoescape off %}
            {{ config_hidden_footer }}
            {% endautoescape %}
        </div>
    </div>
</body>
</html>
