{% extends 'site_base.html' %}

{% block title %}CPanel{% endblock %}

{% block content %}

<h1> Statistics </h1>

<p> {{nr_future_questions}} future available questions. </p>
<p> {{nr_questions}} total questions. </p>
{% endblock %}

{% block sidebar %}
<h2>Tools</h2>
    <div class="widget-content">
        <ul>
        <li><a href="{% url dashboard %}">Dashboard</a></li>
        <li><a href="{% url qpool_home %}">Question Pool</a>
            <ul>
            <li><a href="{% url importer %}">Import</a></li>
            </ul>
        </li>
        <li><a href="{% url quest_home %}">Quests</a>
        <li><a href="{% url customization %}">Customization</a></li>
        <li><a href="#">Static Pages</a></li>
        </ul>
    </div>
    <div class="widget-content">
        <ul>
        <li><a href="{% url admin:index %}">Django Admin</a></li>
        </ul>
    </div>
{% endblock %}
