{% extends 'cpanel/index.html' %}
{% load user %}
{% load i18n %}

{% block sectiontitle %}Players
    <a class="pull-right btn btn-primary" href="{% url add_player %}">
        <span class="glyphicon glyphicon-plus"></span>{% trans 'Add player' %}
    </a>    {% endblock %}


{% block sectioncontent %}
<div class="container-fluid">
<form class="pull-left" action="{% url manage_fwd %}" method="post">
    {% player_input 'player' %}
    {% csrf_token %}
    <button class="btn btn-info" type="submit">{% trans 'Search' %}</button>
</form>

<br/> <br/>

<table class="table table-bordered table table-hover">
<tr>
    <th>Name</th>
    <th>Points</th>
    <th>series</th>
    <th>A#</th>
    <th>Qotd#</th>
    <th>Ch#</th>
    <th>Infraction</th>
	<th>Manage</th>
</tr>
{% for p in players %}
<tr>
    <td>{% player p %}</td>
    <td>{% coin_amount p.points %}</td>
    <td>{{ p.race }}</td>
    <td>{{ p.activity_count }}</td>
    <td>{{ p.qotd_count }}</td>
    <td>{{ p.chall_count }}</td>
    <td>{% if p.infraction_points %}
        <a class="btn btn-link" href="{% url infraction_history p.user_id %}">
            {{ p.infraction_points }}
        </a>
        {% else %}
            {{ p.infraction_points }}
        {% endif %}
    </td>
    <td>
        <a class="btn btn-success" href="{% url manage_player p.user_id %}">
            <span class="glyphicon glyphicon-edit"></span>{% trans 'Manage' %}
        </a>
    </td>
</tr>
    {% empty %}
    <tr>
        <td colspan="0" class="text-center">No spells yet. Please use the Add player button to add new players.</td>
    </tr>
{% endfor %}
</table>


<a class="pull-left btn btn-warning" href="{% url infraction_recheck %}">{% trans 'Recheck Infractions' %}</a><br>


{% include 'cpanel/pagination.html' %}
</div>
{% endblock %}
