{% extends 'cpanel/index.html' %}
{% load user %}

{% block sectiontitle %}Players{% endblock %}

{% block sectioncontent %}

<table>
<tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th>series</th>
    <th>A#</th>
    <th>Qotd#</th>
    <th>Ch#</th>
</tr>
{% for p in players %}
<tr><td>{% player p %}</td>
    <td>{% coin_amount p.points %}</td>
    <td>{{ p.series }}</td>
    <td>{{ p.activity_count }}</td>
    <td>{{ p.qotd_count }}</td>
    <td>{{ p.chall_count }}</td>
</tr>
{% endfor %}
</table>

{% endblock %}
