{% extends 'cpanel/index.html' %}
{% load user %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block sectiontitle %}Players
    <a class="pull-right btn btn-primary" href="{% url add_player %}">
        <span class="glyphicon glyphicon-plus"></span>{% trans 'Add player' %}
    </a>
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Players" "all_players" %}
{% endblock %}

{% block sectioncontent %}
<form class="pull-left form-inline" role="form" method="post">
    <div class="input-search">
    <input id="query" class="form-control" type="text" name="player" value="{{player_input}}">
    {% csrf_token %}
    <span class="glyphicon glyphicon-search input-search-glyph"></span>
    </div>
    <hr/>
</form>
<script type="text/javascript">
            var myID = '{{player.id}}'
            var myName = '{{player.nickname}}'
            $(document).ready(function() {
            $("#query").autocomplete( "{% url manage_instant_search %}",
                { 
                    minChars: 3,
                    matchSubset: 1,
                    matchContains: 1,
                    cacheLength: 10,
                    formatItem: formatItem,
                    onItemSelect: manageItem,
                    selectOnly: 1
                });
            });
</script>

<table class="table table-bordered table table-hover">
<tr>
    <th>Name</th>
    <th>Points</th>
    <th>Groups</th>
    <th>User Authentications</th>
    <th>Questions of the Day Answered</th>
    <th>Player Challenges</th>
    <th>Infractions</th>
	<th>Manage</th>
</tr>
{% for p in players %}
<tr>
    <td>{% player p %}</td>
    <td>{% coin_amount p.points %}</td>
    <td>{{ p.race }}</td>
    <td>{{ p.activity_count }}</td>
    <td>{{ p.qotd_count }}</td>
    <td>{{ p.chall_count }}</td>
    <td>{% if p.infraction_points %}
        <a class="btn btn-link" href="{% url infraction_history p.user_id %}">
            {{ p.infraction_points }}
        </a>
        {% else %}
            {{ p.infraction_points }}
        {% endif %}
    </td>
    <td>
        <a class="btn btn-success" href="{% url manage_player p.user_id %}">
            <span class="glyphicon glyphicon-edit"></span>{% trans 'Manage' %}
        </a>
    </td>
</tr>
    {% empty %}
    <tr>
        <td colspan="0" class="text-center">No spells yet. Please use the Add player button to add new players.</td>
    </tr>
{% endfor %}
</table>


<a class="pull-left btn btn-warning" href="{% url infraction_recheck %}">{% trans 'Recheck Infractions' %}</a><br><br>


{% include 'cpanel/pagination.html' %}
{% endblock %}
