{% extends 'cpanel/index.html' %}
{% load i18n %}
{% block scripts %}
    <link rel="stylesheet" type="text/css" href="/static/css/tabs.css" />
{% endblock %}

{% block title %}CPanel{% endblock %}

{% block extra_sidebar %}
    {% if cat == 'qotd' %}
        <ul class="menu no-border">
            <li><a class="button" href="{% url qotd_schedule %}" title="schedule active questions">Automatic schedule</a></li>
        </ul>
    {% endif %}
    {% if cat == 'challenge' %}
        <h3> Active tags </h3>    
        {% if tags == 0 %}
            <p>No available tags.</p>
        {% else %}
            <form action="{% url set_active_categories %}" method="post">{% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit" />
            </form>
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}

<h2>Question pool</h2>

<div class="actions">
    <a class="button" href="{% url question_new %}">{% trans 'Add question' %}</a>
    <a class="button" href="{% url importer %}">Import</a>
</div>

<ul class="tabs">
    {% for c in categs%}
    <li {% if cat == c.1 %}class="active"{% endif %}><a href="{% url qpool_home c.1 %}">{{ c.0 }}</a></li>
    {% endfor %}

    <li {% if cat == 'search' %}class="active"{% endif %}><a href="{% url qpool_search %}">{% trans 'Search' %}</a></li>
</ul>

<div class="tab_container">
    <div id="tab-1" class="tab_content">
    {% if cat == 'search' %}
    <form>
    <p>Search for questions containing:
        <input type="text" name="q" value="{{q}}" />
        <button type="submit">{% trans 'Search'%}</button>
    </p>
    </form>
    {% endif %}
    <table>
        <tr>
            {% if cat == 'search' %}
            <th>#</th>
            {% endif %}
            {% if cat == 'qotd' %}
            <th>Day</th>
            {% endif %}
            <th>Question</th>
            <th>Active</th>
            <th>Actions</th>
        </th>
    {% for q in questions %}
        <tr>
            {% if cat == 'search' %}<td>{{q.id}}</td>{% endif %}
            {% if cat == 'qotd' %}
            <td nowrap {% if q.scheduled == today %}class="bold"{%endif%}>{{ q.scheduled }}</td>
            {% endif %}
            <td>{{ q }}<span class="points">{% if not q.is_valid %}<span class="wrong">Invalid</span>{% endif %}</span>
                <div class="second">{% if q.tag %}tags: {{ q.tag }}{% endif %}</div>
            </td>
            <td>
            <a class="button" href="{% url switch_active q.id %}">{% if q.active %}<span class="ok">yes</span>
            {% else %}<span class="wrong">no</span>
            {% endif %}
            </a>
            </td>
            <td class="actions" nowrap>
                <a href="{% url question_edit q.id%}">✍</a>
                <a href="{% url question_del q.id%}" onclick="return confirm('really?');">✕</a>
            </td>
        </tr>
    {% empty %}
    <tr><td colspan=3>No questions</td></tr>
    {% endfor %}
    </table>
    </div>
</div>

{% endblock %}
