{% extends 'cpanel/qpool_home.html' %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}CPanel{% endblock %}
{% block sectiontitle %}Add question{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Add question" "qpool_new" %}
{% endblock %}

{% block bottomscripts %}
    <script type="text/javascript" src="{{ basepath }}/static/js/cpanel/qpool/qpool_new.js/"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <style>
    .col-md-8 {
        font-family: Tahoma, Geneva, sans-serif;
        font-size: 13px;
        color: #000;
    }
    label {
        color: #47F;
        margin-top: 5px;
        margin-left: 5px;
        display: inline-block;
        width: 160px;
    }
    textarea {
        width: 450px;
        height: 100px;
        padding: 10px;
        border-radius: 5px;
        border: solid #999 1px;
        margin-bottom: 15px;
        outline: none;
    }
    textarea:focus {
        border: solid #47F 1px;
        -webkit-box-shadow: 1px 1px 10px #CCC;
        -moz-box-shadow: 1px 1px 10px #CCC;
        box-shadow: 1px 1px 10px #CCC;
    }
    textarea#question {
        height: 100px;
    }
    textarea#answer {
        height: 70px;
    }
    .formfield * {
        vertical-align: middle;
    }
    select {
        padding: 3px;
        margin: 0;
        border-radius: 4px;
        -webkit-box-shadow:
            0 3px 0 #ccc,
            0 -1px #fff inset;
        background: #f8f8f8;
        border: solid #CCC 1px;
        outline: none;
        display: inline-block;
        -webkit-appearance: none;
        cursor: pointer;
    }
    input[type=checkbox] {
        padding: 0;
        margin: 0;
        position: relative;
        top: -2px;
        left: 5px;
        display: inline-block;
    }
    .mark {
        width: auto;
        background-color: #FFF;
        display: inline-block;
        padding-left: 20px;
        text-indent: -15px;
    }
    .add {
        color: #47F;
        margin-top: 5px;
        margin-left: 5px;
        display: inline-block;
        width: 160px;
        cursor: pointer;
    }
    .info-column {
        display: inline-block;
        width: 160px;
        margin-top: 5px;
        margin-left: 5px;
    }
    </style>
{% endblock %}

<!-- Disable search bar. -->
{% block searchbar %}
{% endblock %}

{% block subsectioncontent %}

    <div class="col-md-8">
        <form class="orizontal-form" method="post">
            <p class="formfield">
                <label for="text">Insert question text</label>
                <textarea id="text" name="text">{{ question.text }}</textarea>
            </p>
            <hr />

            <p class="formfield">
                <label for="select-category">Select category</label>
                <select name="category" id="select-category">
                    {% for c in categs %}
                    <option value="{{c.1}}">{{ c.0 }}</option>
                    {% endfor %}
                </select>
            </p>

            <p class="formfield">
                <label for="select-tags">Choose tags</label>
                <select multiple name="tags" id="select-tags">
                </select>
            </p>

            <p class="formfield">
                <label>Question type</label>
                {{ form.answertype }}
            </p>
            <hr />

            <p class="info-column">
                <a class="btn btn-sm btn-success" id="add"><span class="glyphicon glyphicon-plus"></span>Add new answer</a>
            </p>
            <div id="wrapper">
                <!-- Add four default answers -->
                {% for a in 1234|make_list %}
                    <div id="box_{{a}}" class="formfield">
                        <div class="info-column">
                            <a class="btn btn-sm btn-warning" id="remove"><span class="glyphicon glyphicon-minus"></span>Remove this answer</a>
                        </div>
                        <textarea name="answer_{{a}}" id="answer"></textarea>
                        <label class="mark" for="checkbox">Mark correct</label>
                        <input id="checkbox" type="checkbox" name="correct_{{a}}"/>
                    </div>
                {% endfor %}
            </div>
            <hr />

            <p class="formfield">
                <label>Mark question as active</label>
                {{ form.active }}
            </p>
            <br />

            <button onclick="history.back(); return false;" class="btn btn-warning">{% trans 'Cancel' %}</button>
            <button type="reset" class="btn btn-danger">{% trans 'Reset' %}</button>
            <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>

            {% csrf_token %}

        </form>
    </div>

{% endblock %}
