{% extends 'cpanel/qpool_home.html' %}
{% load i18n %}

{% block sectiontitle %}Question pool &raquo; Edit Tag{% endblock %}

{% block sectioncontent %}
    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

        <form class="horizontal-form" method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <br/>
            <input class="btn btn-primary" type="submit" value="Submit">
        </form>
{% endblock %}
