{% extends 'cpanel/qpool_home.html' %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}CPanel{% endblock %}
{% block sectiontitle %}Add question{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Add question" "qpool_new" %}
{% endblock %}

{% block bottomscripts %}
    <script type="text/javascript" src="{{ basepath }}/static/js/cpanel/qpool/qpool_new.js/"></script>
    <script src="{{ basepath }}/static/js/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ basepath }}/static/css/cpanel-qpool.css" />
{% endblock %}

<!-- Disable search bar. -->
{% block searchbar %}
{% endblock %}

{% block subsectioncontent %}

    <div class="col-md-8">
        <form class="orizontal-form" method="post">
            <p class="formfield">
                <label for="text">Insert question text</label>
                <textarea id="text" name="text">{{ question.text }}</textarea>
            </p>
            <hr />

            <p class="formfield">
                <label for="select-category">Select category</label>
                <select name="category" id="select-category">
                    {% for c in categs %}
                    <option value="{{c.1}}">{{ c.0 }}</option>
                    {% endfor %}
                </select>
            </p>

            <p class="formfield">
                <label for="select-tags">Choose tags</label>
                <select multiple name="tags" id="select-tags">
                </select>
            </p>

            <p class="formfield">
                <label>Question type</label>
                {{ form.answertype }}
            </p>
            <hr />

            <p class="info-column">
                <a class="btn btn-sm btn-success" id="add"><span class="glyphicon glyphicon-plus"></span>Add new answer</a>
            </p>
            <div id="wrapper">
                <!-- Add four default answers -->
                {% for a in 1234|make_list %}
                    <div id="box_{{a}}" class="formfield">
                        <div class="info-column">
                            <a class="btn btn-sm btn-warning" id="remove"><span class="glyphicon glyphicon-minus"></span>Remove this answer</a>
                        </div>
                        <textarea name="answer_{{a}}" id="answer"></textarea>
                        <label class="mark" for="checkbox">Mark correct</label>
                        <input id="checkbox" type="checkbox" name="correct_{{a}}"/>
                    </div>
                {% endfor %}
            </div>
            <hr />

            <p class="formfield">
                <label>Mark question as active</label>
                {{ form.active }}
            </p>
            <br />

            <button onclick="history.back(); return false;" class="btn btn-warning">{% trans 'Cancel' %}</button>
            <button type="reset" class="btn btn-danger">{% trans 'Reset' %}</button>
            <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>

            {% csrf_token %}

        </form>
    </div>

{% endblock %}
