{% extends 'cpanel/qpool_home.html' %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}CPanel{% endblock %}
{% block sectiontitle %}Add question{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Add question" "qpool_new" %}
{% endblock %}

{% block bottomscripts %}
    <script type="text/javascript" src="{{ basepath }}/static/js/cpanel/qpool/qpool_new.js/"></script>
{% endblock %}

{% block subsectioncontent %}

    <form style="width: 70%" class="horizontal-form" method="post">
        <table class="table table-bordered table-hover table-condensed">
            <tr>
                <th>Properties</th>
                <th>Text</th>
            </tr>
            <tr>
                <td style="vertical-align: middle"><label>Question Text:</label></td>
                <td><textarea id="text" name="text" rows="5" cols="50">{{ question.text}}</textarea></td>
            </tr>
            {% for a in 123456|make_list %}
            <tr>
                <td style="vertical-align: middle">Correct: <input type="checkbox" name="correct_{{a}}"/></td>
                <td><textarea name="answer_{{a}}" cols="50"></textarea></td>
            </tr>
            {% endfor %}
            {% if not question %}
            <tr>
                <td><b>Category:</b></td>
                <td>
                    <select name="category" id="select-category">
                        {% for c in categs %}
                        <option value="{{c.1}}">{{ c.0 }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td><b>Tags:</b></td>
                <td>
                    <select multiple name="tags" id="select-tags">
                    </select>
                </td>
            </tr>
            {% endif %}
            {% if form.proposed_by %}
            <tr>
                <td><b>Proposed by:</b></td>
                <td>{{ form.proposed_by }}</td>
            </tr>
            {% endif %}
            {% if form.endorsed_by %}
            <tr>
                <td><b>Endorsed by:</b></td>
                <td>{{ form.endorsed_by }}</td>
            </tr>
            {% endif %}
        </table>

        <button onclick="history.back(); return false;" class="btn btn-warning">{% trans 'Cancel' %}</button>
        <button type="reset" class="btn btn-danger">{% trans 'Reset' %}</button>
        <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>

        {% csrf_token %}

    </form>

{% endblock %}
