{% extends 'cpanel/qpool_home.html' %}

{% load i18n %}
{% load bootstrap %}
{% load django_bootstrap_breadcrumbs %}

{% block sectiontitle %}Add tag{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Add tag" "qpool_add_tag" %}
{% endblock %}

{% block sectioncontent %}

    <div class="col-md-8">
        {% if form.errors %}
            <p style="color: red;">
             Please correct the error{{ form.errors|pluralize }} below.
            </p>
        {% endif %}

        <form class="form-horizontal" role="form" action="" method="post">
            {{ form|bootstrap_horizontal }}
            <button onclick="history.back(); return false;" class="btn btn-warning">{% trans 'Cancel' %}</button>
            <button type="reset" class="btn btn-danger">{% trans 'Reset' %}</button>
            <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
            {% csrf_token %}
        </form>
    </div>

{% endblock %}
