{% extends 'cpanel/qpool_home.html' %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}Control Panel{% endblock %}
{% block sectiontitle %}{% if question %}Edit question #{{ question.id }}{% else %}New question{% endif %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Edit question" "question_edit" %}
{% endblock %}

{% block bottomscripts %}
    <script type="text/javascript" src="{{ basepath }}/static/js/cpanel/qpool/qpool_new.js/"></script>
    <script src="{{ basepath }}/static/js/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ basepath }}/static/css/cpanel-qpool.css" />
{% endblock %}

<!-- Disable search bar. -->
{% block searchbar %}
{% endblock %}

{% block subsectioncontent %}

    <div class="col-md-8">
        <form class="orizontal-form" method="post">
            {{ form.errors }}
            <p class="formfield">
                <label>Proposed by</label>
                {{ question.proposed_by }}
            </p>
            <p class="formfield">
                <label>Added on</label>
                {{ question.date_added }}
            </p>
            <p class="formfield">
                <label>Last modified on</label>
                {{ question.date_changed }}
            </p>
            <hr/>

            <p class="formfield">
                <label for="text">Edit question text</label>
                <textarea id="text" name="text">{{ question.text }}</textarea>
            </p>
            <hr />

            <p class="formfield">
                <label for="select-category">Select category</label>
                <select name="category" id="select-category">
                    {% for c in categs %}
                        {% if c.1 == question.category.name %}
                            <option value="{{c.1}}" selected="selected">{{ c.0 }}</option>
                        {% else %}
                            <option value="{{c.1}}">{{ c.0 }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </p>

            <p class="formfield">
                <label for="select-tags">Choose tags</label>
                <select multiple name="tags" id="select-tags">
                </select>
            </p>

            <p class="formfield">
                <label>Question type</label>
                {{ form.answertype }}
            </p>
            <hr />

            <p class="info-column">
                <a class="btn btn-sm btn-success" id="add"><span class="glyphicon glyphicon-plus"></span>Add new answer</a>
            </p>
            <div id="wrapper">
                <!-- Add four default answers -->
                {% for a in question.answers %}
                    <div id="box_{{a.id}}" class="formfield">
                        <div class="info-column">
                            <a class="btn btn-sm btn-warning" id="remove"><span class="glyphicon glyphicon-minus"></span>Remove this answer</a>
                        </div>
                        <textarea name="answer_{{a.id}}" id="answer">{{ a.text }}</textarea>
                        <label class="mark" for="checkbox">Mark correct</label>
                        <input id="checkbox" type="checkbox" name="correct_{{a.id}}" {% if a.correct %} checked {% endif %}/>
                    </div>
                {% endfor %}
            </div>
            <hr />

            <p class="formfield">
                <label>Mark question as active</label>
                {{ form.active }}
            </p>
            <br />

            <button onclick="history.back(); return false;" class="btn btn-warning">{% trans 'Cancel' %}</button>
            <button type="reset" class="btn btn-danger">{% trans 'Reset' %}</button>
            <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>

            {% csrf_token %}

        </form>
    </div>

{% endblock %}
