{% extends 'cpanel/index.html' %}

{% block title %}CPanel{% endblock %}

{% block content %}

<h2>Edit question #{{ question.id }}</h2>
{% if question %}
<div class="second">
<p>Proposed by: {{ question.proposed_by }}, Endorsed by: {{ question.endorsed_by }}</p>
Category: {{ question.category }}
</div>
{% endif %}

<form method="post">
<table>
    <tr><td><label for="text">Text:</label></td>
        <td><textarea id="text" name="text" rows="10" cols="50">{{ question.text}}</textarea>
    </tr>
    {% for a in question.answers %}
    <tr><td><input type="checkbox" name="correct_{{a.id}}" {% if a.correct %}checked{% endif %}/></td>
        <td><textarea name="answer_{{a.id}}" cols="50">{{ a.text }}</textarea></td>
    </tr>
    {% empty %}
        {% for a in 12345|make_list %}
         <tr><td><input type="checkbox" name="correct_{{a}}" /></td>
            <td><textarea name="answer_{{a}}" cols="50"></textarea></td>
        </tr>
        {% endfor %}
    {% endfor %}
    <tr><td colspan="2"><label for="active">Active: </label>
        <input id="active" type="checkbox" name="active" {% if question.active %}checked{% endif %} /></td>
    </tr>
    {% if question.category.name == 'qotd' %}
    <tr><td><label for="schedule">Schedule</label></td>
        <td><input type="text" value="{{ question.scheduled }}" name="schedule" id="schedule"/></td>
    </tr>
    {% endif %}
    {% if not question %}
    <tr><td>Category: </td><td>
        <select name="category">
            {% for c in categs %}
                <option value="{{c.1}}">{{ c.0 }}</option>
            {% endfor %}
        </select>
    </td></tr>
    {% endif %}
</table>
<div class="actions">
    <button onclick="history.back(); return false;">Cancel</button>
    <button type="reset">Reset</button>
    <button type="submit" class="default">Save</button>
</div>
    {% csrf_token %}
</form>
{% endblock %}
