{% extends 'cpanel/index.html' %}
{% load user %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block sectiontitle %}
    Roles
    <a class="btn btn-primary pull-right" href="{% url roles_create %}">
        <span class="glyphicon glyphicon-plus"></span>{% trans 'New role' %}
    </a>
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Roles" "roles" %}
{% endblock %}

{% block sectioncontent %}
<table class="table table-bordered table-hover table-condensed">
    <tr>
        <th>Role</th>
        <th>Permissions</th>
        <th>Members</th>
        <th>Manage</th>
    </tr>
    {% for r in roles %}
    <tr>
        <td>{{ r }}</td>
        <td>
            {{ r.permissions.all|join:"," }}
        </td>
        <td>{{ r.user_set.all.count }}</td>
        <td>
            <a href="{% url roles_update r.id %}" class="btn btn-success">
                <span class="glyphicon glyphicon-edit"></span>{% trans 'Edit' %}
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
