{% extends 'cpanel/index.html' %}

{% load user %}
{% load i18n %}
{% load bootstrap %}
{% load django_bootstrap_breadcrumbs %}

{% block sectiontitle %}Add role{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Roles" "roles" %}
    {% breadcrumb "Add role" "roles_create" %}
{% endblock %}

{% block sectioncontent %}

<div class="col-md-8">
    <form class="form-horizontal" method="post" role="form" action="">
        {{ form|bootstrap_horizontal }}
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span> {% trans 'Add role' %}
        </button>
        {% csrf_token %}
    </form>
</div>

{% endblock %}
