{% extends 'cpanel/index.html' %}

{% load user %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block sectiontitle %}Add role{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Roles" "roles" %}
    {% breadcrumb "Add role" "roles_create" %}
{% endblock %}

{% block sectioncontent %}

<form style="width: 70%" class="horizontal-form" method="post">
    {% csrf_token %}
    <table class="table table-bordered table-condensed">
        {{ form.as_table }}
    </table>
    <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span> {% trans 'Add role' %}
    </button>
</form>

{% endblock %}
