{% extends 'cpanel/index.html' %}
{% load user %}
{% load i18n %}

{% block sectiontitle %}Role Update: {{ role }}{% endblock %}

{% block sectioncontent %}

<h3>Members</h3>
<div class="col-md-4">
    <table class="table table-bordered table-hover table-condensed">
        <tr>
            <th>User</th>
        </tr>
        {% for u in role.user_set.all %}
        <tr>
            <td>{% player u.get_profile %}</td>
            <td><a class="btn btn-danger btn-sm" href="{% url roles_update_kick role.id u.id %}">
                <span class="glyphicon glyphicon-remove"></span>{% trans 'Remove' %}
            </a></td>
        </tr>
        {% endfor %}
    </table>
</div>
<form action="" method="post">
   {% player_input 'player' role.id %}
   {% csrf_token %}
   <button type="submit" class="btn btn-primary">Add</button>
</form>

<h3>Permissions</h3>
<ul>
    {% for p in role.permissions.all %}
    <li>{{ p }}</li>
    {% endfor %}
</ul>
<a class="btn btn-success" href="{% url admin:auth_group_change role.pk %}">Change (external)</a>
<a class="btn btn-warning" href="{% url roles %}">Back to roles</a>
{% endblock %}