{% extends 'cpanel/index.html' %}
{% load i18n %}

{% block sectiontitle %}
    Static Pages
    <a class="btn btn-primary pull-right" href="{% url add_static_page %}">
        <span class="glyphicon glyphicon-plus"></span>{% trans 'Add static page' %}
    </a>
{% endblock %}

{% block sectioncontent %}
<div class="container-fluid">
<table class="table table-bordered table-condensed table-hover">
    <tr>
        <th>Name</th>
        <th>Title</th>
        <th>Hidden</th>
        <th>Manage</th>
    </tr>
    {% for p in pages %}
    <tr>
        <td>{{ p.name }}</td>
        <td>{{ p.title }}</td>
        <td>{{ p.hidden }}</td>
        <td>
            <a class="btn btn-success" href="{% url edit_static_page p.pk %}">
                {% trans 'Edit ' %}<span class="glyphicon glyphicon-edit"></span>
            </a>
            <a class="btn btn-danger" href="{% url del_static_page p.pk %}">
                {% trans 'Delete ' %}<span class="glyphicon glyphicon-remove"></span>
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}
