{% extends 'cpanel/index.html' %}

{% load user %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block sectiontitle %}{% trans 'System Message' %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Groups" "races_groups" %}
    {% breadcrumb "Message" "system_message_group" %}
{% endblock %}

{% block sectioncontent %}

<div class="col-md-8">
    <form class="horizontal-form" method="post" action="">

        <table class="table table-bordered table-condensed">
            <tr>
                <th>{% trans 'To' %}:</th>
                <td>{% player_group group %}</td>
            </tr>
            <tr>
                <th style="vertical-align: middle">{% trans 'Text' %}:</th>
                <td>
                    <textarea name="text" rows="8" cols="50"></textarea>
                </td>
            </tr>
        </table>

        {% csrf_token %}

        <button class="btn btn-primary" type="submit">{% trans 'Send' %}</button>

    </form>
</div>

{% endblock %}
