{% extends 'cpanel/index.html' %}

{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block sectiontitle %}
    Lessons
    <div class="pull-right">
        <a class="btn btn-primary" href="{% url add_lesson %}">
            <span class="glyphicon glyphicon-plus"></span>{% trans 'Add lesson' %}
        </a>
        <a class="btn btn-success" href="{% url manage_lesson_tags %}">
            <span class="glyphicon glyphicon-edit"></span>{% trans 'Manage tags' %}
        </a>
        <a class="btn btn-success" href="{% url manage_lesson_categories %}">
            <span class="glyphicon glyphicon-edit"></span>{% trans 'Manage categories' %}
        </a>
    </div>
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Lessons" "lessons" %}
{% endblock %}

{% block scripts %}
    {{ block.super }}

    <script>
        function get_selection() {
            /* return a string containing ids of all lessons selected */

            var selection = "";
            $('.select_all:checked').each(function() {
                selection += this.id + ' ';
            });
            return selection;
        }

        function select_category(option) {
            /* select/unselect all lessons belonging to a category */

            var cls = '.' + option.value;
            var value = true;
            $(cls).each(function() {
                value = value && $(this).is(':checked');
            });
            /* if value remains true then unselect all, else select all */
            $(cls).attr('checked', !value).change();
        }

        $(function() {
            /* update 'disabled' attribute for actions */

            $('.select_all').change(function() {
                if (get_selection() != '')
                    $('#l_actions').attr('disabled', false);
                else
                    $('#l_actions').attr('disabled', true);
            });
        });

        function apply_action(option) {
            /* apply the selected action to the selected lessons */

            var action = option.value;
            if (action == '')
                return;
            var destination = '{% url lesson_actions %}?l_id=' + get_selection() + '&action=' + action;
            window.location.replace(destination);
        }
    </script>

{% endblock %}

{% block sectioncontent %}

<div class="col-md-12">

    <b>Select:</b>
    <a onclick='$(".select_all").attr("checked", true).change();' href="#">{% trans 'All' %}</a> /
    <a onclick='$(".select_all").attr("checked", false).change();' href="#">{% trans 'None' %}</a>

    <br/>

    <b>Select:</b>
    <select onclick="select_category(this)">
        <option selected value="">-- Category --</option>
        {% for c in categories %}
        <option value="{{c.id}}">{{ c }}</option>
        {% endfor %}
    </select>

    <br/>

    <b>Action:</b>
    <select onclick="apply_action(this)" id="l_actions" disabled="true">
        <option selected value="">-- Select action --</option>
        <option value="active"  >Set active</option>
        <option value="inactive">Set inactive</option>
    </select>

    <br/>

    {% include 'cpanel/pagination.html' %}

    <table class="table table-bordered table-hover table-condensed">
        <tr>
            <th colspan="2">#</th>
            <th>Name</th>
            <th>Category</th>
            <th>Tag</th>
            <th>Quiz</th>
            <th>Show quiz after (minutes)</th>
            <th>Active</th>
            <th>Manage</th>
        </tr>
            {% for l in lessons %}
            <tr>
                <td><input type="checkbox" id="{{ l.id }}" class="select_all {{ l.tag.category.id }}"/></td>
                <td>{{ l.id }}</td>
                <td>{{ l.name }}</td>
                <td>{{ l.tag.category }}</td>
                <td>{{ l.tag }}</td>
                <td>{{ l.quiz }}</td>
                <td>{{ l.quiz_show_time }}</td>
                <td>
                    {% if l.active %}
                        <a class="btn btn-success btn-xs" href="{% url lesson_switch_active l.id %}">{% trans 'Yes' %}</a>
                    {% else %}
                        <a class="btn btn-danger btn-xs" href="{% url lesson_switch_active l.id %}">{% trans 'No' %}</a>
                    {% endif %}

                </td>
                <td>
                   <a class="btn btn-success" href="{% url edit_lesson l.id %}">
                        <span class="glyphicon glyphicon-edit"></span>{% trans 'Edit' %}
                    </a>
                    <a class="btn btn-danger" href="{% url delete_lesson l.id %}" onclick="return confirm('Really?');">
                        <span class="glyphicon glyphicon-remove"></span>{% trans 'Delete' %}
                    </a>
                </td>
            </tr>
            {% empty %}
                <tr>
                    <td colspan="10">No lessons added yet</td>
                </tr>
            {% endfor %}
    </table>
</div>

{% endblock %}
