{% extends 'lesson/cpanel/list_lessons.html' %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block sectiontitle %}
    Manage tags
    <div class="pull-right">
        <a class="btn btn-primary" href="{% url add_lesson_tag %}">
            <span class="glyphicon glyphicon-plus"></span>{% trans 'Add tag' %}
        </a>
    </div>
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Manage tags" "manage_lesson_tags" %}
{% endblock %}

{% block sectioncontent %}
    <table class="table table-bordered table-hover table-condensed">
        <tr>
            <th>Logo</th>
            <th>Name</th>
            <th>Category</th>
            <th>Number of lessons</th>
            <th>Manage</th>
        </tr>
        {% for t in tags %}
        <tr>
            <td><img src="{{ t.logo_url }}" class="logo"/></td>
            <td>{{ t }}</td>
            <td>{{ t.category }}</td>
            <td>{{ t.number_of_lessons }}</td>
            <td>
                <a class="btn btn-info" href="{% url sort_lessons t.id %}">
                    <span class="glyphicon glyphicon-sort"></span>{% trans 'Sort Lessons' %}
                </a>
                <a class="btn btn-success" href="{% url edit_lesson_tag t.id %}">
                    <span class="glyphicon glyphicon-edit"></span>{% trans 'Edit' %}
                </a>
                <a class="btn btn-danger" href="{% url delete_lesson_tag t.id %}">
                    <span class="glyphicon glyphicon-remove"></span>{% trans 'Delete' %}
                </a>
            </td>
        </tr>
        {% empty %}
            <td colspan="10">No tags have been added yet.</td>
        {% endfor %}
    </table>
{% endblock %}
