{% extends 'lesson/cpanel/manage_categories.html' %}

{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block scripts %}
    <script type="text/javascript" src="{{ basepath }}/static/js/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="{{ basepath }}/static/js/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
      $("#level-list").sortable({
        handle : '.handle',
        update : function () {
          var order = $('#level-list').sortable('serialize');
          $('#order-input').val(order);
        }
      });
    });
    </script>
{% endblock %}

{% block sectiontitle %}
    Sort lessons in {{ category }}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Sort lessons" "sort_lessons" %}
{% endblock %}


{% block sectioncontent %}

    <p>Drag and drop the bullets to reorder lessons:</p>

    <form method="post">
        <input id="order-input" name="order" value="" type="hidden" />
        <ol id="level-list" class="sort-list">
            {% for l in category.lessons %}
                <li id="listItem_{{ l.id }}"><span class="handle">&bull;</span>{{ l }}</li>
            {% endfor %}
        </ol>

        <div class="actions">
            <button onclick="history.back(); return false;" class="btn btn-warning">{% trans 'Cancel' %}</button>
            <button onclick="window.location.reload(); return false;" class="btn btn-danger">{% trans 'Reset' %}</button>
            <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
        </div>

        {% csrf_token %}
    </form>

{% endblock %}
