*~
*.swp
*.pyc
*.db
*.mo
/pybox/
/wouso/settings.py
/wouso/localsettings.py
/wouso/resources/static/upload/*
/wouso/resources/static/themes/blackout
/wouso/resources/static/storage/*
/docs/_build
src/
build/
.pydevproject
.project
.DS_Store
.idea
/pip-log.txt
instance
/docs/api/_build/
*.log
nohup.out
.vagrant
nosetests.xml
/sandbox/
/tags
/TAGS
