*~
*.swp
*.pyc
*.db
*.mo
/wouso/settings.py
/wouso/localsettings.py
/wouso/resources/static/upload/*
/wouso/resources/static/themes/blackout
/docs/_build
src/
build/
.pydevproject
.project
.DS_Store
.idea
/pip-log.txt
instance
