{% extends 'interface/section_base.html'%}
{% load artifacts %}
{% load i18n %}
{% load user %}
{% block title %}{% trans 'Challenges' %}{% endblock %}
{% block sectiontitle %}{% trans 'Challenges' %}{% endblock %}

{% block sectioncontent %}

{% if challenge.disabled %}
<p>{% trans 'Challenges are disabled.' %}</p>
{% else %}
{% if not challuser.can_launch or not challuser.has_enough_points%}
<p>{% trans 'You cannot launch another challenge today.' %}
    {% if challuser.has_one_more %}
    You can use the {% artifact challuser.has_one_more %} artifact to enable one more challenge.
    <a href="{% url games.challenge.views.use_one_more %}">{% trans 'Use artifact' %}</a>.
    {% endif %}
</p>
{% else %}
<p>{% trans 'To launch a challenge, find the player you want to challenge and click on the <em>Challenge</em> button, next to his profile, or type the name of the player you want to challenge.' %}</p>
	<form   method="POST" action="{% url challenge_player %}">
	<b>{% trans 'Challenge Player:' %}</b>
	{% player_input 'player' %}
	{% csrf_token %}
    <button type="submit">{% trans 'Challenge!' %}</button>
    </form> <br>
    {% if config_random_challenge %}
    <a href="{% url challenge_random %}">Challenge random player</a> <br>
    {% endif %}

{% endif %}
{% endif %}
<a href="{% url challenge_stats %}">View Challenge Statistics</a>
<h3>{% trans 'Active' %}</h3>
<ul class="answers">
{% for c in challenges %}
<li>
    {{ c.date }}
    <a href="{% url player_profile c.user_from.user.id %}">{{ c.user_from }}</a> vs.
    <a href="{% url player_profile c.user_to.user.id %}">{{ c.user_to }}</a> - Status: {% if c.status == "R" %}Refused
    {% else %}
    {% if c.status == "L" %}Launched
    {% else %}
    {% if c.status == "A" %}Accepted
    {% endif %}{% endif %}{% endif %}

    {% ifequal c.user_to.user challuser %}
        {% if c.is_launched %}<a href="{% url challenge_accept c.id %}">Accept</a>{% endif %}
        {% if c.is_launched %}<a href="{% url challenge_refuse c.id %}">Refuse</a>{% endif %}
    {% endifequal %}

    {% if c.is_runnable %}
        <span class="points"><a href="{% url view_challenge c.id %}" class="button">{% trans 'Play' %}</a></span>
    {% endif %}

    {% ifequal c.user_from.user challuser %}
        {% if c.is_launched %}<a href="{% url challenge_cancel c.id %}">Cancel</a>{% endif %}
    {% endifequal %}

    {% if user.is_superuser %} | superuser:
        {% if c.is_launched %}<a href="{% url challenge_accept c.id %}">Accept</a>{% endif %}
        {% if c.is_launched %}<a href="{% url challenge_refuse c.id %}">Refuse</a>{% endif %}
    {% endif %}
    <div class="clear spacer"></div>
</li>
{% empty %}
    <li class="empty">{% trans 'No challenges in this category.' %}
{% endfor %}
</ul>

{% if played %}
<h3>{% trans 'Played' %}</h3>
<ul class="answers">
{% for c in played %}
    <li>
    {{ c.date }}
    <a href="{% url player_profile c.user_from.user.id %}">{{ c.user_from }}</a> vs.
    <a href="{% url player_profile c.user_to.user.id %}">{{ c.user_to }}</a>
     - Result:  {% if c.status == "D" %} Draw
                {% else %} {% if c.status == "P" %} Won by {{ c.winner }}
                {% else %} Pending {% endif %}
                {% endif %}

    {% if user.is_superuser %} | superuser:
        {% if c.status == "A" %}<a href="{% url setplayed c.id %}">Set played</a>{% endif %}
    {% endif %}
    </li>
{% empty %}
    <li class="empty">{% trans 'No challenges in this category.' %}</li>
{% endfor %}
</ul>
{% endif %}

{% endblock %}
