{% extends 'sidebar_widget.html' %}
{% load i18n %}
{% load user %}

{% block title %}{% trans 'Challenges' %}{% endblock %}

{% block content %}
<ul class="simple">
    {% for c in challenges %}
    <li>{% player_simple2 c.user_from.user chall_user %} vs {% player_simple2 c.user_to.user chall_user %}
        <span class="points"><a class="goto" href="{% url wouso.games.challenge.views.challenge c.id %}">{% trans 'Play' %}</a></span>
    </li>
    {% empty %}
    <li class="empty">{% trans 'No active challenges' %}</li>
    {% endfor %}
    {% if not chall_user.can_launch %}
    <li class="empty">{% trans 'You cannot challenge' %}</li>
    {% endif %}
 </ul>

<!-- <a class="goto" href="{% url wouso.games.challenge.views.index %}">Challenges</a> -->
{% endblock %}
