{% extends 'interface/sidebar_widget.html' %}
{% load i18n %}
{% load user %}

{% block title %}{% trans 'Challenges' %}{% endblock %}

{% block content %}
{% if challenge.disabled %}
    {% trans 'Challenges are disabled' %}
{% else %}
<ul class="simple">
    {% for c in challenges %}
    <li>{% player_simple2 c.user_from.user chall_user %} vs {% player_simple2 c.user_to.user chall_user %}
        <span class="points"><a class="goto" href="{% url view_challenge c.id %}">{% trans 'Play' %}</a></span>
    </li>
    {% empty %}
    <li class="empty">{% trans 'No active challenges' %}</li>
    {% endfor %}
    {% if not chall_user.can_launch %}
    <li class="empty">{% trans 'You cannot challenge' %}</li>
    {% endif %}
 </ul>
{% endif %}
{% endblock %}
