{% extends 'interface/section_base.html' %}
{% load i18n %}
{% load user %}
{% block title %}{% trans 'Challenges' %} - {{ current_player }}{% endblock %}
{% block sectiontitle %}{% trans 'Challenge statistics' %} - {{ current_player }}{% endblock %}

{% block sectioncontent %}

<p> {% trans 'Challenges played: ' %} {{n_chall_played }}</p>
<p> {% trans 'Challenges won: ' %} {{ n_chall_won }}</p>
<p> {% trans 'Challenges sent: ' %} {{ n_chall_sent }}</p>
<p> {% trans 'Challenges received: ' %} {{ n_chall_rec }}</p>
<p> {% trans 'Challenges refused: ' %} {{ n_chall_ref }}</p>
<p> {% trans 'Win percentage: ' %} {{ win_percentage|floatformat:"-2" }}%</p>
<p> {% trans 'Average time taken: ' %} {{ average_time }} {% trans 's' %} </p>
<p> {% trans 'Average score: ' %} {{ average_score }} </p>
<p><i> {% trans 'Note: 1 draw counts as 1/2 win and 1/2 loss when calculating win percentage.' %} </i></p>
<table>
    <tr align=center>
        <td><b>Opponent</b></td>
        <td><b>Won</b></td>
        <td><b>Lost</b></td>
        <td><b>Draw</b></td>
        <td><b>Refused</b></td>
        <td><b>Total</b></td>
        <td><b>Details</b></td>
    </tr>
{% for op in opponents %}
    <tr align=center>
        <td align="left">{% player op.0 %}</td>
        <td>{{op.1}}</td>
        <td>{{op.2}}</td>
        <td>{{op.3}}</td>
        <td>{{op.4}}</td>
        <td>{{op.5}}</td>
        <td><a href="{% url detailed_challenge_stats target_id=op.0.id player_id=current_player.id %}">details</a></td>
    </tr>
{% endfor %}
</table>
{% endblock %}
