<div id="sidebar">
    {% if not user.is_authenticated %}
    <div class="block">
    <h4>User</h4>
    <p><a href="{% url django.contrib.auth.views.login %}">Login</a></p>
    </div>
    {% endif %}
    
    <div class="block">
    <h4>Question of the day</h4>
    <p>
    {% if userprofile.has_answered_qotd %}
    You have already answered.
    {% else %}
        {% if not qotd.valid %}
        None for today.
        {% else %}
        <a href="{% url games.qotd.views.index %}">Play</a>
        {% endif %}
    {% endif %}
    </p>
    </div>
    
    <div class="block">
    <h4>Challenges</h4>
    <p>
    <a href="{% url games.challenge.views.index %}">View details</a>
    </p>
    </div>
    
    {% if quest %}
    <div class="block">
    <h4>Quest</h4>
    <p>Elapsed: {{ quest.elapsed }}</p>
    <p><a href="{% url games.wquest.views.index %}">Play</a></p>
    </div>
    {% endif %}
    
    <div class="block">
    <h4>Top players</h4>
    <p>
    {% for u in top10 %}
        <a href="{% url core.profile.views.user_profile u.user_id %}">{{ u.real_name }}</a> {{ u.points }} <br/>
    {% endfor %}
    </p>
    <p><a href="{% url core.profile.views.top %}">Top</a></p>
    </div>
    
</div>
