{% load facebook_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<HTML xmlns="http://www.w3.org/1999/xhtml">
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<TITLE>{% block title %}World of USO v4{% endblock %}</TITLE>
<LINK rel="stylesheet" type="text/css" href="/static/style.css" />
<LINK rel="stylesheet" type="text/css" href="/static/theme/{{ config.theme }}/theme.css" />
{% facebook_js %}
</HEAD>

<BODY>
<div id="fundal">
<div id="container">
<div id="logo">
    <div id="topbar">
    {% if user.is_authenticated %}
    <a href="{% url core.profile.views.index %}">{{ userprofile.real_name }} ({{ user }})</a>, 
    <a href="{% url core.profile.views.messages %}">[ {{ userprofile.get_unread_messages }} ]</a>,
    <a href="{% url django.contrib.auth.views.logout %}">logout</a>.
    {% if user.is_staff %}
    <a href="{% url admin:index %}">Admin</a>
    {% endif %}
    {% else %}
    Anonimous, <a href="{% url django.contrib.auth.views.login %}">login</a>.
    {% endif %}
    </div>
        
    <a href="{% url views.homepage %}">
    </a>
</div>

<div id="search">
<form method="get" action="{% url core.profile.views.search %}">
<input type="text" name="query" /></form>
</div>

{% include 'sidebar.html' %}

<div id="content">
{% block content %}
<h1>World of USO: A new start</h1>
{% if game.started %}
<p>Elapsed time: {{ game.elapsed }}</p>
<p>Week: {{ game.week }}</p>
<p>Chapter: {{ game.chapter }}</p>
{% else %}
<p>Game didn't start yet.</p>
{% endif %}

<h2>Online users (active in the last 10 minutes)</h2>
{% for u in online_users %}
    {{ u }} ({{ u.last_online }}),
{% endfor %}
{% endblock %}
</div>

<div id="footer">
&copy; <a href="http://www.rosedu.org/">ROSEdu</a></div>
</div>
</div>
{% initialize_facebook_connect %}
</BODY>
</HTML>
