{% load user %}
{% load i18n %}
<script type="text/javascript">
    function remove_storage(){
        firstFreeChat = 1;
        max_room = 1;
        max_boxes = 5;
        private_users = [];
        private_users[0] = new Private('global', 0, "", null);
        sessionStorage.firstFreeChat = firstFreeChat;
        sessionStorage.max_room = max_room;
        sessionStorage.max_boxes = max_boxes;
        sessionStorage.private_users = JSON.stringify(private_users);
    }
</script>
<div id="topbar">
    <div class="first-line">
    {% if user.is_authenticated %}
        {% if user.real_user %}
            Impersonated by {{ user.real_user }} <a href="{% url impersonate_clear %}">clear</a>
        {% endif %}
        {% if perms.config.change_setting %}
        <a id="head-cpanel" href="{% url dashboard %}">CPanel</a>
        {% endif %}

        {% if not config_disable_chat %}
        <a id="head-chat" href="{% url chat_home %}">Chat</a>
        {% endif %}

        <a id="head-logout" href="{% url logout_view %}" onclick="remove_storage()">{% trans "Logout" %} &raquo;</a>
    {% else %}
    {% trans 'Anonimous' %}, <a href="{% url login_view %}">{% trans "Login" %} &raquo;</a>
    {% endif %}
    </div>
</div>

{% if user.is_authenticated %}
<div class="second">
    <a href="{% url player_profile player.id %}"><img src="{% player_avatar player %}" class="avatar avatar-med float-right" /></a>

    <div class="header-player-info">
        <strong>{% player player %}</strong>

        <div class="second-info">
        {% trans 'Level' %} {{ player.level_no }}
        {% coin_amount player %}
        {% coin_amount player 'gold' %}
        </div>
    </div>
</div>
{% endif %}

<div id="menu">
    {% for f in header %}
    <span id="head-{{ f.1 }}"><a href="{{ f.0.link }}">{{ f.0.text }}</a>
        {% if f.0.count %}<sup class="unread-count">{{ f.0.count }}</sup>{% endif %}
    </span>
    {% endfor %}
</div>
