{% extends base_template %}
{% load artifacts %}
{% load user %}
{% load i18n %}

{% block title %}{% trans 'Cast' %}{% endblock %}

{% block content %}
{% if not player.spells_collection.all.count %}
<div class="wrong error">{% trans "You don't have any spells to cast. Buy some at the bazaar place." %}
<a href="{% url bazaar_home %}">{% trans 'Bazaar' %}</a>
</div>
{% else %}
<h2>{% trans 'Cast' %}</h2>
<form method="post">
{% csrf_token %}
{% trans 'Cast: ' %}<select name="spell" id="spell-selector">
        <option></option>
        {% for s in player.spells_available.all %}<option value="{{ s.spell.id }}">{{ s.spell.title }} ({{ s.amount }})</option>
        {% endfor %}
      </select>
{% trans 'on' %} {% player destination %}
<span id="more"></span>
!
<div class="actions">
<button type="submit" class="default" id="submit" disabled>{% trans 'Cast' %}</button>
</div>
</form>
{% endif %}
<script language="JavaScript" type="text/javascript">
function days_select(days) {
    if (days == 1)
        return '<input type="hidden" name="days" value="1" />';
    html = '{% trans 'for' %} <select name="days">';
    for (i = 1; i <= days; i++)
        html += '<option>' + i + '</option>';
    html += '</select> {% trans 'days' %}';
    return html;
}
$('#spell-selector').change(function () {
    $.ajax({
        url: '{% url get_spell %}' + '?id=' + this.value,
        dataType: 'json',
        success: function(data) {
            days = data[0]['fields']['due_days'];
            $('#more').html(days_select(days));
            $('#submit').attr('disabled', false);
        },
        error: function(data) {
            $('#more').html('');
            $('#submit').attr('disabled', true);
        }
    });
});
</script>
{% endblock %}
