{% extends base_template %}
{% load artifacts %}
{% load user %}
{% load i18n %}

{% block title %}{% trans 'Groups' %}{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="/static/js/tabs.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/tabs.css" />
{% endblock %}

{% block content %}
<div class="profile">
    <h2>{% trans 'Groups' %}</h2>

    <table>
    <tr>
        <th colspan="2" align="left">{% trans 'Name' %}</th>
        <th>{% trans 'Members' %}</th>
        <th>{% trans 'Position' %}</th>
        <th>{% trans 'Points' %}</th>
    </tr>
    {% for group in groups %}
        <tr>
            <td colspan="2" width="100%"><strong>{% player_group group %}</strong>
            <td align="center"><strong>{{ group.players.count }}</strong></td>
            <td align="center"><strong>{{ group.top.position }}</strong></td>
            <td align="right"><strong>{{group.live_points}}</strong></td>
        </tr>
            {% for g in group.children %}
            <tr>
                <td></td>
                <td>{% player_group g %}</td>
                <td align="center">{{ g.players.count }}</td>
                <td align="center">{{ g.top.position}}</td>
                <td align="right">{{ g.live_points }}</td>
            {% endfor %}
    {% endfor %}
    </table>
</div>
{% endblock %}
