{% extends 'site_base.html' %}
{% load artifacts %}

{% block title %}Profil: {{ profile }}{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="/static/js/tabs.js"></script>
    <script type="text/javascript" src="/static/js/jquery.flot.pack.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/tabs.css" />
{% endblock %}

{% block content %}
<div class="profile">
    <div class="points">
        <div class="points-big">{{ profile.points}}</div>
        <div class="rank">rank: {{ top.position }}</div>
    </div>
    
    <img src="{{ avatar }}" class="avatar" width="100" />
    <h2>{{ profile }}</h2>
    <h3>{% artifact_full profile.level %}</h3>
    {% if profile.artifacts.all %}
        Artifacts: 
        <ul class="artifacts">
        {% for a in profile.artifacts.all %}
            <li>{% artifact a %}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <div class="actions">
        {% if profile.user.id != user.id %}
        <a class="button" href="#">Message</a>

            <a class="button" href="{% url games.challenge.views.launch profile.id %}">Challenge!</a>
        {% endif %}
        {% if user.is_superuser %}
            <a class="button" href="{% url artifact_set profile.id %}">Artifacts</a>
        {% endif %}
    </div>

    <ul class="tabs">
        <li><a href="#tab-1">Activity</a></li>
        <li><a href="#tab-2">Evolution</a></li>
        <li><a href="#tab-3">Points</a></li>
    </ul>

    <div class="tab_container">
        <div id="tab-1" class="tab_content">
        <ul>
        {% for ac in activity.object_list %}
            <li> From {{ ac.user_from }} to {{ ac.user_to }} <br/>
            <b>{{ ac.message }}</b> <br/> 
            {{ ac.timestamp }}<br/></li>
        {% empty %}
            <li class="empty">Sorry, no recent activity for this user</li>
        {% endfor %}
        
        {% if activity.has_previous %}
        <a href="{% url wouso.interface.profile.views.user_profile id=profile.id page=activity.previous_page_number %}"> Newer </a>
        {% endif %}
        
        {% if activity.has_next %}
        <a href="{% url wouso.interface.profile.views.user_profile id=profile.id page=activity.next_page_number %}"> Older </a>
        {% endif %}
        </ul>
        </div>
        
        <div id="tab-2" class="tab_content">
            <div id="graf1" class="graf placeholder"></div>
            <script id="source" language="javascript" type="text/javascript">
            <!-- using flot to draw evolution -->
            $(function () {
                var d1 = [[null, 10],{% for p in top.week_evolution %}[{{p.0}},{{p.1}}],{% endfor %}[7, null]];
                var options = { lines: { show: true }, points: { show: true },
                    xaxis: {
                        ticks: [[1,1],[5,5],[9,9]]
                        }
                };
                $("#tab-2").bind('custom', function() {
                    $.plot($("#graf1"), [{ label: "Weekly position evolution", color: "green", data: d1}], options);
                    $('#tab-2').unbind('custom');                    
                });
            });
            </script>
        </div>
        
        <div id="tab-3" class="tab_content">
            {% for source,coins in scoring.iteritems %}
                <h3>{{ source }}</h3>
                    {% for coin, value in coins.iteritems %}
                        {{ coin }} {{ value }}
                    {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
