{% extends 'site_base.html' %}
{% load artifacts %}

{% block title %}{{ profile.user }}{% endblock %}

{% block content %}
<h2>{{ profile.user }}</h2>

Title: {{profile.level.title}}<br/>
Points: {{profile.points}}

<ul class="artifacts">
{% for a in profile.artifacts.all %}
    <li>{% artifact a %}</li>
{% endfor %}
</ul>
<img src="{{ avatar }}"/>
<ul>
{% for ac in activity.object_list %}
    <li> From {{ ac.user_from }} to {{ ac.user_to }} <br/>
    <b>{{ ac.message }}</b> <br/> 
    {{ ac.timestamp }}<br/></li>
{% endfor %}

{% if activity.has_previous %}
<a href="{% url wouso.interface.profile.views.user_profile id=profile.id page=activity.previous_page_number %}"> Newer </a>
{% endif %}

{% if activity.has_next %}
<a href="{% url wouso.interface.profile.views.user_profile id=profile.id page=activity.next_page_number %}"> Older </a>
{% endif %}
</ul>


{% endblock %}
