{% extends 'site_base.html' %}
{% load user %}
{% load artifacts %}
{% load i18n %}
{% block content %}
	{% if not error %}
		<div style = "height: 10px"></div>
		<form name="input" action="{% url wouso.interface.views.report id%}" method="POST">{% csrf_token %}
		Why do you wish to report this player ?<br/>
		<div style = "height: 10px"></div>
		<div style = "#id_message {width:40px;height:50px;}">
		{{ form.message }}
		</div><br/>
		<input type="submit" value="Submit" /> <a href = "/"><input type = "button" value ="Cancel"/></a>
		</form>
	{% endif %}
{% endblock %}
