{% extends 'interface/section_base.html' %}
{% load artifacts %}
{% load user %}
{% load i18n %}

{% block title %}{{ profile }}{% endblock %}
{% block sectiontitle %}{{ profile }}{% endblock %}

{% block sectioncontent %}
    <form   method="POST" action="">
    <table>
        {{ form.as_table }}
    </table>
    {% csrf_token %}
    <button type="submit">{% trans 'Save' %}</button>
    </form>
    <p>La Nickname scrieți grupa și numele vostru, de exemplu <b>234_Tuxi_Pinguinescu</b>.</p>
    <p>Altfel nu vei fi luat în calcul în clasament.</p>
{% endblock %}
