{% extends base_template %}
{% load artifacts %}
{% load user %}
{% load i18n %}

{% block title %}{{ profile }}{% endblock %}
{% block scripts %}
<script type="text/javascript" src="/static/js/tabs.js"></script>
<script type="text/javascript" src="/static/js/jquery.flot.min.js"></script>
<script type="text/javascript" src="/static/js/profile_setting.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/tabs.css" />
{% endblock %}

{% block content %}
    </br>
    </br>
    <table>
        <tr>
            <td>Nick-Name:</td>
            <td><input type="text" id="Nick_Name" value="{{profile.nickname}}" maxlength="20" size="20"></td>
        </tr>
        <tr>
            <td>First-Name:</td>
            <td><input type="text" id="First_Name" value="{{profile.user.first_name}}" maxlength="25" size="20"></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><textarea style="width: 500px; height: 200px "></textarea></td>
        </tr>
        <tr>
            <td><input type="submit" class="default" value="Save" onclick="save_changes()"></td>
        </tr>
    </table>


{% endblock %}