{% extends base_template %}
{% load artifacts %}
{% load user %}
{% load i18n %}

{% block title %}{% trans 'Magic summary' %}{% endblock %}

{% block content %}
<h2>{% trans 'Magic summary' %}</h2>

<h3>{% trans 'Available' %}</h3>
{% if theowner.magic.spell_amounts.all %}
    <table>
    <tr><th>{% trans 'Spell' %}</th>
        <th>{% trans 'Amount' %}</th>
    </tr>
    {% for s in theowner.magic.spell_amounts.all %}
    <tr><td>{% artifact s.spell %} {{ s.spell.title }}</td>
        <td align="right">{% spell_stock theowner s.spell %}</td>
    </tr>
    {% endfor %}
    </table>
{% else %}
    {% trans 'None.' %}
{% endif %}

{% if theowner.magic.spells.all %}
<h3>{% trans 'Active on me' %}</h3>
<table>
    <tr><th>{% trans 'Spell' %}</th>
        <th>{% trans 'Source' %}</th>
        <th>{% trans 'Until' %}</th>
    </tr>
    {% for s in theowner.magic.spells.all %}
    <tr>
        <td>{% artifact s.spell %} {{ s.spell.title }}</td>
        <td>{% player_simple s.source %}</td>
        <td>{{ s.due }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% if theowner.spells_cast.all %}
<h3>{% trans 'Cast by me' %}</h3>
<table>
    <tr><th>{% trans 'Spell' %}</th>
        <th>{% trans 'Target' %}</th>
        <th>{% trans 'Until' %}</th>
    </tr>
    {% for s in theowner.spells_cast.all %}
    <tr>
        <td>{% artifact s.spell %} {{ s.spell.title }}</td>
        <td>{% player_simple s.player %}</td>
        <td>{{ s.due }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}
