{% extends 'cpanel/index.html' %}

{% block sectiontitle %}Quests{% endblock %}

{% block sectioncontent %}

<table>
    <tr>
        <th>#</th>
        <th>Date</th>
        <th>Title</th>
        <th>Levels</th>
        <th>Status</th>
        <th>Formula</th>
        <th></th>
    </tr>
    {% for q in quests %}
        <tr>
            <td>{{ q.id }}</td>
            <td nowrap>Starts {{ q.start|date:"d/m/Y H:i" }}
            <div class="second">ends: {{q.end|date:"d/m/Y H:i"}}</div>
            </td>
            <td width="100%">{{ q.title }}</td>
            <td align="center">{{ q.count }}</td>
            <td>{{ q.status }}</td>
            <td nowrap="nowrap">{{ q.get_formula }}</td>
            <td class="actions" nowrap>
                <a href="{% url quest_edit q.id %}" title="edit" class="button-min">✍</a>
                <a href="{% url quest_sort q.id %}" title="sort" class="button-min">➝</a>
                {% ifequal q.status "Passed" %}
                    {% if q.registered %}
                        <a class="button-min">Registered</div>
                    {% else %}
                        <a href="{% url register_results q.id %}" title="register" class="button-min">Register</a>
                    {% endif %}
                {% endifequal %}
                {% if q.id == final.id %}
                    <td>
                    <a class="button" href="{% url final_results %}">Results</a>
                    </td>
                {% endif %}
                {% if not q.is_active %}
                <td>
                    <a class="button" href="{% url quest_bonus q.id %}">Bonus top 10</a>
                </td>
                {% endif %}
            </td>
        </tr>
    {% empty %}
    <tr><td colspan=3>No quests</td></tr>
    {% endfor %}
</table>

<a class="button" href="{% url quest_new %}">New quest</a>
{% if not final %}
<a class="button" href="{% url quest_create_finale %}">Create final quest</a>
{% endif %}

<div class="info second" style="clear:both">Current date and time:  {% now "d/m/Y H:i" %}. Final quest checker path: {{ final_checker }}</div>

{% endblock %}
