{% extends 'cpanel/index.html' %}
{% load i18n %}

{% block sectiontitle %}
    Quests
    <div class="pull-right">
    <a class="btn btn-primary" href="{% url quest_new %}">
        <span class="glyphicon glyphicon-plus"></span>{% trans 'Add quest'%}
    </a>
    {% if not final %}
    <a class="btn btn-primary" href="{% url quest_create_finale %}">
        <span class="glyphicon glyphicon-plus"></span>{% trans 'Add final quest' %}
    </a>
    </div>
    {% endif %}
{% endblock %}

{% block sectioncontent %}
<div class="col-md-10">
    <table class="table table-bordered table-condensed table-hover">
        <tr>
            <th>#</th>
            <th>Date</th>
            <th>Title</th>
            <th>Levels</th>
            <th>Status</th>
            <th>Formula</th>
            <th>Manage</th>
        </tr>
        {% for q in quests %}
            <tr>
                <td>{{ q.id }}</td>
                <td>
                    Starts: {{ q.start|date:"d/m/Y H:i" }}
                    <div>Ends: {{q.end|date:"d/m/Y H:i"}}</div>
                </td>
                <td>{{ q.title }}</td>
                <td>{{ q.count }}</td>
                <td>{{ q.status }}</td>
                <td>{{ q.get_formula }}</td>
                <td>
                    <a href="{% url quest_edit q.id %}"  class="btn btn-success">
                        <span class="glyphicon glyphicon-edit"></span>{% trans 'Edit' %}
                    </a>
                    <a href="{% url quest_sort q.id %}" class="btn btn-info">
                        <span class="glyphicon glyphicon-sort"></span>{% trans 'Sort' %}
                    </a>
                    {% ifequal q.status "Passed" %}
                        {% if q.registered %}
                           <a href="{% url quest_sort q.id %}" class="btn btn-info">
                                {% trans 'Registered' %}
                             </a>
                        {% else %}
                            <a href="{% url register_results q.id %}" class="btn btn-info">
                                {% trans 'Register' %}
                            </a>
                        {% endif %}
                    {% endifequal %}
                    {% if q.id == final.id %}
                        <a class="btn btn-info" href="{% url final_results %}">
                            {% trans 'Results' %}
                        </a>
                    {% endif %}
                    {% if not q.is_active %}
                        <a class="btn btn-info" href="{% url quest_bonus q.id %}">
                            {% trans 'Bonus top 10' %}
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% empty %}
            <tr><td colspan=0>No quests add yet.</td></tr>
        {% endfor %}
    </table>
</div>
<div class="panel panel-primary col-md-2">
    <div class="panel-body">
        Current date and time:  {% now "d/m/Y H:i" %}.
        <br/><br/>
        Final quest checker path: {{ final_checker }}
    </div>
</div>
{% endblock %}
