{% extends 'interface/section_base.html' %}

{% load i18n %}
{% load user %}
{% block title %}{% trans 'Quest History' %}{% endblock %}
{% block sectiontitle %}{% trans 'Quest History' %}{% endblock %}

{% block sectioncontent %}
        <div class="subgroups">
            <h3>{% trans 'Overall Gods' %}</h3>
            <ul class="simple">
                {% for p in gods %}
                <li>{% player p %}</li>
                {% endfor %}
            </ul>
        </div>
    {% for quest in history %}
        <h3>{{ quest.title }}</h3>
        <p>
            Available from {{quest.start}} to {{quest.end}}.
            Had {{quest.questions.count}} questions.
            {% if quest.registered %}
            {{ quest.players_count }} players attempted it.
            {% endif %}
            {{ quest.players_completed }} players successfully completed this quest.
        </p>

        <div class="spacer-small"><!-- --></div>

        <table>
            <tr>
                <th>#</th>
                <th>{% trans 'Player' %}</th>
                <th>{% trans 'Level' %}</th>
                <th>{% trans 'Group' %}</th>
            </tr>
            {% for r in quest.top_results %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>
                    {% player r.user %}
                </td>
                <td>
                    {{ r.level }}
                </td>
                <td>
                    {% player_group r.user.group %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2">{% trans 'No one' %}</td>
            </tr>
            {% endfor %}
        </table>
        <div class="spacer">
            <!-- -->
        </div>
    {% empty %}
        <p>{% trans 'No quests given yet' %}</p>
    {% endfor %}
{% endblock %}
