{% extends base_template %}

{% load i18n %}
{% block title %}{% trans 'Quest' %}{% endblock %}

{% block content %}
    <div class="section">
        <h2>{{ quest.title }}</h2>

        <div class="section-content">
            <div class="second">
                {% blocktrans with quest.end as end and progress.time_took as time_took %}
                    Available until {{ end }}. Your progress: {{ time_took }}
                {% endblocktrans %}
            </div>

            {% if progress.finished %}
                <p>{% trans 'Quest finished!' %}</p>

                <p>
                    {% blocktrans with quest.count as count and progress.time_took as time_took %}
                        You passed {{ count }} levels in {{ time_took }}.
                    {% endblocktrans %}
                </p>
            {% else %}
                <p style="color:red">{{ quest.error }}</p>

                <h3>Nivel curent #{{ progress.current_level }}
                {% if progress.current_level < quest.count|add:-1 %}. Nivelul următor #{{ progress.current_level|add:1 }}
                {% else %} - ultimul {% endif %}
                </h3>

                <div class="spacer">
                    <!-- -->
                </div><!-- .spacer -->

                <p>
                {%autoescape off %}
                {{ progress.current_question.text }}
                {% endautoescape %}
                </p>

                <div class="spacer">
                    <!-- -->
                </div><!-- .spacer -->

                <form method="post" action="{% url quest_index_view %}">
                    <table>
                        {{ form.answer }}
                    </table>

                    {% csrf_token %}

                    <div class="clear spacer">
                        <!-- -->
                    </div><!-- .clear .spacer -->

                    <div class="actions">
                        <button type="submit" class="default">{% trans 'Answer' %}</button>
                    </div>
                </form>

                <div class="clear">
                    <!-- -->
                </div><!-- .clear -->
            {% endif %}
        </div><!-- .section-content -->
    </div><!-- .section -->
{% endblock %}
