{% extends 'interface/sidebar_widget.html' %}
{% load i18n %}

{% block title %}{% if quest.is_final %}{% trans 'Final Quest' %}{% else %}{% trans 'Quest' %}{% endif %}{% endblock %}

{% block content %}

{% if quest %}
    {{ quest.title }} <br/>
    {% if not quser.started %}
        <a href="{% url quest_index_view %}">{% trans 'Start quest!' %}</a>
    {% else %}
        {% if quser.finished %}
        {% trans 'You have finished the quest.' %}
        {% else %}
        <div class="progress-bar">
            <div class="progress" style="width: {{ quest_progress|floatformat }}%"></div>
        </div>
        <a href="{% url quest_index_view %}">{% trans 'Play quest!' %}</a>
        {% endif %}
    {% endif %}
{% else %}
    {% trans 'No quest active.' %}
{% endif %}

{% endblock %}
