{% extends 'sidebar_widget.html' %}

{% block title %}Weekly Quest{% endblock %}

{% block content %}

{% if quest %}
    {{ quest.title }} <br/>
    {% if not quser.started %}
        <a href="{% url games.quest.views.index %}">Start quest!</a>
    {% else %}
        {% if quser.finished %}
        You have finished the quest.
        {% else %}
        <a href="{% url games.quest.views.index %}">Play quest!</a>
        <br/>
        {{ qprogress }}
        {% endif %}
    {% endif %}
{% else %}
    No quest active.
{% endif %}

{% endblock %}
