{% extends 'interface/section_base.html' %}
{% load i18n %}

{% block title %}{% trans 'Workshop' %}{% endblock %}
{% block sectiontitle %}{% trans 'Workshop' %}{% endblock %}

{% block sectioncontent %}
<p>
    {% trans 'Your semigroup:'%} {{ semigroup }} {{ semigroup.info }}
</p>

<h4>{% trans 'Current workshop' %}</h4>
<p>{% if not workshop %}{% trans 'No current workshop' %}{% else %}
    {% if assessment.answered %}
        {% trans 'Already answered' %}
    {% else %}
        {% if workshop.is_active %}
            {% trans 'Expires:' %} {{ workshop.active_until }}.
            <a href="{% url workshop_play %}">Play!</a>
        {% else %}
            {% trans 'Expired:' %} {{ workshop.active_until }}.
            {% trans "You now must review other's answers." %}
        {% endif %}
    {% endif %}
{% endif %}</p>

<h4>{% trans 'Past workshops' %}</h4>
<ul>
    {% for a in user.get_profile.assessments.all %}
        <li>{{ a.workshop }}
            {% if not a.workshop.is_active %}
                <a href="{% url workshop_review a.workshop.id %}">{% trans 'Your reviews' %}</a>{% endif %}
            <a href="{% url workshop_results a.workshop.id %}">{% trans 'Results' %}</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
