{% extends 'interface/section_base.html' %}
{% load i18n %}
{% load workshop %}

{% block title %}{% trans 'Workshop' %}{% endblock %}
{% block sectiontitle %}{% trans 'Workshop' %}{% endblock %}

{% block sectioncontent %}
<p>
    {% trans 'Your semigroup:'%} {{ semigroup }} {{ semigroup.info }}
</p>

{% if not workshop %}
    {% trans 'No current workshop' %}
{% else %}
<h4>{% trans 'Current workshop' %} #{{ workshop.id }}</h4>
<p>
    {% if assessment.answered %}
        {% trans 'Already answered' %}.
    {% else %}
        <a href="{% url workshop_play %}">{% trans 'Play now!' %}</a>
    {% endif %}

    {% if workshop.is_active %}
            {% trans 'Expires:' %} {{ workshop.active_until }}.
        {% else %}
            {% trans 'Expired:' %} {{ workshop.active_until }}.
            {% trans "You now must review other's answers." %}
    {% endif %}
</p>
{% endif %}

<h4>{% trans 'Past workshops' %}</h4>
<table>
    <tr>
        <th>Workshop</th>
        <th>Status</th>
        <th>Reviews</th>
        <th>Result</th>
    </tr>
    {% for a in history %}
        <tr>
            <td>{{ a.workshop }}</td>
            <td>{{ a.workshop.get_status_display }}</td>
            <td>
            {% if not a.workshop.is_active %}
                <a href="{% url workshop_review a.workshop.id %}">{% trans 'Your reviews' %}</a>
            {% endif %}
            </td>
            <td>
                {% get_final_grade a.workshop user.get_profile %}
            <a href="{% url workshop_results a.workshop.id %}">{% trans 'Info' %}</a>
            </td>
        </tr>
    {% endfor %}
</table>

{% if perms.config.change_setting %}
<h3>Staff only</h3>
<p>
    <a class="button" href="{% url ws_workshops %}">Go to CPanel</a>
</p>
{% endif %}
{% endblock %}
