{% extends 'interface/section_base.html' %}
{% load i18n %}

{% block title %}{% trans 'Workshop' %} - {{ user.get_profile }}{% endblock %}
{% block sectiontitle %}{% trans 'Workshop' %} {{ workshop.title }}{% endblock %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{{ basepath }}/static/js/timer.js"></script>
{% endblock %}

{% block sectioncontent %}
    <div class="second">
        <p>{% trans 'Workshop available until' %}: {{ workshop.active_until }}</p>
        <p>{% trans 'Assessment started' %}: {{ assessment.time_start }}</p>
    </div>


    <div>
        <p>Dati răspunsuri detaliate și argumentate. Câteva fraze per întrebare.</p>
    </div>

    <div id="timer" class="timer timer-big">
        {{ seconds_left }} seconds
    </div>
    <script id="timer_script" language="javascript">
        var seconds = {{ seconds_left }};
        $(document).ready(function () { update('timer', 'workshop_form');});
    </script>


<form action="" method="post" id="workshop_form">
    <table>
        {% for q in assessment.questions.all %}
            <tr>
                <td>{{ forloop.counter }}.</td>
                <td>
                    <pre>{{ q }}</pre>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><textarea name="answer_{{ q.id }}" rows="8" cols="80"></textarea></td>
            </tr>
        {% endfor %}
    </table>
    {% csrf_token %}
    <button type="submit" onclick="return confirm('{% trans 'Are you sure do you want to submit?' %}');">{% trans 'Send' %}</button>
</form>
{% endblock %}
