{% extends 'interface/section_base.html' %}
{% load i18n %}

{% block title %}{% trans 'Workshop' %}{% endblock %}
{% block sectiontitle %}{% trans 'Reviews for workshop' %} {{ workshop.title }}{% endblock %}

{% block sectioncontent %}
<form action="" method="post">
    {% for as in assessments %}
    <h4>{% trans 'Anonymous' %} {% trans 'assesment' %} {{ forloop.counter }}</h4>

        <ul class="spaced">
        {% for a in as.answer_set.all %}
            <li>{{ forloop.counter }}. {{ a.question|safe }}
                <p>
                    <em>{% trans 'Answer' %}:</em><br/>
                    <pre>{{ a|safe }}</pre>

                    {% if not workshop.is_reviewable %}
                    <span class="points red">
                        <em>{% trans 'Assistant grade:' %}</em> <strong>{{ a.grade }}</strong>
                    </span>
                    {% endif %}

                    <ul class="spaced">
                    {% for r in a.review_set.all %}
                        {% if r.reviewer == user.get_profile and r.workshop.is_reviewable %}
                            <li>
                                <table>
                                    <tr>
                                        <td >{% trans 'Grade' %}:<br/>
                                            <input type="radio" {% if r.answer_grade == 0 %}checked="checked"{% endif %} name="grade_{{a.id}}" id="input_grade_{{ a.id }}0" value="0" /><label class="checkbox" for="input_grade_{{ a.id }}0">0</label>
                                            <input type="radio" {% if r.answer_grade == 1 %}checked="checked"{% endif %} name="grade_{{a.id}}" id="input_grade_{{ a.id }}1" value="1" /><label class="checkbox" for="input_grade_{{ a.id }}1">1</label>
                                            <input type="radio" {% if r.answer_grade == 2 %}checked="checked"{% endif %} name="grade_{{a.id}}" id="input_grade_{{ a.id }}2" value="2" /><label class="checkbox" for="input_grade_{{ a.id }}2">2</label>
                                        </td>
                                        <td>
                                            {% trans 'Feedback:' %}
                                            <br/>
                                            <textarea name="feedback_{{ a.id }}" rows="4" cols="60">{{ r.feedback }}</textarea><br/>
                                        </td>
                                    </tr>
                                </table>
                            </li>
                        {% else %}
                            {% if r.reviewer == user.get_profile %}
                                <li>
                                    {{ r.reviewer }}:
                                    <tt>{{ r.feedback }}</tt>
                                </li>
                            {% else %}
                                {% if r.reviewer.in_staff_group %}
                                    <li>
                                        <span class="red">{% trans 'Assistant' %}:
                                        <tt>{{ r.feedback }}</tt>
                                        </span>
                                    </li>
                                {% else %}
                                    {% if not r.workshop.is_reviewable %}
                                        <li>
                                            {% trans 'Anonymous' %}{{ forloop.counter }}:
                                            <tt>{{ r.feedback }}</tt>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endif %}

                            {% if not r.reviewer.in_staff_group %}
                                {% if not r.workshop.is_reviewable %}
                                    <li>
                                        <br/>
                                        <em>{% trans 'grade:' %}</em> <strong>{{ r.answer_grade }}</strong>,
                                        <em class="red">{% trans 'review grade:' %} <strong>{{ r.review_grade }}</strong></em>
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </ul>
                    {% if user.get_profile not in a.reviewers %}
                        <table>
                            <tr>
                                <td>{% trans 'Grade' %}:
                                    <input type="radio" name="grade_{{a.id}}" value="0">0</input>
                                    <input type="radio" name="grade_{{a.id}}" value="1">1</input>
                                    <input type="radio" name="grade_{{a.id}}" value="2">2</input>
                                </td>
                                <td>
                                    {% trans 'Feedback:' %}
                                    <br/>
                                    <textarea name="feedback_{{ a.id }}" rows="4" cols="60"></textarea><br/>
                                </td>
                            </tr>
                        </table>
                    {% endif %}
                </p>
            </li>
        {% endfor %}
        </ul>
    {% empty %}
        <p>{% trans 'There are no assessments to review. Maybe the review did not start yet.' %}</p>
    {% endfor %}

    {% csrf_token %}
    {% if workshop.is_reviewable %}
    <button type="submit">{% trans 'Review!' %}</button>
    {% endif %}
</form>

        <div class="spacer clear">
            <!-- -->
        </div>

<a class="button" href="{% url workshop_index_view %}">&laquo; {% trans 'Index' %}</a>

{% endblock %}
