{% extends base_template %}
{% load i18n %}
{% load artifacts %}
{% load user %}
{% block title %}{% trans 'Magic' %}{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="/static/js/tabs.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/tabs.css" />
{% endblock %}

{% block content %}
    <h2>{% trans 'Magic' %}</h2>

<ul class="tabs">
        <li><a href="#spells" id="spells-click">{% trans 'Bazaar' %}</a></li>
        <li><a href="#exchange" id="exchange-click">{% trans 'Exchange' %}</a></li>
        <li><a href="#summary" id="summary-click">{% trans 'Summary' %}{% if unseen_count > 0 %}<sup class="unread-count">{{ unseen_count }}</sup>{% endif %}</a></li>
</ul>

<div class="tab_container">
    <div id="spells" class="tab_content">
        <br/>
    <table>
    {% for s in spells %}
    <div style="clear:both">
        <tr>
            <td width="100%">
                <h3>{% artifact s %}{{ s.title }}</h3>
                <p>{{ s.description }}</p>
                </div>
            </td>
            <td nowrap="nowrap">
                {% if s.due_days == 1 %}
                    {% trans '1 day' %}
                {% else %}
                    {% if s.due_days > 1 %}
                        {{ s.due_days }} {% trans 'days' %}
                    {% endif %}
                {% endif %}
            </td>
            <td align="right" >
                {% coin_amount s.price 'gold' %}
            </td>
            <td>
                <a href="{% url bazaar_buy s.id %}" class="button">{% trans 'Buy' %}</a>
            </td>
            <td>
                {% spell_stock player s %}
            </td>
        </tr>
    </div>
    {% empty %}
        {% trans 'Nothing' %}.
    {% endfor %}
    </table>
    </div>

    <div id="exchange" class="tab_content">
        <br/>
    <span class="points">{{ rate_text }}</span>
    <p>{% trans 'Exchange points for gold or gold for points' %}</p>
    <form method="post" action="{% url bazaar_exchange %}">
        {% trans 'Points' %}: <input type="text" size="3" name="points" value="{{ rate }}" class="big" />
        <div class="actions">
        <button type="submit">{% trans 'Exchange' %}</button>
        </div>
        {% csrf_token %}
    </form>

    <form method="post" style="clear:both" action="{% url bazaar_exchange %}">
        {% trans 'Gold' %}: <input type="text" size="3" name="gold" value="1" class="big" />
        <div class="actions">
        <button type="submit">{% trans 'Exchange' %}</button>
        </div>
        {% csrf_token %}
    </form>
    </div>

    <div id="summary" class="tab_content">
    <br/>
    <h3>{% trans 'Available' %}</h3>
    {% if theowner.spell_amounts.all %}
        <table>
        <tr><th>{% trans 'Spell' %}</th>
            <th>{% trans 'Amount' %}</th>
        </tr>
        {% for s in theowner.spell_amounts.all %}
        <tr><td>{% artifact s.spell %} {{ s.spell.title }}</td>
            <td align="right">{% spell_stock theowner s.spell %}</td>
        </tr>
        {% endfor %}
        </table>
    {% else %}
        {% trans 'None.' %}
    {% endif %}

    {% if theowner.spells.all %}
    <h3>{% trans 'Active on me' %}</h3>
    <table>
        <tr><th>{% trans 'Spell' %}</th>
            <th>{% trans 'Source' %}</th>
            <th>{% trans 'Until' %}</th>
        </tr>
        {% for s in theowner.spells.all %}
        <tr>
            <td>{% artifact s.spell %} {{ s.spell.title }}</td>
            <td>{% player_simple s.source %}</td>
            <td>{{ s.due }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    {% if theowner.spells_cast.all %}
    <h3>{% trans 'Cast by me' %}</h3>
    <table>
        <tr><th>{% trans 'Spell' %}</th>
            <th>{% trans 'Target' %}</th>
            <th>{% trans 'Until' %}</th>
        </tr>
        {% for s in theowner.spells_cast.all %}
        <tr>
            <td>{% artifact s.spell %} {{ s.spell.title }}</td>
            <td>{% player_simple s.player %}</td>
            <td>{{ s.due }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    </div>
</div>
{% endblock %}


