{% extends 'interface/section_base.html'%}
{% load i18n %}
{% block title %}{% trans 'Quizzes' %}{% endblock %}
{% block sectiontitle %}{% trans 'Quizzes' %}{% endblock %}

{% block sectioncontent %}

{% if active_quizzes or expired_quizzes %}
    <h3>Active Quizzes</h3>
    <ul>
        {% for t in active_quizzes %}
            <li>
                <a href="{% url quiz_view t.quiz.id %}">{{ t.quiz.name }}</a>
                , state = {{ t.state }}, score = {{ t.score }}
            </li>
        {% endfor %}
    </ul>

    <h3>Expired quizzes</h3>
    <ul>
        {% for t in expired_quizzes %}
            <li>
                {{ t.quiz.name }}, state = {{ t.state }}, score = {{ t.score }}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>{% trans 'No quizzes have been added yet. Stay tuned!' %}</p>
{% endif %}

{% endblock %}