{% extends "interface/simple_base.html" %}
{% load i18n %}

{% block scripts %}
<style>
div#sidebar {
    display: none
}
div#content {
    float: none;
    width: 930px;
    min-height: 400px;
}
button {
    float: right;
}</style>
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
<div class="centered">
{% if form.errors %}
<p style="color:red">{% trans "Your username and password didn't match. Please try again." %}</p>
{% endif %}

<h2>{% trans 'Authentication' %}</h2>
<form method="post" {% if not config_login %}action="{% url wouso.interface.views.login_view %}"{% else %}action="/"{% endif %}>
<table align=center>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
<tr><td colspan="2">
{% if not config_login %}
<button type="submit">{% trans 'Enter' %}</button>
{% endif %}
</td></tr>
</table>

{% load url from future %}
{% if not config_login %}
<a href="{% url 'social:begin' "clef" %}">Log in with your Phone</a>
{% endif %}

<input type="hidden" name="next" value="{{ next }}" />
{% csrf_token %}
</form>
</div>
{% endblock %}
