{% extends 'interface/section_base.html' %}
{% load i18n %}
{% load user %}

{% block sectiontitle %}{% trans 'Special Challenge' %} - {% trans 'Delete question in challenge' %} #{{ challenge.id }}{% endblock %}

{% block sectioncontent %}
    <p>{% trans 'Are you sure do you want to delete this question?' %}</p>

    <p>{% autoescape off %}{{ object|safe }}{% endautoescape %}</p>

    <form method="post" action="">
        <table>
        {{ form.as_table }}
        </table>
        {% csrf_token %}
        <button type="submit">{% trans 'Delete' %}</button>
    </form>
    <a class="button" href="{% url specialchallenge_challenge challenge.id %}">{% trans 'Back' %}</a>
{% endblock %}