#Shoutbox {
    /* display: none; */
    height: 100%;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.Privatebox{
    position: absolute;
    bottom: 5px;

    border-style:solid;
    border-width: thin;
    width: 162px;
    background:#ffffff
}

.Privatebox2{
    position: absolute;
    right: 325px;
    bottom: 5px;

    border-style:solid;
    border-width: thin;
    width: 162px;
    background:#ffffff
}

.Privatebox3{
    position: absolute;
    right: 500px;
    bottom: 5px;

    border-style:solid;
    border-width: thin;
    width: 162px;
    background:#ffffff
}

.PrivateboxUserName{
    border:none;
    text-align:left;
    background: transparent;
    width: 130px;

}

.PrivateboxExitButton{
    border: none;
    background: transparent
}

.PrivateboxTextArea {

    display:block;
    padding: 3px;
    text-align:left;
    height:150px;
    width:150px;
    background-color: white;

    border-color: black;
    border-style: solid;
    border-width: thin;
    overflow: auto;
}

.PrivateboxTextBox {
    display:block;
    padding: 3px;
    text-align:left;
    width:150px;
}

#ShoutboxHideButton {
	width:100px;
	height:300px;    
	position: absolute;
    right: 0px;
    bottom: 0px;
}

#ShoutboxShowButton {
    display: none;
	width:100px;
	height:300px;  
    position: absolute;
    right: 5px;
    bottom: 5px;
}

#ShoutboxTextArea {

    display:block;
    padding: 3px;
    text-align:left;
    height:500px;
    width:350px;
    background-color: white;

    border-color: black;
    border-style: solid;
    border-width: thin;
    overflow: auto;
}

#ShoutboxTextBox {
    display:block;
    padding: 3px;
    text-align:left;
    width:350px;
}

#ShoutboxUserName {
    display:block;
    padding: 3px;
    text-align:left;
    width:200px;
}

#ShoutboxUserList {
    display:block;
    padding: 3px;
    text-align:left;
    height:500px;
    width:150px;

    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: thin;
    overflow: auto;	
}

#warn_spam {
    color: red;
    font-size: smaller;
}
