#Globalbox {
    /* display: none; */
    height: 100%;

}

.Privatebox{
    position: absolute;
    bottom: 5px;

    border: thin solid;
    width: 162px;
    background:#ffffff
}


.PrivateboxUserName{
    border:none;
    text-align:left;
    background: transparent;
    width: 130px;

}

.PrivateboxExitButton{
    border: none;
    background: transparent
}

.PrivateboxTextArea {

    display:block;
    padding: 3px;
    text-align:left;
    height:150px;
    width:150px;
    background-color: white;

    overflow: auto;
}


.PrivateboxTextBox {
    display:block;
    padding: 3px;
    text-align:left;
    width:150px;
}

#ShoutboxHideButton {
	width:100px;
	height:300px;    
	position: absolute;
    right: 5px;
    bottom: 5px;
}

#ShoutboxShowButton {
    display: none;
	width:100px;
	height:300px;  
    position: absolute;
    right: 5px;
    bottom: 5px;
}

#GlobalboxTextArea {

    display:block;
    padding: 3px;
    text-align:left;
    height:300px;
    width:500px;
    background-color: white;

    border: thin solid black;
    overflow: auto;
}



#GlobalboxTextBox {
    display:block;
    padding: 3px;
    text-align:left;
    width:500px;
}

#ShoutboxUserName {
    display:block;
    padding: 3px;
    text-align:left;
    width:200px;
}

#GlobalboxUserList {
    display:block;
    padding: 3px;
    text-align:left;
    height:300px;
    width:160px;

    background-color: white;
    border: thin solid black;
    overflow: auto;
}

#warn_spam {
    color: red;
    font-size: smaller;
}
a.cl_item {
    text-decoration: none;
    color: black;
    display: block;
    background-color: #e1e1e1;
    padding: 3px;
}

.ArchiveTextArea {

    display:block;
    padding: 3px;
    text-align:left;
    height:300px;
    width:500px;
    background-color: white;

    border: thin solid black;
    overflow: auto;
}