#Contactbox{
    width: 220px;
    height: 145px;
    position: absolute;
    display: none;

    border: 1px solid #aaa;
    background-color: #ffffff;
}
.caction{
    width:  27px;
    height: 25px;
}

#ContactboxName{
    padding: 3px;
    text-align: left;
    width: 100px;

}
