.table td, th {
    text-align: center;
    vertical-align: middle;
}
.nav nav-sidebar {
    height: 1 px;
    background-color: #FFFFFF;
}
.table th {
    background-color: #F5F5F5;
}

/* Question Pool */
div.second {
    color: #444;
    text-align: right;
    width: 275px;
    padding-top: 22px;;
    float: right;
}
.hidden {
    display: none;
}
.question_preview {
    cursor: pointer;
}
