.col-md-8 {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 13px;
    color: #000;
}
label {
    color: #47F;
    margin-top: 5px;
    margin-left: 5px;
    display: inline-block;
    width: 160px;
}
textarea {
    width: 450px;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    border: solid #999 1px;
    margin-bottom: 15px;
    outline: none;
}
textarea:focus {
    border: solid #47F 1px;
    -webkit-box-shadow: 1px 1px 10px #CCC;
    -moz-box-shadow: 1px 1px 10px #CCC;
    box-shadow: 1px 1px 10px #CCC;
}
textarea#question {
    height: 100px;
}
textarea#answer {
    height: 70px;
}
.formfield * {
    vertical-align: middle;
}
select {
    padding: 3px;
    margin: 0;
    border-radius: 4px;
    -webkit-box-shadow:
        0 3px 0 #ccc,
        0 -1px #fff inset;
    background: #f8f8f8;
    border: solid #CCC 1px;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    cursor: pointer;
}
input[type=checkbox] {
    padding: 0;
    margin: 0;
    position: relative;
    top: -2px;
    left: 5px;
    display: inline-block;
}
.mark {
    width: auto;
    background-color: #FFF;
    display: inline-block;
    padding-left: 20px;
    text-indent: -15px;
}
.add {
    color: #47F;
    margin-top: 5px;
    margin-left: 5px;
    display: inline-block;
    width: 160px;
    cursor: pointer;
}
.info-column {
    display: inline-block;
    width: 160px;
    margin-top: 5px;
    margin-left: 5px;
}
