.table td, th {
    text-align: center;
    vertical-align: middle;
}
.nav nav-sidebar {
    height: 1 px;
    background-color: #FFFFFF;
}
.table th {
    background-color: #F5F5F5;
}

.header_clickable {
    color: white !important;
}

.header_text {
    font-family: Arial Black;
}

.logo {
    width: 32px;
    height: 32px;
    border: 1px solid #323232
}

/* Quest and Lesson */
.sort-list {
}
.sort-list li {
    margin: 28px;
}
.handle {
    cursor: move;
    font-size: 2em;
    float: right;
    width: 30px;
    height: 30px;
    display: block;
    text-align: center;
    vertical-align: middle;
}

/* Question Pool */
div.second {
    color: #444;
    text-align: right;
    width: 275px;
    padding-top: 22px;;
    float: right;
}
.hidden {
    display: none;
}
.question_preview {
    cursor: pointer;
}
.input-group.date .input-group-addon {
    width: 0;
}
.form-group {
    font-size: 13px;
}
.form-control {
    width: auto;
}
/* achievements */
.artifact, .artifact-container {
    vertical-align: middle;
    margin-right: 5px;
    width: 24px;
    height: 24px;
    display: inline-block;
}
.artifact-default-ach-login-10 {
    background : transparent url(images/icons/ach-login-10.png) 0 center no-repeat;
}
.artifact-default-ach-bad-start {
	background : transparent url(images/icons/ach-bad-start.png) 0 center no-repeat;
}
.artifact-default-ach-spell-5 {
	background : transparent url(images/icons/ach-spell-5.png) 0 center no-repeat;
}
.artifact-default-ach-chall-100, .artifact-default-ach-chall-10-a-day {
	background : transparent url(images/icons/ach-chall-100.png) 0 center no-repeat;
}
.artifact-default-ach-chall-def-big {
	background : transparent url(images/icons/ach-chall-def-big.png) 0 center no-repeat;
}
.artifact-default-ach-chall-won-10 {
	background : transparent url(images/icons/ach-chall-won-10.png) 0 center no-repeat;
}
.artifact-default-ach-early-bird {
	background : transparent url(images/icons/ach-early-bird.png) 0 center no-repeat;
}
.artifact-default-ach-flawless-victory {
	background : transparent url(images/icons/ach-flawless-victory.png) 0 center no-repeat;
}
.artifact-default-ach-god-mode-on {
	background : transparent url(images/icons/ach-god-mode-on.png) 0 center no-repeat;
}
.artifact-default-ach-night-owl {
	background : transparent url(images/icons/ach-night-owl.png) 0 center no-repeat;
}
.artifact-default-ach-popularity {
	background : transparent url(images/icons/ach-popularity.png) 0 center no-repeat;
}
.artifact-default-ach-qotd-10 {
	background : transparent url(images/icons/ach-qotd-10.png) 0 center no-repeat;
}
.artifact-default-ach-this-is-sparta {
	background : transparent url(images/icons/ach-this-is-sparta.png) 0 center no-repeat;
}
.artifact-default-ach-win-fast {
	background : transparent url(images/icons/ach-win-fast.png) 0 center no-repeat;
}
.artifact-default-ach-head-start {
	background : transparent url(images/icons/ach-head-start.png) 0 center no-repeat;
}
.form-control {
    width: 40%;
}
/* Groups */
.btn-toggle{
    margin-bottom: 10px;
}
.ctr-number{
    font-weight: bold;
}
.label-3{
    margin: 0px;
}
.group-row{
    background: #CCFFCC;
}
.hidden{
    display: none;
}
.input-search{
    position: relative;
}
.input-search-glyph{
    position: absolute;
    right: 7px;
    top: 10px;
}
