/* Top bar */
div.first-line {
    text-align: right;
    margin-top: 4px;
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}
div.first-line a {
    border: 1px solid #aaa;
    border-bottom: none;
    background-color: #eee;
    padding: 0 5px;
    color: #444;
}
div.player-info {
    width: 275px;
}
div.player-info-text {
    text-align: right;
/*    display: inline-block; */
}
div#logo {
    height: 100px;
    width: 260px;
    background: url(../img/logo.png) no-repeat;
}
#logo > a {
    width:250px;
    height:90px;
    display:block;
}
img.avatar {
    margin: 4px 4px 4px 0;
    border: 2px solid #aaa;
}
.avatar-med {
    width: 64px;
    height: 64px;
}
div.post {
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 5px;
}

.coin-amount {
    display: inline-block;
    padding-left: 20px;
    line-height: 16px;
}
.coin-points {
    background:url(../art/default/point.png) center left no-repeat;
}
.coin-gold {
    background:url(../art/default/gold.png) center left no-repeat;
}
.coin-karma {
    background:url(../art/default/karma.png) center left no-repeat;
}
