body {
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
    margin: 0;
}
h1 {
    margin: 4px;
}
label {
    width: 150px;
    float: left;
}
#logo {
    height: 120px;
	width: 930px;
    background: url(../img/logo.png) no-repeat;
}
#logo > a {
	width:500px;
	height:110px;
	background-image:none;
	display:block;
	text-align:center;
	float:left;
}
#container {
    width: 930px;
    margin: 0 auto;
}
#topbar {
    padding-top: 5px;
    text-align: right;
    position: absolute;
    margin: 0px auto;
    width: 930px;
    float: right;
    text-align: right;
}
#search input {
    float: right
}
#sidebar {
    width: 260px;
    min-height: 500px; /* for mihnea */
    float: left;
    border-right: 1px solid #aaa;
    padding-right: 10px;
}
#content {
    width: 640px;
    float: right;
}
#footer {
    clear: both;
    border-top: 1px solid #aaa;
}
#footer_links {
    text-align: right;
}
.block {
    border: 1px dashed #aaa;
    padding: 4px;
    margin-bottom: 5px;
}
.block h4 {
    margin: 0px;
    border-bottom: 1px solid #aaa;
}
.answers ul {
    list-style-type: none
}
.artifact {
    vertical-align: middle;
    margin-right: 5px;
    width: 24px;
    height: 24px;
    background-color: whiteSmoke;
    display: inline-block;
}
.artifact-default-level-1 {
    background-image:url(../art/default/level-1.png);
}

.top .points {
    float: right
}
/* profile page */
.profile {
    padding-top: 10px;
}
.profile .points {
    float: right;
    text-align: center;
}
.profile .points-big {
    width: 150px;
    font-size: 42px;
}
.profile .avatar {
    float: left;
    margin: 4px 4px 4px 0px;
    border: 2px solid #aaa;
}
.profile h2, .profile h3 {
    margin: 1px;
}
.profile .tabs, .profile .tab_content {
    margin-top: 3px;
    clear: both;
}
.profile .tab_content {
    padding: 4px;
}
.graf {
    width: 400px;
    height: 200px;
}