body {
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    margin: 0;
}
a, a:visited {
    color: blue;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h1 {
    margin: 4px;
}
th {
    border: 1px solid #ddd;
    background-color: #eee;
    padding: 5px;
}
td {
    padding: 4px;
}
.hidden {
    display: none;
}
.centered {
    text-align: center;
}
.right {
    text-align: right;
}
img.no-float, .no-float {
    float: none !important;
}
img.float-right, .float-right {
    float: right !important;
}
.no-border {
    border: none !important;
}
.bold, .bold a {
    font-weight: bold !important;
}
fieldset textarea {
    width: 70%;
    height: 50px;
}
div#logo {
    height: 100px;
    width: 260px;
    background: url(../img/logo.png) no-repeat;
}
#logo > a {
    width:250px;
    height:90px;
    background-image:none;
    display:block;
    text-align:center;
    float:left;
}
#container {
    width: 930px;
    margin: 0 auto;
}
#topbar {
    text-align: right;
    position: absolute;
    margin: 0px auto;
    width: 930px;
    float: right;
    text-align: right;
}
#menu {
    margin-top: 75px;
    float:right;
}
#menu a, #menu a:visited {
    padding: 40px 8px 4px;
    background-color: #eee;
    text-decoration: none;
    color: #444;
    border: 1px solid #aaa;
}
#menu a:hover {
    background-color: #ddd;
    color: #000;
}

#search {
    float: right;
}
.spacer-search {
    clear: both;
    height: 5px;
    border-bottom: 1px solid #aaa;
}
#search button {
    display: inline-block;
    float: none;
}
#search input, input.big, textarea.big {
    padding: 6px;
    border: 1px solid #aaa;
    font-family: Tahoma, Arial;
}
#sidebar, #right-sidebar {
    width: 200px;
    min-height: 500px; /* for mihnea */
}
#sidebar {
    float: left;
    border-right: 1px solid #aaa;
    padding-right: 10px;
}
#right-sidebar {
    width: 150px;
    clear: right;
    float: right;
    border-left: 1px solid #aaa;
    padding-left: 10px;
}
#content {
    width: 700px;
    float: right;
}
#ajax-message {
    position: absolute; top: 100px; left: 50%;
    z-index: 1000;
    text-align: center;
}
#ajax-message p {
    background-color: #eee;
    border: 1px solid #aaa;
    border-radius: 10pt;
    padding: 4px 6px;
}
#footer {
    clear: both;
    border-top: 1px solid #aaa;
}
#footer_links {
    text-align: right;
}
#wall {
    float: left;
    width: 500px;
}
#wall-navigation {
    clear: left;
}
#right-sidebar p {
    margin: 2px;
}
#right-sidebar h3 {
    margin: 8px 0px 4px;
}
#right-sidebar h2 {
    margin: 0px auto 0px;
    text-align: center;
}
ol.top {
    padding: 0px;
}
ol.top {
    padding-left: 20px;
}
.block {
    border: 1px dashed #aaa;
    padding: 4px;
    margin-bottom: 5px;
}
.block h4 {
    margin: 0px;
    border-bottom: 1px solid #aaa;
}
.answers ul {
    list-style-type: none;
    padding: 0px;
}
.artifact, .artifact-container {
    vertical-align: middle;
    margin-right: 5px;
    width: 24px;
    height: 24px;
    display: inline-block;
}
.artifact-container {
    margin: 0px;
    padding:  0px;
}
.artifact-container span.sup {
    position: relative; top: -100%;
    background-color: yellow;
    color: #000;
    border-radius: 10pt;
    padding: 1px;
    font-size: 0.6em;
    z-index: 100;
    float: right;
}
span.points {
    float: right
}
li input {
    float: left;
    clear: right;
}
li div.question {
    clear: right;
}
li label {
    display: block;
    float: right;
    width: 95%;
    padding: 6px;
}
li label.checkbox {
    width: 30px;
}
li label:hover {
    background-color: #eee;
}
/* profile page */
.profile {
    padding-top: 10px;
}
.profile .points {
    float: right;
    text-align: center;
}
.profile .points-big {
    width: 150px;
    font-size: 42px;
}
img.avatar {
    float: left;
    margin: 4px 4px 4px 0px;
    border: 2px solid #aaa;
}
.avatar-med {
    width: 64px;
    height: 64px;
}
.profile h2, .profile h3, .profile h4 {
    margin: 1px;
}
.profile .tabs, .profile .tab_content {
    margin-top: 3px;
    clear: both;
}
.profile .tab_content {
    padding: 4px;
}
.graf {
    width: 500px;
    height: 300px;
}
p.clearer {
    clear:both;
}
.actions {
    margin: 6px;
    text-align: right;
}
.actions-left {
    text-align: left;
    padding-left: 10px;
}

.actions a, a.button, span.button, button {
    display: inline-block;
    text-align: center;
    min-width: 70px;
    max-width: 150px;
    border: 1px solid #aaa;
    padding: 6px;
    margin: 1px;
    background-color: #ddd;
    text-decoration: none;
    color: black;
    text-wrap: suppress;
}
span.button {
    color: #888;
}
span.button-list {
    float:left;
    display: block;
}
.actions a.default, button.default {
    font-weight: bold;
}
.actions a:hover, a.button:hover {
    background-color: #eee;
}
.profile ul.artifacts, ul.none {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
}
.profile ul.artifacts li {
    display: inline;
}
.subgroups {
    width: 150px;
    float: right;
    margin-left: 40px;
    min-height: 350px;
}
.sg-large {
    width: 240px;
}
.w50 {
    width: 50px;
    margin-right: 2px;
}
/* topbar sidebar */
#sidebar h2 {
    clear: both;
}
#right-sidebar h4 {
    margin: 2px;
}
.unread-count {
    border-radius: 5pt;
    background-color: red;
    color: #ddd;
    font-weight: bold;
    padding:2px 4px;
    font-size: 0.7em;
    line-height: 0.8em;
    vertical-align: top;
}
/* cpanel */
div.cpanel-profile {
    color: #444;
    text-align: right;
    width: 275px;
    margin-top: 16px;
    padding-right: 5%;
    float: right;
    position: relative;
    z-index:0;
}
div.cpanel-player-info {
    position: relative;
    padding-top: 5px;
    padding-right: 8em;
}
fieldset label {
    float: left;
    min-width: 100px;
}
ul.menu, ul.submenu {
    list-style-type: none;
    padding: 0px;
    border-top: 1px solid #ddd;
}
ul.submenu {
    border: none;
    font-weight: normal;
}
ul.menu li {
    margin: 10px;
    text-indent: 0px;
}
ul.menu li a {
    text-decoration: none;
}
td.actions a, td.actions button, a.button-min {
    min-width: 20px;
}
div.first-line {
    margin-top: 4px;
}
div.first-line a {
    text-decoration: none;
    border: 1px solid #aaa;
    border-bottom: none;
    background-color: #eee;
    padding: 0px 5px;
    color: #444;
}
div.header-player-info {
    padding-top: 5px;
    margin-right: 100px;
    text-align: right;
}
div.second-info {
    padding-top: 10px;

    display: inline-block;
}
div.second {
    color: #444;
    text-align: right;
    width: 275px;
    padding-top: 22px;;
    float: right;
}
.sort-list {
}
.sort-list li {
    margin: 28px;
}
.handle {
    cursor: move;
    font-size: 2em;
    float: right;
    width: 30px;
    height: 30px;
    display: block;
    text-align: center;
    vertical-align: middle;
}
.ok, .success {
    color: green;
}
.wrong, .red, .red *, .error {
    color: red;
}
#poweredby a{
    background-image:url(../img/rosedu.png);
    background-repeat:no-repeat;
    display:block;
    float:right;
    width:268px;
    height:80px;
}
/* messaging */
tr.unread td {
    font-weight: bold;
}
tr.read td {
    font-weight: normal;
    background-color: #efefef;
}
span.to_user {
    border-radius: 9pt;
    background-color: #99aaff;
    padding: 2px 6px;
}
span.to_user a {
    text-decoration: none;
    color: #fff;
}
span.to_user a.to_reset {
    border-left: 1px solid #fff;
    font-weight: bold;
    display: inline-block;
    margin-left: 2px;
    padding: 2px;
}
/* activity */
ul.activity-stream {
    padding-left: 0px;
}
li.activity-line {
    margin: 0 auto;
    clear:both;
    list-style-type: none;
    padding-bottom: 10px;
    max-width: 500px;
}
img.medium {
    width: 38px;
    height: 38px;
}
img.small {
    width: 22px;
    height: 22px;
}
div.activity-timestamp {
    float: right;
    text-align: right;
    font-size: 0.9em;
    color: #444;
    clear: both;
    margin-top: -1.8em;
}
div.activity-source {
    float: right;
    font-size: 0.9em;
}
div.activity-source a {
    text-decoration:none;
    color: #444;
}
div.activity-second div {
    padding-top: 8px;
}
div.activity-second a {
    text-decoration: none;
}
/* challenge */
ul.answers {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 6px;
}
ul.answers li {
    clear: both;
}
div.timer {
    text-align: center;
    font-size: 42px;
    position: fixed; top: 100px; left: 50%;
    background-color: white;
    border: 2px solid #ddd;
    padding: 6px;
    border-radius: 20px;
}
ul.simple {
    padding-left: 0px;
	padding-top: 0px;
	margin: 0px;
    list-style-type: none;
}
ol#questions-list {
}
.vs {
    margin: 0 30px;
    text-align:center;
}
.vs div {
    text-align: center;
    width: 100px;
}
.vs .second {
    width: auto;
    margin-top: -50px;
}
.vs .to {
    float:right;
}
.vs .left {
    float: left;
}
/* home-page */
div.progress-bar {
    margin:  2px;
    border:  1px solid #888;
    background-color: #f5f5f5;
    padding: 0;
}
div.progress {
    height: 4px;
    background-color: green;
}
/* artifacts and coins */
.artifact-default-level-1 {
    background-image:url(../art/default/level-1.png);
}
.coin-amount {
    display: inline-block;
    padding-left: 20px;
    line-height: 16px;
}
.coin-points {
    background:url(../art/default/point.png) center left no-repeat;
}
.coin-gold {
    background:url(../art/default/gold.png) center left no-repeat;
}
.coin-karma {
    background:url(../art/default/karma.png) center left no-repeat;
}
.artifact-spells {
    background-color: transparent !important;
}
.artifact-neutral {
    background:url(../art/default/spell-neutral.png) center left no-repeat;
}
.artifact-negative{
    background:url(../art/default/spell-negative.png) center left no-repeat;
}
.artifact-positive {
    background:url(../art/default/spell-positive.png) center left no-repeat;
}

/* top */
td div.artifacts {
    float: right;
}

/* races */
div.group-ca {
    border-top: 3px solid red;
}
div.group-cb {
    border-top: 3px solid green;
}
div.group-cc {
    border-top: 3px solid blue;
}

/* lesson */
.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

/* cpanel */
.question_preview {
    cursor: pointer;
}
.selected {
    background-color: #f2f2f2;
}

table.border td {
    border-bottom: 1px solid silver;
    border-right: 1px solid silver;
}


input.inline, label.inline {
    display: inline-block;
    float: none;
}

.pagination ul {
    list-style-type: none;
}
.pagination li {
    float: left;
}
.pagination li a, .pagination li span {
    display: block;
    padding: 10px;
    margin: 2px;
}
.pagination li.active {
    font-weight: bold;
}
/* achievements */
.artifact-default-ach-login-10 {
    background : transparent url(library/images/icons/ach-login-10.png) 0 center no-repeat;
}

.artifact-default-ach-bad-start {
	background : transparent url(library/images/icons/ach-bad-start.png) 0 center no-repeat;
}
.artifact-default-ach-spell-5 {
	background : transparent url(library/images/icons/ach-spell-5.png) 0 center no-repeat;
}
.artifact-default-ach-chall-100, .artifact-default-ach-chall-10-a-day {
	background : transparent url(library/images/icons/ach-chall-100.png) 0 center no-repeat;
}
.artifact-default-ach-chall-def-big {
	background : transparent url(library/images/icons/ach-chall-def-big.png) 0 center no-repeat;
}
.artifact-default-ach-chall-won-10 {
	background : transparent url(library/images/icons/ach-chall-won-10.png) 0 center no-repeat;
}
.artifact-default-ach-early-bird {
	background : transparent url(library/images/icons/ach-early-bird.png) 0 center no-repeat;
}
.artifact-default-ach-flawless-victory {
	background : transparent url(library/images/icons/ach-flawless-victory.png) 0 center no-repeat;
}
.artifact-default-ach-god-mode-on {
	background : transparent url(library/images/icons/ach-god-mode-on.png) 0 center no-repeat;
}
.artifact-default-ach-night-owl {
	background : transparent url(library/images/icons/ach-night-owl.png) 0 center no-repeat;
}
.artifact-default-ach-popularity {
	background : transparent url(library/images/icons/ach-popularity.png) 0 center no-repeat;
}
.artifact-default-ach-qotd-10 {
	background : transparent url(library/images/icons/ach-qotd-10.png) 0 center no-repeat;
}
.artifact-default-ach-this-is-sparta {
	background : transparent url(library/images/icons/ach-this-is-sparta.png) 0 center no-repeat;
}
.artifact-default-ach-win-fast {
	background : transparent url(library/images/icons/ach-win-fast.png) 0 center no-repeat;
}
.artifact-default-ach-head-start {
	background : transparent url(library/images/icons/ach-head-start.png) 0 center no-repeat;
}

