# Django settings for wouso project.
# TODO: more descriptive text about what to modify and what not

# Global debug switch
DEBUG = True

# Configuration
import os.path

TEMPLATE_DEBUG = DEBUG

ADMINS = (
    # ('Your Name', 'your_email@domain.com'),
)

MANAGERS = ADMINS

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3', # Add 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': 'data.db',                      # Or path to database file if using sqlite3.
        'USER': '',                      # Not used with sqlite3.
        'PASSWORD': '',                  # Not used with sqlite3.
        'HOST': '',                      # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '',                      # Set to empty string for default. Not used with sqlite3.
    }
}

# Local time zone for this installation. Choices can be found here:
# http://en.wikipedia.org/wiki/List_of_tz_zones_by_name
# although not all choices may be available on all operating systems.
# On Unix systems, a value of None will cause Django to use the same
# timezone as the operating system.
# If running in a Windows environment this must be set to the same as your
# system time zone.
TIME_ZONE = 'Europe/Bucharest'

# Language code for this installation. All choices can be found here:
# http://www.i18nguy.com/unicode/language-identifiers.html
LANGUAGE_CODE = 'en-us'

LANGUAGES = (
    ('en', 'English'),
    ('ro', 'Romanian'),
)

SITE_ID = 1

# If you set this to False, Django will make some optimizations so as not
# to load the internationalization machinery.
USE_I18N = True

# If you set this to False, Django will not format dates, numbers and
# calendars according to the current locale
USE_L10N = True

#Abosute path to the directort that holds .log files
LOG_ROOT = os.path.normpath(os.path.dirname(__file__) + "/logs")

# Absolute path to the directory that holds media.
# Example: "/home/media/media.lawrence.com/"
MEDIA_ROOT = os.path.normpath(os.path.dirname(__file__) + "/resources/static/")

# URL that handles the media served from MEDIA_ROOT. Make sure to use a
# trailing slash if there is a path component (optional in other cases).
# Examples: "http://media.lawrence.com", "http://example.com/media/"
MEDIA_URL = '/static/'

# URL prefix for admin media -- CSS, JavaScript and images. Make sure to use a
# trailing slash.
# Examples: "http://foo.com/media/", "/media/".
ADMIN_MEDIA_PREFIX = '/media/'

STATIC_URL = '/media/'

# Make this unique, and don't share it with anybody.
SECRET_KEY = 'l*a)xet2kz8!@p(p@op41ce&#1u7i_+^i1d*fr53wak9)tyg!k'

# List of callables that know how to import templates from various sources.
TEMPLATE_LOADERS = (
    'wouso.interface.loaders.Loader',
    'django.template.loaders.filesystem.Loader',
    'django.template.loaders.app_directories.Loader',
    #     'django.template.loaders.eggs.Loader',
    )

MIDDLEWARE_CLASSES = [
    'django.middleware.common.CommonMiddleware',
    'django.contrib.sessions.middleware.SessionMiddleware',
    'django.middleware.csrf.CsrfViewMiddleware',
    'django.contrib.auth.middleware.AuthenticationMiddleware',
    'django.contrib.messages.middleware.MessageMiddleware',
    # If we want to log exceptions, uncomment next line:
    # 'djangologdb.middleware.LoggingMiddleware',
    # for last 10 minutes to work
    'wouso.middleware.Seen',
    'wouso.middleware.DebugExceptionMiddleware',
    'wouso.middleware.ImpersonateMiddleware',
]
AUTHENTICATION_BACKENDS = (
    'social.backends.clef.ClefOAuth2',
    #'wouso.middleware.ldap_connection.LDAPBackend',
    'django.contrib.auth.backends.ModelBackend',
)

ROOT_URLCONF = 'wouso.interface.urls'

TEMPLATE_DIRS = (
    os.path.normpath(os.path.dirname(__file__) + "/resources/templates/"),
)
THEMES_ROOT = os.path.normpath(os.path.dirname(__file__) + "/resources/static/themes/")

TEMPLATE_CONTEXT_PROCESSORS = (
    'django.contrib.auth.context_processors.auth',
    'django.core.context_processors.debug',
    'django.core.context_processors.i18n',
    'django.core.context_processors.media',
    'django.core.context_processors.request',

    'django.contrib.messages.context_processors.messages',

    'social.apps.django_app.context_processors.backends',
    'social.apps.django_app.context_processors.login_redirect',

    'wouso.interface.context_processors.context',
)

INSTALLED_APPS = [
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'django.contrib.sessions',
    'django.contrib.sites',
    'django.contrib.messages',
    'django.contrib.staticfiles',
    # Uncomment the next line to enable the admin:
    'django.contrib.admin',

    'south',
    'social.apps.django_app.default',

    # WoUSO specific
    'wouso.core.config',
    'wouso.core.user',
    'wouso.core.game',
    'wouso.core.scoring',
    'wouso.core.qpool',
    'wouso.core.magic',
    'wouso.core.security',

    'wouso.games.qotd',
    'wouso.games.quiz',
    'wouso.games.challenge',
    'wouso.games.grandchallenge',
    'wouso.games.specialchallenge',
    'wouso.games.quest',
    'wouso.games.specialquest',
    'wouso.games.workshop',

    'wouso.interface',
    'wouso.interface.cpanel',
    'wouso.interface.forum',
    'wouso.interface.top',
    'wouso.interface.activity',
    'wouso.interface.apps.pages',
    'wouso.interface.apps.statistics',
    'wouso.interface.apps.messaging',
    'wouso.interface.apps.lesson',
    'wouso.interface.apps.files',

    'bootstrapform',
    'bootstrap3_datetime',
    'django_bootstrap_breadcrumbs',
    'ckeditor',
]

# Rich text editor settings
CKEDITOR_UPLOAD_PATH = 'upload/'
CKEDITOR_JQUERY_URL = '/static/js/jquery-1.8.1.min.js'
CKEDITOR_CONFIGS = {
    "default": {
        "removePlugins": "stylesheetparser",
        'toolbar': 'Full',
        'extraAllowedContent': 'iframe'
    }
}

# Authentication settings
LOGIN_URL = '/user/login/'
LOGIN_REDIRECT_URL = '/hub/'

SOCIAL_AUTH_CLEF_KEY = '77a376cfcc467fb23a2a6e7156f36f94'
SOCIAL_AUTH_CLEF_SECRET = 'afd676fe8fb07a00513b02941b4cee5d'

AUTH_PROFILE_MODULE = 'user.Player'

#Refreshes the Session Cookie so it does no expire
SESSION_SAVE_EVERY_REQUEST = True

MEDIA_ARTIFACTS_DIR = os.path.dirname(__file__) + "/resources/static/upload/"
MEDIA_ARTIFACTS_URL = "/static/upload/"

WOUSO_VERSION = '5.0.1'

STARTING_POINTS = 15

FINAL_QUEST_CHECKER_PATH = '/home/wouso/fqchecker/' # Folder containing task-01/check, task-02/, task-03/check etc

FORCE_SCRIPT_NAME = '' # Change this in localsettings

OAUTH_CALLBACK_VIEW = 'wouso.interface.api.views.request_token_ready'
OAUTH_AUTH_VIEW = 'wouso.interface.api.views.oauth_auth_view'

C2DM_AUTH_TOKEN = '' # Change this to a ClientLogin token from Google

API_ENABLED = True

SOUTH_MIGRATION_MODULES = {
    'default': 'social.apps.django_app.default.south_migrations',
}

# Conditional installed apps
import imp
try:
    imp.find_module('django_nose')
except ImportError:
    pass
else:
    INSTALLED_APPS += ['django_nose']
    TEST_RUNNER = 'django_nose.NoseTestSuiteRunner'
    NOSE_ARGS = ['--cover-package=wouso', '--with-xunit']

try:
    imp.find_module('piston')
except ImportError:
    pass
else:
    INSTALLED_APPS += [
        'piston',
        'wouso.interface.api',
        'wouso.interface.api.c2dm'
    ]

AVATAR_DEFAULT = 'monsterid'

try:
    imp.find_module('debug_toolbar')
except ImportError:
    pass
else:
    if DEBUG:
        MIDDLEWARE_CLASSES.append('debug_toolbar.middleware.DebugToolbarMiddleware')
        INSTALLED_APPS.append('debug_toolbar')
        INTERNAL_IPS = ('127.0.0.1',)
        DEBUG_TOOLBAR_CONFIG = {'INTERCEPT_REDIRECTS': False}



# the probability of getting bonus points for correctly answered qotd
# must be a number between 0 and 100
QOTD_BONUS_PROB = 30

# Default time for a workshop, minutes
WORKSHOP_TIME_MINUTES = 7
# Time to allow post answers, minutes
WORKSHOP_GRACE_PERIOD = 1

DISPLAY_NAME = '{first_name} {last_name}'


# To setup a cache, put this in localsettings:
# CACHES = {
#    'default': {
#        'BACKEND': 'django.core.cache.backends.locmem.LocMemCache',
#        'LOCATION': 'unique-snowflake'
#    }
# }

# PLEASE LEAVE THIS ON THE LAST LINES OF THIS FILE
if os.path.isfile(os.path.dirname(__file__) + "/localsettings.py"):
    from localsettings import *
