{% extends base_template %}
{% load i18n %}
{% load artifacts %}
{% load user %}
{% block title %}{% trans 'Bazaar' %}{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="/static/js/tabs.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/tabs.css" />
{% endblock %}

{% block content %}
    <h2>{% trans 'Bazaar' %}</h2>

<ul class="tabs">
        <li><a href="#spells" id="spells-click">{% trans 'Spells' %}</a></li>
        <li><a href="#exchange" id="exchange-click">{% trans 'Exchange' %}</a></li>
</ul>

<div class="tab_container">
    <div id="spells" class="tab_content">
        <br/>
    <table>
    {% for s in spells %}
    <div style="clear:both">
        <tr>
            <td width="100%">
                <h3>{% artifact s %}{{ s.title }}</h3>
                <p>{{ s.description }}</p>
                </div>
            </td>
            <td nowrap="nowrap">
                {% if s.due_days > 1 %}
                    {{ s.due_days }} {% trans 'days' %}
                {% endif %}
            </td>
            <td align="right" >
                {% coin_amount s.price 'gold' %}
            </td>
            <td>
                <a href="{% url bazaar_buy s.id %}" class="button">{% trans 'Buy' %}</a>
            </td>
            <td>
                {% spell_stock player s %}
            </td>
        </tr>
    </div>
    {% empty %}
        {% trans 'Nothing' %}.
    {% endfor %}
    </table>
    </div>

    <div id="exchange" class="tab_content">
        <br/>
    <span class="points">{{ rate_text }}</span>
    <p>{% trans 'Exchange points for gold or gold for points' %}</p>
    <form method="post" action="{% url bazaar_exchange %}">
        {% trans 'Points' %}: <input type="text" size="3" name="points" value="{{ rate }}" class="big" />
        <div class="actions">
        <button type="submit">{% trans 'Exchange' %}</button>
        </div>
        {% csrf_token %}
    </form>

    <form method="post" style="clear:both" action="{% url bazaar_exchange %}">
        {% trans 'Gold' %}: <input type="text" size="3" name="gold" value="1" class="big" />
        <div class="actions">
        <button type="submit">{% trans 'Exchange' %}</button>
        </div>
        {% csrf_token %}
    </form>
    </div>
</div>
{% endblock %}


