{% extends 'site_base.html' %}
{% load i18n %}
{% load artifacts %}
{% load user %}
{% block title %}{{block.super}} -- Chatbox{% endblock %}

{% block scripts %}

<script type="text/javascript" src="/static/js/chatbox.js"></script>

<script language="javascript" type="text/javascript" ></script>



<LINK rel="stylesheet" type="text/css" href="/static/css/chatbox.css" />
{% endblock %}

{% csrf_token %}
{% block content %}



<A HREF="javascript:alert
('Your resolution is '+screen.width+'x'+screen.height);">
    Click for your screen resolution</A>




<div id="Shoutbox">
    <table >

        <tr><td colspan="1"><div id="ShoutboxTextArea"></div></td>
            <td colspan="1"><div id="ShoutboxUserList"></div></td>

            <td rowspan = "3" style="width:100px; hight:300px">
                <button type="button" style="width: 100px; height:300px; height: 100%;
                    background-color:Transparent;" id="ShoutboxHideButton">
                    >>
                </button>
            </td>
        </tr>
        <tr>
            <td colspan = "1"><input type="text" id="ShoutboxTextBox"/></td>
            <td colspan = "1"><input type="button" id="ShoutboxProfileButton" value="P"/>
                              <input type="button" id="ShoutboxMesajeButton" value="M"/>
                              <input type="button" id="C" value="C"/><td>
        </tr>
        <tr>
            <td colspan = "1"><input type="button" id="ShoutboxSendButton" value="Send"/><td>


        </tr>
    </table>

</div>

<button type="button" style="width: 100px; height:100%;  background-color:Transparent;" id="ShoutboxShowButton"><<</button>


<div class="Privatebox" id="Privatebox">
    <div style="background: blue">
        <input type="button" id="UserName"   class="PrivateboxUserName"/>
        <input type="button" id="ExitButton" class="PrivateboxExitButton" value="x"/>
    </div>
    <div id="PrivateboxTextArea" ></div>
    <input type="text" id="PrivateboxTextBox"/>
</div>

<div class="Privatebox" id="PrivateboxMinimize" style="background: blue;">
    <input type="button" id="UserNameMinimize"   class="PrivateboxUserName"/>
    <input type="button" id="ExitButtonMinimize" class="PrivateboxExitButton" value="x"/>
</div>


{% endblock %}

