{% extends 'site_base.html' %}
{% load i18n %}
{% load artifacts %}
{% load user %}
{% block title %}{{block.super}} -- Chatbox{% endblock %}

{% block scripts %}

<script type="text/javascript" src="/static/js/chatbox.js"></script>

<script language="javascript" type="text/javascript" ></script>


<LINK rel="stylesheet" type="text/css" href="/static/css/chatbox.css" />
{% endblock %}

{% csrf_token %}
{% block content %}
</br>
</br>
<div id="Shoutbox">
    <table >

        <tr><td colspan="1"><div id="ShoutboxTextArea"></div></td>
            <td colspan="1"><div id="ShoutboxUserList"></div></td>

            <td rowspan = "3" style="width:100px; height:300px">
            </td>
        </tr>
        <tr>
            <td colspan = "1"><input type="text" id="ShoutboxTextBox"/></td>
            <td colspan = "1"><input type="button" class="caction" id="ShoutboxProfileButton" value="P"/>
                              <input type="button" class="caction" id="ShoutboxMesajeButton" value="M"/>
                              <input type="button" class="caction" id="ShoutboxChatButton" value="C"/><td>
        </tr>
        <tr>
            <td colspan = "1"><input type="button" id="ShoutboxSendButton" value="Send"/><td>


        </tr>
    </table>

</div>



<div id="PrivatebarUsers"></div>
<div id="PrivateChatBoxes"></div>


{% endblock %}

