{% extends 'interface/section_base.html' %}

{% load i18n %}
{% load user %}

{% block title %}{% trans 'My Division' %}{% endblock %}
{% block sectiontitle %}{% trans 'My Division' %}{% endblock %}

{% block sectioncontent %}
{% if top.disabled %}
    {% trans 'Top has been disabled.' %}
{% else %}
    {% if user.is_staff %}
        {% trans 'Staff users are not members of any division' %}
    {% else %}
        <table id="clasament" class="custom">
            <tr>
                <th width="70%" align="left">{% trans 'Player' %}</th>
                <th>{% trans 'Level' %}</th>
                <th>{% trans 'Group' %}</th>
                <th>{% trans 'Race' %}</th>
                <th width="30%">{% trans 'Last seen' %}</th>
            </tr>
            {% for d in division %}
                <tr>
                    <td>{{ d }}</td>
                    <td align="center">{{ d.level_no }}</td>
                    <td>{{ d.group }}</td>
                    <td>{{ d.race }}</td>
                    <td align="right">{{ d.last_seen }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endif %}
{% endblock %}
