{% extends 'mobile_base.html' %}
{% load i18n %}

{% block content %}
<h2>{% trans 'Activity' %}</h2>
{% include 'activity/stream.html' %}

<p style="clear:both"></p>
<h2>{% trans 'Bookmarks' %}</h2>
<ul>
{% for g in games %}
    <li><a href="{{ g.get_instance.get_game_absolute_url }}">{% trans g.get_instance.verbose_name %}</a></li>
{% endfor %}
    <li class="empty"></li>
    <li><a href="{% url view_top %}">{% trans 'Top' %}</a></li>
    <li><a href="{% url bazaar_home %}">{% trans 'Bazaar' %}</a></li>
</ul>
{% endblock %}

