{% extends 'site_base.html' %}
{% load user %}
{% load artifacts %}
{% load i18n %}
{% block scripts %}
<script type="text/javascript" language="JavaScript">
    $(document).ready(function (){
        $(document).everyTime(15000, reload_activity);
    });
</script>
{% endblock %}
{% block content %}
    {% if is_homepage %}
    {% endif %}

    <div id="wall-container">
        <h2>{% trans 'Activity' %}</h2>
        <div id="wall">
            {% include 'activity/stream.html' %}
        </div>
        <div id="wall-navigation">
        {% if activity.has_previous %}
            <a href="{% url homepage %}"> &raquo; </a>
        {% endif %}

        {% if activity.has_next %}
            <a href="{% url homepage page=activity.next_page_number %}"> &laquo;</a>
        {% endif %}
        </div>
   </div>

    <div id="news">
    {% block news %}
        <h2>{% trans 'News' %}</h2>
        <ul>
        {% for n in news %}
            <li><a href="{% url news_item_view n.pk %}">{{n.title}}</a></li>
        {% empty %}
            <li class="empty">{% trans 'No news' %}</li>
        {% endfor %}
        </ul>
    {% if more %}
        <a href="{% url news_index_view %}">{% trans 'All news' %}</a>
    {% endif %}
    {% endblock %}
    </div>
{% endblock %}
