{% load artifacts %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<HTML xmlns="http://www.w3.org/1999/xhtml">
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<TITLE>{% block title %}World of USO: piranha{% endblock %}</TITLE>
<LINK rel="stylesheet" type="text/css" href="/static/css/style.css" />
<LINK rel="stylesheet" type="text/css" href="/static/themes/{{ config.theme }}/styles.css" />
<style type="text/css"> 
    @import url("/static/css/autocomplete.css");
</style>
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/jquery.autocomplete.js"></script>
<script type="text/javascript" src="/static/js/format.item.js"></script>
</HEAD>

<BODY>
<div id="fundal">
<div id="container">
    <div id="header">
        <div id="topbar">
            {% if user.is_authenticated %}
                {% artifact user.get_profile.level %}
                <a href="{% url interface.profile.views.profile %}">{{ user.first_name }} {{ user.last_name }}</a> |
                {% for h in header %}{% autoescape off %}{{ h }}{% endautoescape %} |{% endfor %}
                {% if user.is_staff %}
                <a href="{% url admin:index %}">Admin</a>
                {% endif %}
                <a href="{% url django.contrib.auth.views.logout %}">logout</a>.        
            {% else %}
            Anonimous, <a href="{% url django.contrib.auth.views.login %}">login</a>.
            {% endif %}
        </div> 
        <div id="logo">
            <a href="{% url interface.views.homepage %}" id="logoa"></a>
        </div>
    </div>

    <div id="search_box">
        <form method="post" action="/search/" style="float:right;">
            <input id="query" type="text" name="query" size="10" />
            <button type=submit>Caută</button>
        </form>
    </div>

	<script type="text/javascript"> 
		$(document).ready(function() {
		$("#query").autocomplete("/instantsearch/", { minChars:3, matchSubset:1, matchContains:1, cacheLength:10, formatItem:formatItem, onItemSelect:selectItem, selectOnly:1 });
		});
	</script>

    <div id="sidebar">
        {% for w in sidebar %}
            {{ w }}
        {% endfor %}
    </div>

    <div id="content">
    {% block content %}
    <h1>World of USO: A new start</h1>

    <p>
    See <a href="{% url games.views.games %}">a list of available games</a>.
    </p>
    {% endblock %}
    </div>

    <div id="footer">
        <div id="footer_links">{% for f in footer %}{% autoescape off %}{{ f }}{% endautoescape %} |{% endfor %}
        <a href="http://www.rosedu.org/">ROSEdu</a>
        </div>
    </div>
</div>
</BODY>
</HTML>

