{% load user %}
{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<HTML xmlns="http://www.w3.org/1999/xhtml">
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<TITLE>{% block title %}{{config_title}}{% endblock %}</TITLE>
<LINK rel="stylesheet" type="text/css" href="/static/css/style.css" />
<LINK rel="stylesheet" type="text/css" href="/static/themes/{{ config_theme }}/styles.css" />
<style type="text/css">
    @import url("/static/css/autocomplete.css");
    {% if config_logo %}
    div#logo {
        background: url({{ config_logo}}) no-repeat;
    }
    {% endif %}
    {% block css %}{% endblock %}
</style>
<script type="text/javascript" src="/static/js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.autocomplete.js"></script>
<script type="text/javascript" src="/static/js/format.item.js"></script>
{% block scripts %}{% endblock %}
</HEAD>

<BODY>
<div id="container">
    <div id="header">
        <div id="topbar">
            {% if user.is_authenticated %}
                <span class="bold">{% player user.get_profile %}</span> |
                {% for h in header %}{% autoescape off %}{{ h }}{% endautoescape %} | {% endfor %}
                {% if user.is_staff %}
                <a href="{% url wouso.interface.cpanel.views.dashboard %}">CPanel</a> |
                {% endif %}
                <a href="{% url django.contrib.auth.views.logout %}">{% trans "Logout" %} &raquo;</a>
            {% else %}
            {% trans 'Anonimous' %}, <a href="{% url django.contrib.auth.views.login %}">{% trans "Login" %} &raquo;</a>
            {% endif %}
        </div>
        <div id="logo">
            <a href="{% url interface.views.homepage %}" id="logoa"></a>
        </div>
    </div>

    {% block search %}
    <div id="search">
        <form method="post" action="/search/" style="float:right;">
            <input id="query" type="text" name="query" size="10" />
            <button type=submit>{% trans 'Search' %}</button>
        </form>
        <script type="text/javascript">
            $(document).ready(function() {
            $("#query").autocomplete("/instantsearch/", { minChars:3, matchSubset:1, matchContains:1, cacheLength:10, formatItem:formatItem, onItemSelect:selectItem, selectOnly:1 });
            });
        </script>
    </div>
    {% endblock %}

    <div id="sidebar">
        {% block sidebar %}
        {% for w in sidebar %}
            {{ w }}
        {% endfor %}
        {% endblock %}
    </div>

    <div id="content">
    {% block content %}
    <h2>{% trans 'Players active in the last 10 minutes' %}</h2>
    {% for u in last10 %}
        {% player u %}
    {% endfor %}

    {% if config_intro %}
    <h2>{% trans 'About' %}</h2>
        <p>{{config_intro}}</p>
    {% endif %}

    <p>
    See <a href="{% url games.views.games %}">a list of available games</a>.
    </p>
    {% endblock %}
    </div>

    <div id="footer">
        <div id="footer_links">{% for f in footer %}{% autoescape off %}{{ f }}{% endautoescape %} |{% endfor %}
        <a href="{% url propose %}">Propose question</a>
        <br/>
        <span id="poweredby">
        <br />Powered by: <br />
        <a href="http://www.rosedu.org/"></a>
        </span>
        </div>
    </div>
</BODY>
</HTML>
