{% load i18n %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{config_title}}</title>
    <LINK rel="stylesheet" type="text/css" href="{{ basepath }}/static/css/splash.css" />
    <LINK rel="stylesheet" type="text/css" href="{{ basepath }}/static/css/zocial.css" />
    <LINK rel="stylesheet" type="text/css" href="{{ basepath }}/static/themes/{{ config_theme }}/styles.css" />
</head>

<body>
	<div id="floater"></div>
	<div id="centered">
        <div id="logo"></div>

        <div id="side">
            <form action="{% url wouso.interface.views.login_view %}" method="post">
                <label for="username">{% trans 'username' %}:</label>
                <input size="10" name="username" id="username" class="big" />
                <label for="password">{% trans 'password' %}:</label>
                <input size="10" name="password" id="password" class="big" type="password" />
                <button type="submit">Enter &raquo;</button>
                {% csrf_token %}
            </form>
		</div>

        <div id="content">
            <h2>{{ config_title }}</h2>
            <p>
                {% autoescape off %}
                {{config_intro}}
                {% endautoescape %}
			</p>

            {% if config_social_auth %}
                <a href="{% url socialauth_begin 'facebook' %}" class="zocial facebook">
                    Log in with Facebook
                </a>

                <a href="{% url socialauth_begin 'twitter' %}" class="zocial twitter">
                    Log in with Twitter
                </a>
            {% endif %}

            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
		</div>
	</div>

	<div id="bottom">
		<p>
			Copyright &copy; <a href="http://www.rosedu.org">ROSEdu</a>.
		</p>
	</div>
	{% autoescape off %}
    {{ config_hidden_footer }}
	{% endautoescape %}
</body>
</html>
