{% load i18n %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{config_title}}</title>
    <LINK rel="stylesheet" type="text/css" href="{{ basepath }}/static/css/splash.css" />
    <LINK rel="stylesheet" type="text/css" href="{{ basepath }}/static/themes/{{ config_theme }}/styles.css" />
</head>
<body>
	<div id="floater"></div>
	<div id="centered">
        <div id="logo"></div>

        <div id="side">
            <form {% ifequal config_login "True" %}action="{% url wouso.interface.views.login_view %}"{% else %}action="/"{% endifequal %} method="post">
                <label for="username">{% trans 'username' %}:</label>
                <input size="10" name="username" id="username" class="big" />
                <label for="password">{% trans 'password' %}:</label>
                <input size="10" name="password" id="password" class="big" type="password" />
                {% if not config_login %}
                <button type="submit">Enter &raquo;</button>
                {% endif %}
                {% csrf_token %}
            </form>

            {% load url from future %}
            {% ifequal config_login "True" %}
            <a href="{% url 'social:begin' "clef" %}">Log in with your Phone</a>
            {% endifequal %}
		</div>

        <div id="content">
            {% include 'messages.html' %}
            <h2>{{ config_title }}</h2>
            <p>
                {% autoescape off %}
                {{config_intro}}
                {% endautoescape %}
			</p>
		</div>

	</div>

	<div id="bottom">
		<p>
			Copyright &copy; <a href="http://www.rosedu.org">ROSEdu</a>.
		</p>
	</div>
	{% autoescape off %}
    {{ config_hidden_footer }}
	{% endautoescape %}
</body>
</html>
