{% extends 'cpanel/index.html' %}

{% block sectiontitle %}Special quest {% endblock %}

{% block sectioncontent %}

{% if task %}
<h3>Edit task #{{ task.pk }}</h3>
{% else %}
<h3>New task</h3>
{% endif %}

<form method="post">
<table>
    {{ form.as_table }}
</table>
<div class="actions">
    <button onclick="history.back(); return false;" class="btn btn-warning">Cancel</button>
    <button type="reset" class="btn btn-danger">Reset</button>
    <button type="submit" class="btn btn-primary">Save</button>
</div>
    {% csrf_token %}
</form>
{% endblock %}
