{% extends 'cpanel/index.html' %}

{% load i18n %}
{% load bootstrap %}
{% load django_bootstrap_breadcrumbs %}

{% block sectiontitle %}Add / Edit task{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Special quests" "specialquest_home" %}
    {% breadcrumb "Add / Edit task" "specialquest_create" %}
{% endblock %}

{% block sectioncontent %}

{% if task %}
<h3>Edit task #{{ task.pk }}</h3>
{% else %}
<h3>New task:</h3>
{% endif %}

<div class="col-md-8">
    <form class="form-horizontal" role="form" method="post" action="">
        {{ form|bootstrap_horizontal }}
        <div class="actions">
            <button onclick="history.back(); return false;" class="btn btn-warning">{% trans 'Cancel' %}</button>
            <button type="reset" class="btn btn-danger">{% trans 'Reset' %}</button>
            <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
        </div>
        {% csrf_token %}
    </form>
</div>

{% endblock %}
