{% extends 'cpanel/index.html' %}
{% load i18n %}
{% load user %}

{% block sectiontitle %}
    Special Quests
    <a class="btn btn-primary pull-right" href="{% url specialquest_new %}">
        <span class="glyphicon glyphicon-plus"></span>{% trans 'Add task' %}</a>
{% endblock %}

{% block sectioncontent %}

<ul class="nav nav-tabs">
    <li><a href="{% url specialquest_home %}">Tasks</a></li>
    <li class="active"><a href="{% url specialquest_cpanel_groups %}">Groups</a></li>
</ul>

<div class="container-fluid">
    {% block tabcontent %}
    <div class=" col-md-10">
    <table class="table table-bordered table-condensed table-hover">
        <tr>
            <th>Name</th>
            <th>Owner</th>
            <th>Members</th>
            <th>Active</th>
        </tr>
        {% for t in groups %}
            <tr>
                <td>{{ t.name }}</td>
                <td>{% player t.head %}</td>
                <td>{{ t.players.count }}</td>
                <td>
                    <a class="btn btn-primary" href="{% url specialquest_cpanel_group_toggle t.id %}">
                        <span{% if not t.active %} class="wrong"{% endif %}>{{ t.active }}</span>
                    </a>
                </td>
                <td>
                    <a href="{% url specialquest_group t.id %}" class="btn btn-info">
                        {% trans 'View members' %}
                    </a>
                    <a href="{% url admin:specialquest_specialquestgroup_change t.id %}" class="btn btn-success">
                        {% trans 'Edit ' %}<span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a href="{% url specialquest_cpanel_group_delete t.id %}" onclick="return confirm('realy?');"
                        class="btn btn-danger">
                        {% trans 'Delete ' %}<span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
            </tr>
        {% empty %}
        <tr><td colspan="0">No groups</td></tr>
        {% endfor %}
    </table>
    </div>
    <div class="panel panel-primary col-md-2">
    <div class="panel-body">
        Current date and time:  {% now "d/m/Y H:i" %}
    </div>
    {% endblock %}
    </div>
</div>
{% endblock %}
