{% extends 'cpanel/index.html' %}
{% load i18n %}
{% load user %}
{% block title %}{% trans 'Special Quest' %}{% endblock %}

{% block content %}

<h2>{% player mplayer %}</h2>
<span class="points">Gold: {{ mplayer.coins.gold }}</span>

Done tasks:
<ul>
    {% for task in mplayer.done_tasks.all %}
    <li><s><a href="{% url specialquest_task_view task.pk %}">{{task.name}}</a></s> ({{task.value}} gold)
           <a href="{% url specialquest_manage_unset mplayer.id task.pk %}" class="points">Unset</a>.</li>
    {% empty %}
<li>None yet</li>
    {% endfor %}
</ul>

Not done tasks:
<ul>
  {% for task in tasks_not_done %}
      <li><a href="{% url specialquest_task_view task.pk %}">{{task.name}}</a> ({{task.value}} gold)
          <a href="{% url specialquest_manage_set mplayer.id task.pk %}" class="points">Set done</a>.</li>
  {% empty %}
<li class="empty">None yet</li>
  {% endfor %}
</ul>

<h4>Give bonus:</h4>
    <form action="" method="post">
    Gold: <input class="big" type="text" size="3" value="0" name="gold">
    <div class="actions">
        <button type="submit">Bonus him!</button>
    </div>
    {% csrf_token %}
    </form>
<p>History:</p>
<ul>
    {% for bonus in bonuses %}
    <li>{{ bonus.timestamp }} - {{ bonus.amount }} {{ bonus.coin }} from {% player bonus.external_id %}</li>
    {% endfor %}
</ul>
{% endblock %}
