{% extends 'interface/section_base.html' %}
{% load i18n %}
{% load user %}
{% block title %}{% trans 'Special Quest' %}{% endblock %}
{% block sectiontitle %}
    {% if squser.active %}
        {% trans 'Tasks' %}
    {% else %}
        {% trans 'Special Quest' %}
    {% endif %}
{% endblock %}

{% block sectioncontent %}
{% if not tasks_done and not tasks_not_done %}
    <p>{% blocktrans %}Special quest hasn't started yet. Keep your eyes on it!{% endblocktrans %}</p>
{% else %}
    {% if squser.active %}
    <b>{% trans 'Done tasks' %}:</b>
    <ul>
    {% for task in tasks_done %}
    <li><s><a href="{% url specialquest_task_view task.pk %}">{{task.name}}</a></s> ({% coin_amount task.value 'gold' %}).</li>
    {% empty %}
    <li>None yet</li>
    {% endfor %}
    </ul>

    <div class="spacer"></div>

    <b>{% trans 'Not done tasks' %}:</b>
    <ul>
      {% for task in tasks_not_done %}
        {% if task.1 > 0 %}
          <li><a href="{% url specialquest_task_view task.0.pk %}">{{task.0.name}}</a>
          ({% coin_amount task.0.value 'gold' %}) - {{task.1}} days left (including today)</li>
        {% else %}
        <li><s><a href="{% url specialquest_task_view task.0.pk %}">{{task.0.name}}</a></s>
          ({% coin_amount task.0.value 'gold' %}) - deadline passed</li>
        {% endif %}
      {% empty %}
        <li class="empty">None yet</li>
      {% endfor %}
    </ul>

    <div class="spacer"></div>

    <b>{% trans 'Your group' %}</b>
    <p>{{ squser.group }}. <a href="{% url specialquest_group squser.group.id %}">{% trans 'View group' %}</a></p>
    {% else %}
        {% if squser.group %}
            <p>
            {% blocktrans with squser.group as group %}Your group, {{ group }}, is not active.{% endblocktrans %}
            </p>
            <p><a href="{% url specialquest_group squser.group.id %}">{% trans 'View group' %}</a></p>
            {% if squser.group.members.count == 1 or squser.group.head != squser %}
            <p><a href="{% url specialquest_leave %}">{% trans 'Leave this group' %}</a></p>
            {% endif %}
        {% else %}
            <p>{% blocktrans %}In order to play the special quest, you need to set up a group. You can do that by either:{% endblocktrans %}</p>
            <p><a href="{% url specialquest_create %}">{% trans 'Create a new group' %}</a></p>
            <p><b>{% trans 'or' %}</b></p>
            <p>{% trans 'Accept one of these group invitations:' %}
            <ul>
            {% for i in squser.invitations %}
                <li>{{ i.group }} {% trans 'from' %} {% player_simple i.group.head %} <a href="{% url specialquest_accept i.group.id %}">{% trans 'Accept' %}</a> <!--<a href="#">{% trans 'Refuse' %}</a>--></li>
            {% empty %}
                <li class="empty">{% trans 'no invitations.' %}</li>
            {% endfor %}
            </ul></p>
        {% endif %}
    {% endif %}
{% endif %}
{% endblock %}
