{% extends 'interface/section_base.html' %}
{% load i18n %}
{% load user %}
{% block title %}{% trans 'Special Quest' %}{% endblock %}
{% block sectiontitle %}
    {% if not task.is_active %}
    {% trans 'Misterious task' %}
    {% else %}
    {{ task.name }}
    {% endif %}
{% endblock %}

{% block sectioncontent %}

{% if task.is_active or task.is_archived %}
    <span class="points">{% trans 'Reward' %}: {% coin_amount task.value 'gold' %}</span>

    {% if days_left >= 0 %}
      <p>{% trans 'Days left including today' %}: {{days_left}}</p>
    {%else%}
      <p class="wrong">{% trans 'Deadline passed' %}</p>
    {%endif%}
    <p class="task-text">{% autoescape off %}{{task.text}}{% endautoescape %}</p>

    <h3>{% trans 'Teams that completed this task' %}</h3>
        <ul>
            {% for info in task.completed_teams %}
                <li>{{ info.team }} - {{ info.date }}</li>
            {% empty %}
                <li>{% trans 'Nobody.' %}</li>
            {% endfor %}
        </ul>
{% else %}
    {% trans 'Access forbidden' %}
{% endif %}
{% endblock %}
