{% extends 'cpanel/index.html' %}
{% load user %}
{% load i18n %}

{% block sectiontitle %}
Races and groups
<a class="btn btn-primary pull-right" href="{% url races_add %}">
    <span class="glyphicon glyphicon-plus"></span>{% trans 'Add race' %}
</a>
<a class="btn btn-primary pull-right" href="{% url group_add %}">
    <span class="glyphicon glyphicon-plus"></span>{% trans 'Add group' %}
</a>
{% endblock %}

{% block sectioncontent %}
<div class="container-fluid">
<ul>
    {% for r in races %}
    <li>
        {{ r }} {% if r.can_play %}[can play]{% endif %}
        <a href="{% url admin:user_race_change r.id %}">
            <span class="glyphicon glyphicon-edit"></span>
        </a>
        <ul>
            {% for g in r.children %}
            <li>
                {{ g }}
                <a href="{% url admin:user_playergroup_change g.id %}">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
                <a href="{% url system_message_group g.id %}">Message</a>
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
    <li>Orphans
      <ul>
        {% for g in orphan_groups %}
          <li>
              {{ g }}
              <a href="{% url admin:user_playergroup_change g.id %}"><span class="glyphicon glyphicon-edit"></span></a>
              <a href="{% url system_message_group g.id %}">Message</a>
          </li>
        {% endfor %}
      </ul>
    </li>
</ul>
</div>
{% endblock %}
