{% extends 'cpanel/index.html' %}

{% load user %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block sectiontitle %}
Races and groups
<div class="pull-right">
  <a class="btn btn-primary" href="{% url races_add %}">
      <span class="glyphicon glyphicon-plus"></span>{% trans 'Add race' %}
  </a>
  <a class="btn btn-primary" href="{% url group_add %}">
      <span class="glyphicon glyphicon-plus"></span>{% trans 'Add group' %}
  </a>
</div>
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Groups" "races_groups" %}
{% endblock %}

{% block sectioncontent %}
<div class="text-right">
    <button class="btn btn-sm btn-default btn-toggle" id="toggle_all_groups" data-show="true">
        {% trans 'Show all groups' %}
    </button>
</div>

<table class="table table-hover table-bordered table-condensed">
    <tr>
        <th>#</th>
        <th>{% trans 'Race name' %}</th>
        <th>{% trans 'Race title' %}</th>
        <th>{% trans 'Number of groups' %}</th>
        <th>{% trans 'Can play' %}</th>
        <th>{% trans 'Actions' %}</th>
    </tr>
    {% for r in races %}
        <tr>
            <td class="ctr-number">{{ forloop.counter0 }}</td>
            <td>{{ r.name }}</td>
            <td>{{ r.title }}</td>
            <td>{{ r.children.count }}</td>
            <td>
                {% if r.can_play %}
                    <button class="btn btn-success btn-sm race_can_play_toggle" data-race_pk="{{ r.pk }}">{% trans 'Yes' %}</button>
                {% else %}
                    <button class="btn btn-danger btn-sm race_can_play_toggle" data-race_pk="{{ r.pk }}">{% trans 'No' %}</button>
                {% endif %}
            </td>
            <td>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5 text-right">
                        <a class="btn btn-success btn-sm" href="{% url admin:user_race_change r.id %}">
                            <span class="glyphicon glyphicon-edit"></span> {% trans 'Edit '%}
                        </a>
                    </div>
                    <div class="col-md-5">
                        {% if r.children.count %}
                            <a class="btn btn-warning btn-sm toggle_groups btn-block" data-show="true" data-race="race-{{r.id}}">
                                <span class="glyphicon glyphicon-eye-open"></span> {% trans 'Show groups' %}
                            </a>
                        {% else %}
                            <a class="btn btn-warning btn-sm disabled btn-block">
                                <span class="glyphicon glyphicon-eye-open"></span> {% trans 'Show groups' %}
                            </a>
                        {% endif %}
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </td>
        </tr>
        {% for g in r.children %}
            <tr class="group-row hidden group race-{{r.id}}">
                <td>{{ forloop.parentloop.counter0 }}.{{ forloop.counter0 }}</td>
                <td>{{ g.name }}</td>
                <td>{{ g.title }}</td>
                <td>n/a</td>
                <td></td>
                <td>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-5 text-right">
                            <a href="{% url admin:user_playergroup_change g.id %}" class="btn btn-success btn-sm">
                                <span class="glyphicon glyphicon-edit"></span> {% trans 'Edit '%}
                            </a>
                        </div>
                        <div class="col-md-5">
                            <a href="{% url system_message_group g.id %}" class="btn btn-info btn-sm btn-block">
                                <span class="glyphicon glyphicon-envelope"></span> {% trans 'Send message' %}
                            </a>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </td>
            </tr>
        {% endfor %}
    {% endfor %}

    <!-- Display orphan race -->
    <tr>
        <td class="ctr-number">{{ races.count }}</td>
        <td>{% trans 'Orphans' %}</td>
        <td></td>
        <td>{{ orphan_groups.count }}</td>
        <td></td>
        <td>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5 text-right">
                    <a class="btn btn-success btn-sm disabled">
                        <span class="glyphicon glyphicon-edit"></span> {% trans 'Edit '%}
                    </a>
                </div>
                <div class="col-md-5">
                    {% if orphan_groups.count %}
                        <a class="toggle_groups btn btn-warning btn-sm btn-block" data-show="true" data-race="race-orphans">
                            <span class="glyphicon glyphicon-eye-open"></span> {% trans 'Show groups' %}
                        </a>
                    {% else %}
                        <a class="btn btn-warning btn-sm disabled btn-block">
                            <span class="glyphicon glyphicon-eye-open"></span> {% trans 'Show groups' %}
                        </a>
                    {% endif %}
                </div>
                <div class="col-md-1"></div>
            </div>
        </td>
    </tr>
    <!-- Display orphan groups -->
    {% for g in orphan_groups %}
        <tr class="group group-row hidden race-orphans">
            <td>{{ races.count }}.{{ forloop.counter0 }}</td>
            <td>{{ g }}</td>
            <td>{{ g.title }}</td>
            <td>n/a</td>
            <td></td>
            <td>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5 text-right">
                        <a href="{% url admin:user_playergroup_change g.id %}" class="btn btn-success btn-sm">
                            <span class="glyphicon glyphicon-edit"></span> {% trans 'Edit '%}
                        </a>
                    </div>
                    <div class="col-md-5">
                        <a href="{% url system_message_group g.id %}" class="btn btn-info btn-sm btn-block"> 
                            <span class="glyphicon glyphicon-envelope"></span> {% trans 'Send message' %}
                        </a>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </td>
        </tr>
    {% endfor %}
</table>

<script>
$(document).ready(function() {
    $(document).on("click",".toggle_groups",function() {
        var race = $(this).data('race');
        var show = $(this).data('show');

        var class_race = '.' + race;
        var $group_rows = $(class_race);

        if(show)
        {
            $(this).html("<span class=\"glyphicon glyphicon-eye-close\"></span> {% trans 'Hide groups' %}");
            $group_rows.removeClass('hidden');
            $(this).data('show', false);
        }
        else
        {
            $(this).html("<span class=\"glyphicon glyphicon-eye-open\"></span> {% trans 'Show groups' %}");
            $group_rows.addClass('hidden');
            $(this).data('show', true);
        }
    });

    $(document).on("click", "#toggle_all_groups", function() {
        var show = $(this).data('show');
        var $group_rows = $('.group');
        var $toggle_buttons = $('.toggle_groups');

        if(show)
        {
            $(this).html("{% trans 'Hide all groups' %}");
            $group_rows.removeClass('hidden');

            $toggle_buttons.html("<span class=\"glyphicon glyphicon-eye-close\"></span> {% trans 'Hide groups' %}");
            $toggle_buttons.data('show', false);
            $(this).data('show', false);
        }
        else
        {
            $(this).html("{% trans 'Show all groups' %}");
            $group_rows.addClass('hidden');

            $toggle_buttons.html("<span class=\"glyphicon glyphicon-eye-open\"></span> {% trans 'Show groups' %}");
            $toggle_buttons.data('show', true);
            $(this).data('show', true);
        }
    });

    $(document).on("click", ".race_can_play_toggle", function() {
        var race_pk = $(this).data('race_pk');
        var button = $(this);
        var csrftoken = $.cookie('csrftoken');

        //console.log(csrftoken);

        var csrfSafeMethod = function(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        var sameOrigin = function(url) {
            // test that a given url is a same-origin URL
            // url could be relative or scheme relative or absolute
            var host = document.location.host; // host + port
            var protocol = document.location.protocol;
            var sr_origin = '//' + host;
            var origin = protocol + sr_origin;
            // Allow absolute or scheme relative URLs to same origin
            return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                // or any other URL that isn't scheme relative or absolute i.e relative.
                !(/^(\/\/|http:|https:).*/.test(url));
        }

        $(document).ajaxSend(function(event, jqxhr, settings) {
            if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                // Send the token to same-origin, relative URLs only.
                // Send the token only if the method warrants CSRF protection
                // Using the CSRFToken value acquired earlier
                jqxhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
            }
        });

        $.ajax({
            url: '{% url race_toggle_can_play 0 %}'.replace(0, race_pk),
            dataType: 'json',
            type: 'PUT',
            success: function(data) {
                if(data.can_play){
                    button.html("{% trans 'Yes' %}");
                    button.removeClass('btn-danger');
                    button.addClass('btn-success');
                }else{
                    button.html("{% trans 'No' %}");
                    button.removeClass('btn-success');
                    button.addClass('btn-danger');
                }
            }
        });
    });
});
</script>
{% endblock %}
