{% extends 'cpanel/index.html' %}
{% load user %}

{% block sectiontitle %}Races and groups{% endblock %}

{% block sectioncontent %}

<ul>
    {% for r in races %}
    <li>{{ r }} {% if r.can_play %}[can play]{% endif %}<a href="{% url races_update r.id %}">✍</a>
        <ul>
            {% for g in r.children %}
            <li>
                {{ g }} <a href="{% url group_update g.id %}">✍</a>
                <a href="{% url system_message_group g.id %}">Message</a>
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
    <li>Orphans
      <ul>
        {% for g in orphan_groups %}
          <li>
              {{ g }} <a href="{% url group_update g.id %}">✍</a>
              <a href="{% url system_message_group g.id %}">Message</a>
          </li>
        {% endfor %}
      </ul>
    </li>
</ul>
<a class="button" href="{% url races_add %}">Add race</a>
<a class="button" href="{% url group_add %}">Add group</a>
{% endblock %}
