{% extends 'cpanel/index.html' %}

{% load user %}
{% load i18n %}
{% load bootstrap %}
{% load django_bootstrap_breadcrumbs %}

{% block sectiontitle %}Edit race{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Groups" "races_groups" %}
    {% breadcrumb "Edit race" "races_edit" %}
{% endblock %}

{% block sectioncontent %}

    <div class="col-md-8">
        {% if form.errors %}
            <p style="color: red;">
                Please correct the error{{ form.errors|pluralize }} below.
            </p>
        {% endif %}

        <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
            {{ form|bootstrap_horizontal }}
            <button onclick="history.back(); return false;" class="btn btn-warning">{% trans 'Cancel' %}</button>
            <button type="reset" class="btn btn-danger">{% trans 'Reset' %}</button>
            <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
            {% csrf_token %}
        </form>
    </div>

{% endblock %}
