{% extends 'interface/sidebar_widget.html' %}
{% load i18n %}
{% block title %}{% trans 'Top' %}{% endblock %}

{% block content %}

{% if top.disabled %}
    {% trans 'Top has been disabled' %}
{% else %}
    {% if not is_top %}
        <ol class="top">
        {% for u in topusers %}
            <li><a  href="{% url player_profile u.id %}"
                    title="{{ u.proximate_group }}/{{ u.series }}  {{u.points}}">{{ u }}</a>
            </li>
        {% endfor %}
        </ol>
    {% endif %}

    <a href="{% url wouso.interface.top.views.gettop %}" class="goto">{% trans 'Current top' %}</a>
    <br/>
    {% if is_top %}
        <a href="{% url wouso.interface.top.views.gettop toptype=1 sortcrit=0 page=1 %}" class="goto">{% trans 'Weekly progress' %}</a>
    <br/>
    <a href="{% url wouso.interface.top.views.pyramid %}" class="goto">{% trans 'Pyramid' %}</a>
    {% endif %}
{% endif %}
{% endblock %}
