{% extends 'site_base.html' %}

{% block title %}Question of the Day{% endblock %}

{% block content %}

{% if text %}
<h1>Question</h1>
<p>{{ text }}</p>
<div class="answers">
<ul>
{% for a in answers %}
    <li><input type=radio disabled {% ifequal a.id choice.id %}checked{% endifequal %} /> 
    {{ a }} {% if a.value %}[correct]{% endif %}</li>
{% endfor %}
</ul>
</div>
Choice: {{ choice }}
{% if valid %} correct{% else %} wrong{% endif %}
{% else %}
    No question for today.
{% endif %}

{% endblock %}
