{% extends 'site_base.html' %}

{% block title %}Challenges{% endblock %}

{% block content %}

<h2>Challenges</h2>

<p>To launch a challenge, find the player you want to challenge and click on the <em>Challenge</em> button, next to his profile.</p>

<h3>Active</h3>
{% for c in challenges %}
    <a href="{% url interface.profile.views.user_profile c.user_from.user.id %}">{{ c.user_from }}</a> vs.
    <a href="{% url interface.profile.views.user_profile c.user_to.user.id %}">{{ c.user_to }}</a> - Status: {% if c.status == "R" %}refused
    {% else %}
    {% if c.status == "L" %}launched
    {% else %}
    {% if c.status == "A" %}accepted
    {% endif %}{% endif %}{% endif %}

    {% ifequal c.user_to.user challuser %}
        {% if c.is_launched %}<a href="{% url games.challenge.views.accept c.id %}">Accept</a>{% endif %}
        {% if c.is_launched %}<a href="{% url games.challenge.views.refuse c.id %}">Refuse</a>{% endif %}
    {% endifequal %}

    {% if c.is_runnable %}
        <a href="{% url games.challenge.views.challenge c.id %}">Play</a>
    {% endif %}

    {% ifequal c.user_from.user challuser %}
        {% if c.is_launched %}<a href="{% url games.challenge.views.cancel c.id %}">Cancel</a>{% endif %}
    {% endifequal %}
    <br/>
{% empty %}
    There are no active challenges.
{% endfor %}

{% if played %}
<h3>Played</h3>
{% for c in played %}
    <a href="{% url interface.profile.views.user_profile c.user_from.user.id %}">{{ c.user_from }}</a> vs.
    <a href="{% url interface.profile.views.user_profile c.user_to.user.id %}">{{ c.user_to }}</a>
     - Result:{% if c.status == "D" %} Draw {% else %} Won by {{ c.winner }}. {% endif %} <br/>
{% endfor %}
{% endif %}

{% endblock %}
