{% extends 'site_base.html' %}

{% block title %}Quest{% endblock %}

{% block content %}

<h1>{{ quest.title }}</h1>

{% if progress.finished %}
<p>Quest finished!</p>

<p>You passed {{ quest.levels }} levels in {{ progress.time_took }}.</p>
{% else %}
<p style="color:red">{{ message }}</p>

<h2>Level #{{ progress.current_level }}:</h2>
<p>{{ progress.current_question.text }}</p>
<form method="post" action="{% url games.quest.views.index %}">
    <table>
    {{ form }}
    </table>
    {% csrf_token %}
    <div class="actions">
        <button type="submit" class="default">Send</button>
    </div>
</form>

<p style="clear:both">
Available until {{ quest.end }}. Your progress: {{ progress.time_took }}
</p>
{% endif %}
{% endblock %}
