{% extends 'files/cpanel/list_files.html' %}

{% load user %}
{% load bootstrap %}
{% load django_bootstrap_breadcrumbs %}

{% block sectiontitle %}Upload file{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Upload file" "add_file" %}
{% endblock %}

{% block sectioncontent %}

    <div class="col-md-8">
        {% if form.errors %}
            <p style="color: red;">
                Please correct the error{{ form.errors|pluralize }} below.
            </p>
        {% endif %}

        <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
            {{ form|bootstrap_horizontal }}
            <input class="btn btn-primary" type="submit" value="Submit">
            {% csrf_token %}
        </form>
    </div>

{% endblock %}
