{% extends 'interface/content_base.html' %}
{% load i18n %}
{% block scripts %}
<script src="{{ basepath }}/static/js/jquery-1.11.1.min.js"></script>
<script src="{{ basepath }}/static/js/ajaxify.js"></script>
<script type="text/javascript" src="{{ basepath }}/static/js/tabs.js"></script>
<link rel="stylesheet" type="text/css" href="{{ basepath }}/static/css/tabs.css" />
<script type="text/javascript" src="{{ basepath }}/static/js/cpanel/qpool/add_question.js"></script>
{% endblock %}

{% block sectiontitle %}{% trans 'Propose a question' %}{% endblock %}

{% block sectioncontent %}
<ul class="tabs">
        <li><a href="#propose" id="propose-click" class="no-redir">{% trans 'Propose' %}</a></li>
        <li><a href="#history" id="history-click" class="no-redir">{% trans 'History' %}</a></li>
    </ul>

<div class="tab_container">
    <div id="propose" class="tab_content">
        <br/>
        <form action="/qproposal/" method="post">{% csrf_token %}
        
        <div id="category">
            <label id="category_label" for="{{ form.category.id_for_label }}">Category:</label>
            {{ form.category }}
        </div>
        <br/>
        
        <div id="text">
            <label id="text_label" for="{{ form.text.id_for_label }}" >Question:</label>
            {{ form.text }}
        </div>
        <br/>

        <div id="answers" data-max-answers="{{ max_answers }}">

            <div id="answer_0">
                <label for="id_answer_0"v>Answer 1:</label> 
                <textarea id="id_answer_0" rows="10" cols="40" name="answer_0"></textarea>
                <br/>

                <label for="id_correct_0">Correct?</label>
                <input id="id_correct_0" name="correct_0" type="checkbox"></input>
            </div>

            <br/>

            <div id="answer_1">
                <label for="id_answer_1">Answer 2:</label> 
                <textarea id="id_answer_1" rows="10" cols="40" name="answer_1"></textarea>
                <br/>

                <label for="id_correct_1">Correct?</label>
                <input id="id_correct_1" name="correct_0" type="checkbox"></input>
            </div>
            <br/>
        </div>
  
        <br/>
        <button id="add_button" type="button">Add another answer</button>

        <div id="tags"
            <label id="tags_label" for="select-tags">Tags:</label>
            <select multiple="multiple" id="select-tags" name="tags"></select>
        </div>
        <br/>
        
        <input id="submit" type="submit" value="Submit" />

        </form> 
        
</div>
    </div>

    <div id="history" class="tab_content">
        <br/>
        {% if prop_questions %}
        <ul>
            {% for q in prop_questions %}
                <li class="proposed_question"> 
                    <a id="question_{{ forloop.counter }}">{{ q.text }}</a>
                    <ul id="question_{{ forloop.counter }}_answers">
                        {% for ans in q.answers %}
                            <li> {{ ans.text }} </li>
                        {% endfor %}
                    </ul>
                </li>
                <br/>
            {% endfor %}
            </ul>
        {% else %}
            {% trans "You haven't proposed any questions yet." %}
        {% endif %}

    </div>
{% endblock %}

