{% extends 'interface/content_base.html' %}
{% load i18n %}
{% block scripts %}
<link rel="stylesheet" type="text/css" href="{{ basepath }}/static/css/tabs.css" />
<link rel="stylesheet" type="text/css" href="{{ basepath }}/static/css/propose-style.css" />
<link rel-"stylesheet" type="text/css" href="{{ basepath}}/static/css/cpanel-qpool.css" />
<script src="{{ basepath }}/static/js/jquery-1.11.1.min.js"></script>
<script src="{{ basepath }}/static/js/ajaxify.js"></script>
<script type="text/javascript" src="{{ basepath }}/static/js/tabs.js"></script>
<script type="text/javascript" src="{{ basepath }}/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ basepath }}/static/js/cpanel/qpool/add_question.js"></script>
{% endblock %}

{% block sectiontitle %}{% trans 'Propose a question' %}{% endblock %}

{% block sectioncontent %}
<ul class="tabs">
        <li><a href="#propose" id="propose-click" class="no-redir">{% trans 'Propose' %}</a></li>
        <li><a href="#history" id="history-click" class="no-redir">{% trans 'History' %}</a></li>
    </ul>

    <div class="tab_container">
        <div id="propose" class="tab_content">
            <br/>
            <form class="form-horizontal" action="/qproposal/" method="post">{% csrf_token %}
            
            <div class="form-group" id="category">
                <label class="control-label col-sm-3" id="category_label" for="{{ form.category.id_for_label }}">
                    Category:
                </label>
                {{ form.category }}
            </div>
            <br/>
            
            <div class="form-group" id="text">
                <label class="control-label col-sm-3" id="text_label" for="{{ form.text.id_for_label }}">
                    Question:
                </label>
                {{ form.text }}
            </div>
            <br/>

            <div id="answers" data-max-answers="{{ max_answers }}">

                <div id="answer_0" class="form-group">
                    <label class="control-label col-sm-3" for="id_answer_0">Answer 1:</label> 
                    <textarea id="id_answer_0" rows="10" cols="40" name="answer_0"></textarea>
                    <br/>

                    <label class="control-label col-sm-3" for="id_correct_0">Correct?</label>
                    <input id="id_correct_0" name="correct_0" type="checkbox"></input>
                </div>

                <br/>

                <div id="answer_1" class="form-group">
                    <label class="control-label col-sm-3" for="id_answer_1">Answer 2:</label> 
                    <textarea id="id_answer_1" rows="10" cols="40" name="answer_1"></textarea>
                    <br/>

                    <label class="control-label col-sm-3" for="id_correct_1">Correct?</label>
                    <input id="id_correct_1" name="correct_0" type="checkbox"></input>
                </div>
                <br/>
            </div>
            <br/>

            <div style="text-align: center;">
                <button id="add_button" type="button" class="btn btn-info">Add another answer</button>
            </div>
            <br/>
            <br/>

            <div id="tags" class="form-group">
                <label id="tags_label" for="select-tags" class="control-label col-sm-3">Tags:</label>
                <select multiple="multiple" id="select-tags" name="tags"></select>
            </div>
            <br/>

            <div style="text-align: center;">
                <button type="reset" class="btn btn-danger">{% trans 'Reset' %}</button>
                <div class="divider"/>
                <input id="submit" type="submit" class="btn btn-submit" value="Submit" />
            </div>
            </form> 
            
        </div>
    </div>

    <div id="history" class="tab_content">
        <br/>

        <div id="proposed_history" class="tab-pane fade in active">
            <table class="table table-striped">
                {% for q in prop_questions %}
                    <tr>
                        <td colspan="4"> {{ q.text }} </td>
                        <td colspan="4" data-status="{{ q.status }}"> 
                            {% if q.status = "P" %} 
                                {% trans 'Pending' %}
                            {% elif q.status = "A" %}
                                {% trans 'Accepted' %}
                            {% else %}
                                {% trans 'Declined' %}
                            {% endif %}
                        </td>
                        <td colspan="4"> 
                            <button type="button" class="btn btn-primary" 
                                onclick="toggle_visibility('details_{{ forloop.counter }}')">Details 
                            </button> 
                        </td>
                    </tr>

                    <tr id="details_{{ forloop.counter }}" style="display: none;">
                        <td colspan="3">
                            <table>
                                <tr>
                                    <th>Possible answers</th>
                                </tr>
                                {% for ans in q.answers %}
                                    <tr>
                                        <td data-correct="{{ ans.correct }}"> {{ ans.text }} </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </td>

                        <td colspan="3">
                            <table>
                                <tr>
                                    <th>Category</th>
                                </tr>
                                <tr>
                                    <td>{{ q.category.name }}</td>
                                </tr>
                            </table>
                        </td>

                        <td colspan="3">
                            <table>
                                <tr>
                                    <th>Date proposed</th>
                                </tr>
                                <tr><td> {{ q.date_proposed }}</td></tr>
                            </table>
                        </td>
                        <td colspan="3">
                            <table>
                                <tr>
                                    <th>Feedback</th>
                                </tr>
                                {% if q.feedback and q.feedback.strip %}
                                    <tr>
                                        <td>{{ q.feedback }}</td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td>{% trans "No feedback yet." %}</td>
                                    </tr>
                                {% endif %}
                            </table>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    </div>
{% endblock %}

