{% extends 'site_base.html' %}

{% block scripts %}
    <script type="text/javascript" src="/static/js/tabs.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/tabs.css" />
{% endblock %}

{% block title %}Inbox{% endblock %}

{% block content %}

<div class="actions">
<a href="{% url create %}">Create message</a>
</div>

<h2>Messages</h2>

<ul class="tabs">
        <li><a href="#rec">Received</a></li>
        <li><a href="#sent">Sent</a></li>
        <li><a href="#all">All</a></li>
</ul>

<div class="tab_container">
    <div id="rec" class="tab_content">
        <table id="Messages">
            <tr>
                <th>From</td>
                <th>To</td>
                <th>Subject</td>
            </tr>
            {% for msg in messages_rec %}
                <tr>
                    <td>{{msg.sender}}</td>
                    <td>{{msg.receiver}}</td>
                    <td>{{msg.subject}}</td>
                </tr>
            {% empty %} <tr> <td colspan=3>No messages.</td></tr>
            {% endfor %}
        </table>
    </div>

    <div id="sent" class="tab_content">
        <table id="Messages">
            <tr>
                <th>From</td>
                <th>To</td>
                <th>Subject</td>
            </tr>
            {% for msg in messages_sent %}
                <tr>
                    <td>{{msg.sender}}</td>
                    <td>{{msg.receiver}}</td>
                    <td>{{msg.subject}}</td>
                </tr>
            {% empty %} <tr> <td colspan=3>No messages.</td></tr>
            {% endfor %}
        </table>
    </div>

    <div id="all" class="tab_content">
        <table id="Messages">
            <tr>
                <th>From</td>
                <th>To</td>
                <th>Subject</td>
            </tr>
            {% for msg in messages_all %}
                <tr>
                    <td>{{msg.sender}}</td>
                    <td>{{msg.receiver}}</td>
                    <td>{{msg.subject}}</td>
                </tr>
            {% empty %} <tr> <td colspan=3>No messages.</td></tr>
            {% endfor %}
        </table>
    </div>
    
    <div id="message"></div>
    
    <script language="javascript" type="text/javascript">
        tabToURL("rec", "{% url quiet_home box='rec' quiet='q' %}")
        tabToURL("sent", "{% url quiet_home box="sent" quiet='q' %}")
        tabToURL("all", "{% url quiet_home box="all" quiet='q' %}")
        $('#rec').trigger('custom')
    </script>
</div>
{% endblock %}
