{% load i18n %}
<div>
    <table id="Messages">
        <tr>

            <th width="10%">{% trans 'Delete' %}</th>
            {% if box != 'sent' %}
                <th width="25%">{% trans 'From' %}</th>
            {% endif %}

            {% if box != 'rec' %}
                <th width="25%">{% trans 'To' %}</th>
            {% endif %}

            <th width="70%">{% trans 'Subject' %}</th>
            <th width="25%">{% trans 'Date' %}</th>
        </tr>
        {% for msg in messages_list %}
            <tr {% if msg.read %}class="read"{% else %}class="unread"{% endif %}>
		        <td><a class="button-min" href="{% url delete_msg msg.id%}" onclick="return confirm('really?');">✕</a></td>
                {% if box != 'sent' %}
                <td nowrap>{% if msg.sender %}{{msg.sender}}{% else %}{% trans 'System' %}{% endif %}</td>
                {% endif %}
                {% if box != 'rec' %}
                <td nowrap>{{msg.receiver}}</td>
                {% endif %}
                <td><a href="" onclick="return messagingView({{msg.id}});">{% if msg.subject %}{{msg.subject}}{% else %}(no subject){% endif %}</a></td>
                <td nowrap>{{ msg.timestamp }}</td>
            </tr>
        {% empty %} <tr> <td colspan=3>{% trans 'No messages.' %}</td></tr>
        {% endfor %}
    </table>

        <div id="pagination">
            <span id="previous-step">
            {% if messages_list.has_previous %}
            <a id="previous" href="" onclick="getMessages(event, {{ messages_list.previous_page_number }}, '{% url quiet_home quiet='q' box=box %}');">{% trans 'Newer messages' %}</a>
            {% endif %}
            </span>

            <span id="current-step">
                {% trans 'Page' %} {{ messages_list.number }} {% trans 'of' %} {{ messages_list.paginator.num_pages }}
            </span>

            <span id="next-step">
            {% if messages_list.has_next %}
            <a id="next" href="" onclick="getMessages(event, {{ messages_list.next_page_number }}, '{% url quiet_home quiet='q' box=box %}'); ">{% trans 'Older messages' %}</a>
            {% endif %}
            </span>
        </div>
</div>
