{% load i18n %}
<div>
    <table id="Messages">
        <tr>
            {% if box != 'sent' %}
            <th>From</th>
            {% endif %}
            {% if box != 'rec' %}
            <th>To</th>
            {% endif %}
            <th width="100%">Subject</th>
            <th>Date</th>
        </tr>
        {% for msg in messages %}
            <tr {% if msg.read %}class="read"{% else %}class="unread"{% endif %}>
                {% if box != 'sent' %}
                <td nowrap>{{msg.sender}}</td>
                {% endif %}
                {% if box != 'rec' %}
                <td nowrap>{{msg.receiver}}</td>
                {% endif %}
                <td><a href="" onclick="return messagingView({{msg.id}});">{% if msg.subject %}{{msg.subject}}{% else %}(no subject){% endif %}</a></td>
                <td nowrap>{{ msg.timestamp }}</td>
            </tr>
        {% empty %} <tr> <td colspan=3>{% trans 'No messages.' %}</td></tr>
        {% endfor %}
    </table>
</div>
