{% extends 'sidebar_widget.html' %}
{% load i18n %}

{% block title %}Question of the Day{% endblock %}

{% block content %}

{% if question %}
    {% if quser.has_answered %}
        {% if quser.last_answer_correct %}
        {% trans 'You have answered correctly for today'%}
        {% else %}
        {% trans 'You have answered wrong for today'%}
        {% endif %}
    {% else %}
    <a href="{% url games.qotd.views.index %}" class="button little">{% trans 'Answer now' %}</a>!
    {% endif %}
{% else %}
    {% trans 'No question for today' %}.
{% endif %}

{% endblock %}
