{% extends 'site_base.html' %}
{% load i18n %}
{% load artifacts %}
{% load user %}
{% block title %}{{block.super}} -- Chatbox{% endblock %}

{% block scripts %}

<script type="text/javascript" src="/static/js/chatbox.js"></script>


<LINK rel="stylesheet" type="text/css" href="/static/css/chatbox.css" />
{% endblock %}

{% csrf_token %}
{% block content %}
</br>
</br>
<div id="Contactbox" onmouseover="show_contact_box()" onmouseout="on_userlist_mouseout()">
    <table>
        <tr>
            <td><div id="ContactboxName"></div></td>
            <td><div id="ContactboxAvatar" style="padding: 5px"></div></td>
        </tr>
        <tr>
            <td colspan= "2"><hr></td>
        </tr>
        <tr>
            <td colspan = "2" style="text-align: right;">
                              <input type="button" class="contactaction" id="ContactboxProfileButton" value="P" title="View profile"/>
                              <input type="button" class="contactaction" id="ContactboxMesajeButton"  value="M" title="Send a message"/>
                              <input type="button" class="contactaction" id="ContactboxChatButton"    value="C" title="Make a private conversation"/><td>
        </tr>

    </table>

</div>

<div id="Globalbox">
    <table >

        <tr><td colspan="1"><div id="GlobalboxTextArea"></div></td>
            <td colspan="1"><div id="GlobalboxUserList"></div></td>
        </tr>
        <tr>
            <td colspan = "1"><input type="text" id="GlobalboxTextBox"/></td>
            <td colspan = "1"><input type="button" class="caction" id="GlobalboxProfileButton"   value="P" title="View profile"/>
                              <input type="button" class="caction" id="GlobalboxMesajeButton"    value="M" title="Send a message"/>
                              <input type="button" class="caction" id="GlobalboxChatButton"      value="C" title="Make a private conversation"/>
                              <input type="button" class="caction" id="GlobalboxSpellButton"     value="S" title="Cast a spell on this player"/>
                              <input type="button" class="caction" id="GlobalboxChallengeButton" value="F" title="Challenge this player"/>
            <td>
        </tr>
        <tr>
            <td colspan = "1"><input type="button" id="GlobalboxSendButton" value="Send"/><td>


        </tr>
    </table>

</div>



<div id="PrivatebarUsers"></div>
<div id="PrivateChatBoxes"></div>


{% endblock %}

