{% load user %}
{% load artifacts %}
{% load i18n %}
<!--
<script type="text/javascript" src="/static/js/contactbox.js"></script>

<ul class="simple">
{% for u in last %}
    <li><a href="#" rel="{{u}},{{u.points}},{% player_avatar u%},{{ u.level_no }},{{u.id}},0"
           class="cl_item cplayer" id="cl_{{u.id}}" onclick="on_userlist_select('{{u.id}}','{{u.user.username}}')" > {{u.user.username}}
    </a></li>
{% endfor %}
</ul>
-->

<ul class="simple">
    {% for u in last %}
    <li><a href="#" onmouseover="on_userlist_mouseover('{{u}}','{{u.points}}','{% player_avatar u%}','{{ u.level_no }}','{{u.id}}','0')"
           onmouseout="on_userlist_mouseout()"
           class="cl_item" id="cl_{{u.id}}" onclick="on_userlist_select('{{u.id}}','{{u.user.username}}')" > {{u.nickname}}
    </a></li>
    {% endfor %}
</ul>
