{% load user %}

    <br>
    <table>
        <td>
            <div style="text-align:center">
                Hey muchachos,
            </div>
            <br>
            <br>
            In zilele astea e tot mai greu sa gasesti o persoana de incredere printre atatia dusmani. Te vad o persoana
            cinstita, iar la cererea ta iti pot dezvalui secretele tinutului. Te rog numai, sa imi spui cat mai concret,
            perioada de timp care te intereseaza.
        </td>
        <td>
            <img border="0" src="/static/img/mexicanmanwithsomreroballoon.jpg" alt="Pulpit rock" width="150" height="150">
            
        </td>
    </table>
