{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'Django site admin' %}{% endblock %}

{% block branding %}
    <h1 id="site-name">{% trans 'Django administration' %}</h1>
    <a style="padding: 4px; min-width: 80px; margin-bottom: 10px; margin-right: 10px;
          background: #7CA0C7 url(../img/default-bg.gif) top left repeat-x;
          display: inline-block; text-align: center; float: right;" href="{% url status %}">Back to CPanel</a>
{% endblock %}

{% block nav-global %}{% endblock %}
