{% extends 'workshop/cpanel/index.html' %}

{% load workshop %}
{% load i18n %}
{% load bootstrap %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Add semigroup" "ws_add_group" %}
{% endblock %}

{% block tabcontent %}

    <br/>
    <div class="col-md-8">
        <form class="form-horizontal" role="form" action="{% url ws_add_group %}" method="post">
            {{ form|bootstrap_horizontal }}
            <button class="btn btn-primary" type="submit">
                <span class="glyphicon glyphicon-plus"></span>{% trans 'Add' %}
            </button>
            {% csrf_token %}
        </form>
    </div>

{% endblock %}
