{% extends 'workshop/cpanel/index.html' %}

{% load workshop %}
{% load i18n %}
{% load bootstrap %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Edit semigroup" "ws_edit_group" %}
{% endblock %}

{% block tabcontent %}

    <br/>
    <div class="col-md-8">
        <form class="form-horizontal" role="form" action="{% url ws_edit_group instance.pk %}" method="post">
            {{ form|bootstrap_horizontal }}
            <button class="btn btn-primary" type="submit">{% trans 'Submit' %}</button>
            {% csrf_token %}
        </form>
    </div>

{% endblock %}
