{% extends 'workshop/cpanel/index.html' %}
{% load workshop %}
{% load user %}
{% load i18n %}

{% block tabcontent %}
    <div class="container-fluid">
        {% for semigroup in semigroups %}
        <h3>{{ semigroup.get_room_display }}</h3>

        <hr/>

        <strong>Semigroup:</strong> {{ semigroup }}

        <br/>

        <strong>Spot:</strong>
        {% if semigroup.day %}day={{ semigroup.day }}, hour={{ semigroup.hour }}
        <a class="btn btn-success" href="{% url ws_edit_group semigroup.pk %}">
            <span class="glyphicon glyphicon-edit"></span>{% trans 'Edit' %}
        </a>.
        {% else %}Any time where there isn't any other one.{% endif %}

        <hr/>

        <h4><strong>Workshop history:</strong></h4>
        <ul>
            {% for w in semigroup.workshop_set.all %}
            <li>{{ w }}</li>
            {% endfor %}
        </ul>

        <hr/>

        <h4><strong>Students:</strong></h4>
        <table class="table table-bordered table-condensed table-hover">
            <tr>
                <th>#</th>
                <th>Player</th>
                <th>Group</th>
                <th>Race</th>
            </tr>
            {% for p in semigroup.players.all %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ p.user.last_name }} {{ p.user.first_name }} ({{ p.user.username}})</td>
                <td>{{ p.group }} <a target="blank" href="{% url group_set p.id %}">[{{ p.group.name }}]</a></td>
                <td>{{ p.race }}</td>
                <td><a href="{% url ws_kick_off p.id %}">remove</a></td>
            </tr>
            {% endfor %}
        </table>

        <p><strong>Total:</strong> {{ semigroup.players.count }}.</p>

        <form class="horizontal-form" action="?semigroup={{semigroup.id}}" method="post">
            {% player_input 'player' semigroup.id %}
            {% csrf_token %}
            <button class="btn btn-primary" type="submit">
                <span class="glyphicon glyphicon-plus"></span>{% trans 'Add' %}
            </button>
        </form>

    {% endfor %}

    </div>
        
{% endblock %}
