{% extends 'workshop/cpanel/index.html' %}
{% load workshop %}
{% load user %}

{% block tabcontent %}

{% for semigroup in semigroups %}
<h3>{{ semigroup.get_room_display }}</h3>
    Semigroup: {{ semigroup }},
    Spot: {% if semigroup.day %}day={{ semigroup.day }}, hour={{ semigroup.hour }}<a href="{% url ws_edit_group semigroup.pk %}">✍</a>.
          {% else %}Any time where there isn't any other one.{% endif %}

    <h4>Workshop history</h4>
    <ul>
        {% for w in semigroup.workshop_set.all %}
            <li>{{ w }}</li>
        {% endfor %}
    </ul>

    <h4>Students</h4>
        <table>
            <tr>
                <th>#</th>
                <th>Player</th>
                <th>Group</th>
                <th>Race</th>
            </tr>
            {% for p in semigroup.players.all %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ p.user.last_name }} {{ p.user.first_name }} ({{ p.user.username}})</td>
                <td>{{ p.group }} <a target="blank" href="{% url group_set p.id %}">[{{ p.group.name }}]</a></td>
                <td>{{ p.race }}</td>
                <td><a href="{% url ws_kick_off p.id %}">remove</a></td>
            </tr>
            {% endfor %}
        </table>
    <p>Total: {{ semigroup.players.count }}.</p>

    <form action="?semigroup={{semigroup.id}}" method="post">
        {% player_input 'player' semigroup.id %}
        {% csrf_token %}
        <button type="submit">Add</button>
    </form>
{% endfor %}
{% endblock %}
