{% extends 'cpanel/index.html' %}
{% load workshop %}

{% block scripts %}
<link rel="stylesheet" type="text/css" href="{{ basepath }}/static/css/tabs.css" />
{% endblock %}

{% block sectiontitle %}Workshop{% endblock %}

{% block sectioncontent %}
<div class="actions">
    {% now "M. d, Y, H:i:s" %}
</div>

<ul class="tabs">
    <li {% if not page %}class="active"{% endif %}><a href="{% url workshop_home %}">Timetable</a></li>
    <li {% if page == 'schedule' %}class="active"{% endif %}><a href="{% url ws_schedule %}">Schedule</a></li>
    <li {% if page == 'workshops' %}class="active"{% endif %}><a href="{% url ws_workshops %}">Workshops</a></li>
</ul>

<div class="tab_container">
    <div id="tab-1" class="tab_content">

        <div class="subgroups">
        {% block information %}
            {% if info %}
        <p>
        Current spot: {{ info.get_spot }}<br/>
        Current group: {{ info.get_semigroups|join:", " }}<br/>
        Current qpool: {{ info.get_question_pool.count }}<br/>
        Default room: {{ info.default_room }}<br/>
        </p>{% endif %}
        {% if semigroups %}
            <strong>Semigroups:</strong>
            <ul>
                {% for s in semigroups %}
                <li>{{ s }} <a href="{% url ws_edit_group s.id %}">✍</a></li>
                {% endfor %}
            </ul>
        {% endif %}
        {% endblock %}
        </div>

        &nbsp;
        {% block tabcontent %}
            <div class="spacer-small">
            {% autoescape off %}{{ config_ws_cpanel_extra }}{% endautoescape %}
            </div>
            <div class="spacer-small"><!-- --></div>
        <table class="border">
            <tr>
                <th><em>Hour/Day</em></th>
                {% for d in days %}
                    <th><em>{{ d.1 }}</em></th>
                {% endfor %}
            </tr>
            {% for h in hours %}
            <tr>
                <td ALIGN="RIGHT"><em>{{ h }}:00</em></td>
                {% for d in days %}
                    <td width="115" {% if d.0 == info.get_spot.0 %}{% if h == info.get_spot.1 %}class="red"{% endif %}{% endif %}>
                        {% get_schedule d.0 h %}
                        <br/>
                        <br/>
                        <span class="points">
                            <a href="{% url ws_edit_spot d.0 h %}">✍spot</a>
                        </span>
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>


        <a class="button" href="{% url ws_add_group %}">Add semigroup</a>
        <a class="button" href="{% url ws_edit_spot 0 0 %}">Edit default spot</a>
        <br/>
        <a class="button" href="{% url ws_add_workshop %}"><strong>Add workshop</strong></a>
        {% endblock %}
    </div>
</div>
{% endblock %}
