{% extends 'workshop/cpanel/index.html' %}

{% load workshop %}
{% load i18n %}
{% load bootstrap %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Schedule" "ws_schedule" %}
    {% breadcrumb "Add schedule" "ws_schedule_change" %}
{% endblock %}

{% block tabcontent %}

    <br/>
    <div class="col-md-8">
        <form class=form-horizontal" method="post" role="form"
              action="{% if instance %}{% url ws_schedule_change instance.pk %}{% else %}{% url ws_schedule_change %}{%endif%}">
              {{ form|bootstrap_horizontal }}
            <button class="btn btn-primary" type="submit">{% trans 'Submit' %}</button>
            {% csrf_token %}
        </form>
    </div>

{% endblock %}
