{% extends 'workshop/cpanel/index.html' %}
{% load workshop %}
{% load i18n %}
{% load user %}

{% block sectiontitle %}Workshop{% endblock %}

{% block tabcontent %}

    <table>
      <tbody>
        <tr>
          <th>Name</th>
          <th>Students</th>
          <th>When</th>
        </tr>
      </tbody>
      {% if my_semigroups %}
      <tbody>
        <tr>
          <th colspan="3">Your semigroups</th>
        </tr>
        {% for s in my_semigroups %}
        <tr>
          <td>{{ s.name }}</td>
          <td>{{ s.players.count }}</td>
          <td>{{ s.info }}</td>
          <td><a href="{% url ws_gradebook semigroup=s.pk %}">Grades</a></td>
        </tr>
        {% endfor %}
      </tbody>
      {% endif %}
      <tbody>
        <tr>
          <th colspan="3">All semigroups</th>
        </tr>
        {% for s in all_semigroups %}
        <tr>
          <td>{{ s.name }}</td>
          <td>{{ s.players.count }}</td>
          <td>{{ s.info }}, {{ s.assistant }}</td>
          <td><a href="{% url ws_gradebook semigroup=s.pk %}">Details</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
