{% extends 'workshop/cpanel/index.html' %}

{% load i18n %}
{% load bootstrap %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Workshops" "ws_workshops" %}
    {% breadcrumb "Add workshop" "ws_add_workshop" %}
{% endblock %}

{% block tabcontent %}

    <br/>
    <div class="col-md-8">
        <form class="form-horizontal" method="post" role="form" action="">
            {{ form|bootstrap_horizontal }}
            <button class="btn btn-primary" type="submit">
                <span class="glyphicon glyphicon-plus"></span>{% trans 'Add' %}
            </button>
            {% csrf_token %}
        </form>
    </div>

{% endblock %}
