{% extends 'workshop/cpanel/index.html' %}
{% load workshop %}
{% load user %}
{% load i18n %}

{% block sectiontitle %}Workshop #{{ workshop.id }}{% endblock %}

{% block information %}
<div class="spacer"><!-- --></div>
    <h4>Actions</h4>
    <a href="?integrity_check=1">Integrity check</a>

    <h4>Help</h4>
    <p>
    Click on <strong>Upgrade grades</strong> to calculate final grades (after correcting the entire group).
    </p>
{% endblock %}

{% block tabcontent %}
    <h4>{{ workshop.semigroup }}, {{workshop.date}}, {{ workshop.active_until|date:"H:m" }}</h4>
    <p>Assessments and reviewers:</p>

<table>
    <tr>
        <th colspan="2">Student</th>
        <th>Ass Grade</th>
        <th>Review Grade</th>
        <th>Reviewer Grade</th>
        <th>Final (Ass + Reviewer/2)</th>
        <th></th>
        <th>Integrity</th>
    </tr>
    {% for ass in assessments %}
    <tr>
        <td colspan="2">{% player_simple ass.player real_name=True %}</td>
        <td>{{ ass.grade }}</td>
        <td><em>{{ ass.reviews_grade }}</em></td>
        <td>{{ ass.reviewer_grade }}</td>
        <td><strong>{{ ass.final_grade }}</strong></td>
        <td>
            {% if workshop.is_gradable %}
            <a class="button" href="{% url ws_grade_assessment ass.id %}" title="Review and grade"><strong>Grade</strong></a>
            {% endif %}

            <a class="button button-min" href="{% url ws_view_assessment workshop.id ass.id %}">view</a>
            <a class="button button-min" href="{% url ws_reset_assessment_reviews workshop.id ass.id %}" onclick="return confirm('are you sure? an angry mob will kill you if you do this');">reset</a>
        </td>
        <td>{% if integrity_check %}{{ ass.integrity }}{% else %}-{% endif %}</td>
        <td valign="top" rowspan="2">
            {% for a in ass.real_reviewers %}
                {{ a }},
            {% endfor %}
        </td>
    </tr>
        {% for r in ass.reviewers.all %}
        <tr>
            <td>{{ forloop.counter }}.</td>
            <td>{% player_simple r real_name=True %}</td>
            <td></td>
            <td>{% get_ass_reviewer_grade ass r %}</td>
            <td><em>{% get_ass_review_grade ass r %}</em></td>
        </tr>
        {% endfor %}
    {% endfor %}
</table>

    <a class="button" href="{% url ws_workshops %}">Workshops</a>
    {% if workshop.is_reviewable %}
    <a class="button" onclick="return confirm('are you sure?');" href="{% url ws_mark_for_grading workshop.id %}">Mark for grading</a><br/>
    {% endif %}
    {% if workshop.is_gradable %}
    <a class="button" href="{% url ws_update_grades workshop.id %}">Update grades</a>
    {% endif %}
    <a class="button" href="{% url ws_gradebook workshop.semigroup.id %}">Gradebook</a>
{% endblock %}
