{% extends 'workshop/cpanel/index.html' %}
{% load workshop %}
{% load user %}
{% load i18n %}

{% block sectiontitle %}Workshop #{{ assessment.workshop.id }}{% endblock %}

{% block tabcontent %}
<h4>Grade assessment #{{ assessment.id }} {{ assessment.player }} [{{ assessment.player.group.name }}]</h4>
<p> of player: {% player_simple assessment.player %} for workshop {{ assessment.workshop }}:</p>
<p>Final grade: {{ assessment.grade }}.</p>

<form method="post" action="">
    <ul class="spaced">
        {% for a in assessment.answer_set.all %}
        <li>{{ forloop.counter }}. {{ a.question.text }}
            <p> <em>{% trans 'Answer' %}:</em>
                <tt>{{ a.text }}</tt>
            <ul class="spaced">
                {% for r in a.review_set.all %}
                    {% if r.reviewer != user.get_profile %}
                    <li>
                        <strong>{{ r.reviewer }}:</strong>
                        <tt>{{ r.feedback }}</tt>
                        <br/>
                        <em>grade:</em> <strong>{{ r.answer_grade }}</strong>,
                        <em>review grade:</em>
                        <select name="review_grade_{{ r.id }}">
                            <option></option>
                            <option {% if r.review_grade == 0 %}selected{% endif %}>0</option>
                            <option {% if r.review_grade == 1 %}selected{% endif %}>1</option>
                            <option {% if r.review_grade == 2 %}selected{% endif %}>2</option>
                        </select>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>

            <table>
                <tr>
                    <td>
                        <span class="red">
                        Answer Grade:</span>
                        <select name="grade_{{ a.id }}">
                            <option></option>
                            <option {% if a.grade == 0 %}selected{% endif %}>0</option>
                            <option {% if a.grade == 1 %}selected{% endif %}>1</option>
                            <option {% if a.grade == 2 %}selected{% endif %}>2</option>
                        </select>
                    </td>
                    <td>
                        <span class="red">
                        Feedback: <br/></span>
                        <textarea name="feedback_{{ a.id }}" rows="4" cols="60">{% get_answer_feedback a user.get_profile %}</textarea><br/>
                    </td>
                </tr>
            </table>
            </p>
        </li>
        {% endfor %}
    </ul>
    {% csrf_token %}

    <button type="submit" name="submit" value="save_go_back">Save and return</button>
    <!--<button type="submit" name="submit" value="save_go_next">Save and see next</button>-->
</form>

<a class="button" href="{% url ws_reviewers_map assessment.workshop.id %}">Back to review</a>
{% endblock %}
