{% extends 'workshop/cpanel/index.html' %}
{% load workshop %}
{% load user %}
{% load i18n %}

{% block sectiontitle %}Workshop {{ assessment.workshop.title }}{% endblock %}

{% block tabcontent %}
<h4>Grade assessment #{{ assessment.id }} {{ assessment.player }} [{{ assessment.player.group.name }}]</h4>
<p> of player: {% player_simple assessment.player real_name=True %} for workshop {{ assessment.workshop }}:</p>
<p>Final grade: {{ assessment.grade }}.</p>

<form method="post" action="">
    <ul class="spaced">
        {% for a in assessment.answer_set.all %}
        <li>{{ forloop.counter }}. {{ a.question|safe }}
            <p> <em>{% trans 'Answer' %}:</em>
                <tt>{{ a|safe }}</tt>
            <ul class="spaced">
                {% for r in a.review_set.all %}
                    {% if r.reviewer != user.get_profile %}
                    <li>
                        <strong>{{ r.reviewer }}:</strong>
                        <tt>{{ r.feedback }}</tt>
                        <br/>
                        <em>grade:</em> <strong>{{ r.answer_grade }}</strong>,
                        <em>review grade:</em><br/>
                        <input class="inline" type="radio" {% if r.review_grade == 0 %}checked="checked"{% endif %} name="review_grade_{{r.id}}" id="rinput_grade_{{ r.id }}0" value="0" /><label class="checkbox inline" for="rinput_grade_{{ r.id }}0">0</label>
                        <input class="inline" type="radio" {% if r.review_grade == 1 %}checked="checked"{% endif %} name="review_grade_{{r.id}}" id="rinput_grade_{{ r.id }}1" value="1" /><label class="checkbox inline" for="rinput_grade_{{ r.id }}1">1</label>
                        <input class="inline" type="radio" {% if r.review_grade == 2 %}checked="checked"{% endif %} name="review_grade_{{r.id}}" id="rinput_grade_{{ r.id }}2" value="2" /><label class="checkbox inline" for="rinput_grade_{{ r.id }}2">2</label>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>

            <table>
                <tr>
                    <td>
                        <span class="red">
                        Answer Grade:</span><br/>
                        <input type="radio" {% if a.grade == 0 %}checked{% endif %} name="grade_{{a.id}}" value="0" id="rgrade_{{ a.id }}0" /><label class="checkbox" for="rgrade_{{ a.id }}0">0</label>
                        <input type="radio" {% if a.grade == 1 %}checked{% endif %} name="grade_{{a.id}}" value="1" id="rgrade_{{ a.id }}1" /><label class="checkbox" for="rgrade_{{ a.id }}1">1</label>
                        <input type="radio" {% if a.grade == 2 %}checked{% endif %} name="grade_{{a.id}}" value="2" id="rgrade_{{ a.id }}2" /><label class="checkbox" for="rgrade_{{ a.id }}2">2</label>
                    </td>
                    <td>
                        <span class="red">
                        Feedback: <br/></span>
                        <textarea name="feedback_{{ a.id }}" rows="4" cols="60">{% get_answer_feedback a user.get_profile %}</textarea><br/>
                    </td>
                </tr>
            </table>
            </p>
        </li>
        {% endfor %}
    </ul>
    {% csrf_token %}

    <button type="submit" name="submit" value="save" title="Save and stay on this page" class="btn btn-primary">Save</button>
    <button type="submit" name="submit" value="save_return" title="Save and return to semigroup" class="btn btn-warning">Save and return</button>
    {% if next_ass %}
    <button type="submit" name="submit" value="save_next" class="btn btn-success">Save and see next</button>
    {% endif %}
</form>

<a class="btn btn-warning" href="{% url ws_reviewers_map assessment.workshop.id %}">Back to review</a>
{% endblock %}
