{% extends 'workshop/cpanel/index.html' %}
{% load workshop %}
{% load i18n %}

{% block sectiontitle %}Workshop #{{ workshop.id }}{% endblock %}

{% block tabcontent %}
<p>Assessments and reviewers:</p>

<table>
    <tr>
        <th colspan="2">Student</th>
        <th>Grade</th>
        <th>Review</th>
        <th>Final</th>
    </tr>
    {% for as in workshop.assessment_set.all %}
    <tr>
        <td colspan="2">{{ as.player }}</td>
        <td><strong>{{ as.grade }}</strong></td>
        <td>{{ as.reviewer_grade }}</td>
        <td>{{ as.final_grade }}</td>
        <td>{% if workshop.is_gradable %}
            <a href="{% url ws_grade_assessment as.id %}">Grade</a>
            {% endif %}
        </td>
    </tr>
        {% for r in as.reviewers.all %}
        <tr>
            <td></td>
            <td>{{ r }}</td>
            <td>{% get_reviewer_grade workshop r %}</td>
        </tr>
        {% endfor %}
    {% endfor %}
</table>

    <a class="button" href="{% url ws_workshops %}">Workshops</a>
{% endblock %}
