{% extends 'workshop/cpanel/index.html' %}
{% load workshop %}
{% load i18n %}

{% block sectiontitle %}Workshop{% endblock %}

{% block tabcontent %}
    <table>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Semigroup</th>
            <th>Assesments</th>
            <th>Status</th>
        </tr>
        {% for w in workshops%}
        <tr>
            <td>
                {{ w.id }}
            </td>
            <td>{{ w.date }}</td>
            <td>{{ w.semigroup }}</td>
            <td align="right">{{ w.assesment_set.count }}</td>
            <td>{% if w.is_active %}Active until {{ w.active_until|date:"H:i" }}
                {% else %}Inactive, expired {{ w.active_until|date:"M. d, Y, H:i:s" }}
                {% endif %}
                <br/>
                {{ w.get_status_display }}
            </td>
            <td>
                <a href="{% url admin:workshop_workshop_change w.id %}">✍</a>
                {% if w.is_started and not w.is_active %}
                <a href="{% url ws_mark_for_review w.id %}">Mark for review</a>
                {% endif %}
                {% if not w.is_started %}
                <a href="{% url ws_reviewers_map w.id %}">Reviewers map</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
