{% extends 'workshop/cpanel/index.html' %}
{% load user %}
{% load workshop %}
{% load i18n %}

{% block sectiontitle %}Workshop #{{ workshop.id }} - Assessments{% endblock %}

{% block tabcontent %}
{% if assessment %}
        <h3>Assessment #{{ assessment.id }}</h3>
        <h4>{% player_simple assessment.player real_name=True %}, {{ assessment.workshop.semigroup }}, {{ assessment.player.group.name }}, {{ assessment.workshop.date }}</h4>
        <ol>
            {% for a in assessment.answer_set.all %}
            <li>{{ a.question }}
                <br/>
                <pre>{{ a }}</pre>
                <ul>
                    {% for review in a.review_set.all %}
                        {% if review.reviewer.in_staff_group %}
                        <li><span class="red">{{ review.reviewer }}: - [{{ a.grade }}] {{ review.feedback }}</span>

                        </li>
                        {% else %}
                        <li><span>{{ review.reviewer }}: [{{ review.answer_grade }}] - {{ review.feedback }}</span> <span class="red">[{{ review.review_grade }}]</span></li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <br/>
            </li>
            {% endfor %}
        </ol>
    {% if user.is_superuser %}
<a class="button" href="{% url ws_edit_assessment workshop.id assessment.id %}">Edit</a>
    {% endif %}
<a class="button" href="{% url ws_view_assessments workshop.id %}">All assessments</a>
{% else %}
        <h3>Workshop #{{workshop.id}}</h3>
        <h4>{{ workshop.semigroup }}, {{workshop.date}}</h4>
        <ul class="spaced">
            {% for ass in workshop.assessment_set.all %}
            <li>#{{ ass.id }} - {% player_simple ass.player real_name=True %} [{% if ass.answered %}answered{% endif %}]
                <a href="{% url ws_view_assessment workshop.id ass.id %}">view</a>
                {% if user.is_superuser %}
                <a href="{% url ws_edit_assessment workshop.id ass.id %}">edit</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>

        <p>Total: {{ workshop.assessment_set.all.count }}</p>
        <a class="button" href="{% url ws_workshops %}">Workshops</a>
        <a class="button" href="{% url ws_reviewers_map workshop.pk %}">Grades</a>
{% endif %}
{% endblock %}
