{% extends 'workshop/cpanel/index.html' %}

{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Workshops" "ws_workshops" %}
    {% breadcrumb "Add workshop" "ws_add_workshop" %}
{% endblock %}

{% block tabcontent %}

    <form class="horizontal-form" method="post">
        <table>
            {{ form.as_table }}
        </table>
        <button class="btn btn-primary" type="submit">
            <span class="glyphicon glyphicon-plus"></span>{% trans 'Add' %}
        </button>
        {% csrf_token %}
    </form>

{% endblock %}