{% extends 'cpanel/index.html' %}

{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block sectiontitle %}
    Quizzes
    <div class="pull-right">
        <a class="btn btn-primary" href="{% url add_quiz %}">
            <span class="glyphicon glyphicon-plus"></span>{% trans 'Add quiz'%}
        </a>
    </div>
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Quiz" "list_quizzes" %}
{% endblock %}

{% block sectioncontent %}

<div class="col-md-12">
    <table class="table table-bordered table-hover">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Tags</th>
            <th>Questions</th>
            <th>Time Limit</th>
            <th>Active</th>
            <th>Manage</th>
        </tr>
        {% if quizzes %}
            {% for q in quizzes %}
            <tr>
                <td>{{ q.id }}</td>
                <td>{{ q.name }}</td>
                <td></td>
                <td>{{ q.number_of_questions }}</td>
                <td>{{ q.time_limit }}</td>
                <td></td>
                <td>
                    Edit
                    <a class="btn btn-danger btn-xs" href="{% url delete_quiz q.id %}" onclick="return confirm('Really?');">
                        <span class="glyphicon glyphicon-remove"></span>{% trans 'Delete' %}
                    </a>
                </td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="7">No quizzes added yet</td>
            </tr>
        {% endif %}
    </table>
</div>

{% endblock %}